In [2]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
# Show all columns
pd.set_option('display.max_columns', None)
# data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Projekt_Kandidat2/dataNew.csv')
# Do not show the full lists of values in the columns 
pd.set_option('display.max_colwidth', 50)

# data

### Laver selve filteret

In [3]:
# Show only calc_data, patient_ID and from_datetime # Also show sleep_score duration    duration_in_bed duration_awake  duration_in_sleep   duration_in_rem duration_in_light   duration_in_deep    duration_sleep_onset    bedexit_duration    sleep_data  bedexit_count   bedexit_data    
# data = data[['calc_data', 'patient_ID', 'from_datetime', 'sleep_score', 'duration', 'duration_in_bed', 'duration_awake', 'duration_in_sleep', 'duration_in_rem', 'duration_in_light', 'duration_in_deep', 'duration_sleep_onset', 'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data']]
# Each row is a night of sleep. In calc_data we have [TIMESTAMP, HEART_RATE, RESPIRATION_RATE, ACTIVITY] for each 4 seconds. In sleep_data [TIMESTAMP, SLEEP_CLASS_TYPE] hvert 10-20 minut (Sleep class types: 1 = deep, 2 = light, 3 = rem, 4 = awake). I want in calc_data rows lists to remove the data where sleep_data type er 4 (awake). Dvs. at hvergang unix timestamp i calc_data er lig med unix timestamp i sleep_data skal jeg fjerne data fra calc_data indtil at sleep_data ikke er 4 mere.
# "sleep_data":"[[1519416598,4],[1519418338,1],[1519418818,2],[1519419388,3],[1519419988,2],[1519421128,3],[1519422808,2],[1519424458,1],[1519425238,2],[1519426738,1],[1519428118,2],[1519429078,3],[1519430488,2],[1519431688,3],[1519432108,2],[1519434058,3],[1519434808,2],[1519436038,3],[1519436818,2],[1519438528,1],[1519439278,2],[1519439878,3],[1519440928,2],[1519442008,3],[1519442488,2],[1519443298,3],[1519444288,4],[1519445548,2],[1519445908,1],[1519446568,2],[1519447858,1],[1519449418,2],[1519449478,4],[1519450078,2],[1519451338,1],[1519452088,2],[1519452778,3],[1519453648,4]]"

# "calc_data":"[[1519416583,null,null,24],[1519416587,null,null,10],[1519416591,null,null,12],[1519416595,null,null,11],[1519416599,null,null,17],[1519416603,null,null,32],[1519416607,null,null,13],[1519416611,null,null,38],[1519416615,null,null,29],[1519416619,null,null,18],[1519416623,null,null,32],[1519416627,null,null,40],[1519416631,null,null,29],[1519416635,null,null,23],[1519416639,null,null,27],[1519416643,null,null,19],[1519416647,null,null,33],[1519416651,null,null,23],[1519416655,null,null,21],[1519416659,null,null,15],[1519416663,null,null,32],[1519416667,null,null,18],[1519416671,null,null,17],[1519416675,null,null,22],[1519416679,null,null,15],[1519416683,null,null,20],[1519416687,null,null,20],[1519416691,null,null,121],[1519416695,null,null,16],[1519416699,null,null,13],[1519416703,null,null,14],[1519416707,null,null,16],[1519416711,null,null,17],[1519416715,null,null,16],[1519416719,null,null,23],[1519416723,null,null,19],[1519416727,null,null,16],[1519416731,null,null,12],[1519416735,null,null,18],[1519416739,null,null,15],[1519416743,null,null,19],[1519416747,null,null,29],[1519416751,null,null,22],[1519416755,null,null,11],[1519416759,null,null,25],[1519416763,null,null,21],[1519416767,null,null,15],[1519416771,null,null,13],[1519416775,null,null,16],[1519416779,null,null,20],[1519416783,null,null,31],[1519416787,null,null,32],[1519416791,null,null,23],[1519416795,null,null,18],[1519416799,null,null,31],[1519416803,null,null,28],[1519416807,null,null,22],[1519416811,null,null,22],[1519416815,null,null,26],[1519416819,null,null,26],[1519416823,null,null,29],[1519416827,null,null,18],[1519416831,null,null,21],[1519416835,null,null,19],[1519416839,null,null,27],[1519416843,null,null,20],[1519416847,null,null,10],[1519416851,null,null,20],[1519416855,null,null,17],[1519416859,null,null,22],[1519416863,null,null,14],[1519416867,null,null,12],[1519416871,null,null,24],[1519416875,61,null,17],[1519416879,61,null,18],[1519416883,61,null,7],[1519416887,61,null,10]"
# calc_data indeholder langt flere timestamps end sleep_data. Jeg vil gerne have at hvergang timestamp i calc_data er lig med timestamp i sleep_data skal jeg fjerne data fra calc_data indtil at sleep_data ikke er 4 mere. Dvs. at jeg vil gerne have at calc_data indeholder kun timestamps som er lig med timestamps i sleep_data og hvor sleep_data ikke er 4.

# # Remove NaN values from sleep_data 
# data = data.dropna(subset=['sleep_data'])
# # Reset index
# data = data.reset_index(drop=True)
# ## Convert string in calc_data to list of lists
# # data['calc_data'] = data['calc_data'].apply(json.loads)
# data['sleep_data'] = data['sleep_data'].apply(json.loads)
# timestamps = []
# for i in range(len(data['sleep_data'])):
#     timestamps_i = []
#     for j in range(len(data['sleep_data'][i])-1):
#         curr_sublist = data['sleep_data'][i][j]
#         next_sublist = data['sleep_data'][i][j+1]
#         if curr_sublist[1] == 4:
#             for k in range(curr_sublist[0], next_sublist[0]):
#                 timestamps_i.append(k)
#             timestamps_i.append(k)
#     if data['sleep_data'][i][-1][1] == 4:
#         last_sublist = data['sleep_data'][i][-1]
#         for k in range(last_sublist[0], last_sublist[0] + 2000):
#             timestamps_i.append(k)
#                 # print(k)
#                 # print(len(data['sleep_data'][i]))
#     timestamps.append(timestamps_i)

#     #     # Handle the last sublist separately
#     # if data['sleep_data'][i][-1][1] == 4:
#     #     last_sublist = data['sleep_data'][i][-1]
#     #     for k in range(last_sublist[0], len(data['sleep_data'][i])):
#     #         print(k)
#     #         print(len(data['sleep_data'][i]))




# # #     print(timestamps_i)  # Print the list for debugging purposes
# # # print(timestamps)  # Print the main list for debugging purposes

# # Create a new column in the dataframe
# data['timestamps'] = timestamps

# # Save the dataframe to a csv file
# data.to_csv('data.csv', index=False)

# # # Only show sleep_data and timestamps
# # data = data[['sleep_data', 'timestamps']]
# # data

### Filter fra timestamp til calc_data

In [4]:
import ast
# data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Projekt_Kandidat2/dataNew.csv')

# # Convert string representations of lists to actual Python lists
# data['calc_data'] = data['calc_data'].apply(ast.literal_eval)
# data['timestamps'] = data['timestamps'].apply(ast.literal_eval)

# # Create a new column to hold the filtered values
# data['filtered_data'] = data['calc_data']

# # Loop through the values in the `calc_data` column
# for i in range(len(data['calc_data'])):
#     # Filter the sublists in the `calc_data` column based on timestamps
#     data['filtered_data'][i] = [x for x in data['calc_data'][i] if x[0] not in data['timestamps'][i]]

# # Assign the filtered values back to the `calc_data` column
# data['calc_data'] = data['filtered_data']
# # Drop the temporary `filtered_data` column
# data = data.drop('filtered_data', axis=1)



# # Save the dataframe to a csv file
# data.to_csv('dataNew1.csv', index=False)


# # # # Print all the timestamps for one row 
# # print(data['sleep_data'][3])     # Tjekker at data passer
# # print(data['timestamps'][3])

### Tjekker om filteret er korrekt

In [5]:
# data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Projekt_Kandidat2/dataNew.csv')
# # 1602209607 to 1602211317
# # 1602219987 to 1602221307
# # Print data for sleep_data row 3
# print(data['calc_data'][3])

### Frasorterer None værdier

In [6]:
# data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Projekt_Kandidat2/dataNew1.csv')

# # Print data['calc_data'] for patient-id == 510
# print(data['calc_data'][data['patient_ID'] == 510])

# print(data['calc_data'][2820])

# # Convert string representations of lists to actual Python lists
# data['calc_data'] = data['calc_data'].apply(ast.literal_eval)

# # Remove None 
# for i in range(len(data['calc_data'])):
#     data['calc_data'][i] = [x for x in data['calc_data'][i] if None not in x]


# # Save the dataframe to a csv file
# data.to_csv('dataNew1.csv', index=False)


# # Print data['calc_data'] for patient-id == 510
# print(data['calc_data'][data['patient_ID'] == 510])

# # print row 2820
# print(data['calc_data'][2820])

### Kigge på respirations rater

In [7]:
data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Projekt_Kandidat2/dataNew1.csv')

# # Convert string representations of lists to actual Python lists
# data['calc_data'] = data['calc_data'].apply(ast.literal_eval)


# # Print row for patient_id == 510
# print(data['calc_data'][data['patient_ID'] == 510])

# # Print unique values for third element in row 2820 to 2981
# for i in range(30, 40):
#     print(set([x[2] for x in data['calc_data'][i]]))
# # Now print the unique values for third element but for all the rows patient_ID == 510
# print(set([x[2] for x in data['calc_data'][data['patient_ID'] == 510]]))

### Selve detekteringen af søvnapnø

In [8]:
# Vi skal have 3 værdier i streg (12 sekunder) under 12 threshold (Formlen)
# Mindst 5 af dem pr. time over en søvncyklus for at have søvnapnø
# vi tager sleep duration (s) og dividerer med 3600 for at få timer. Så tager vi antallet af søvn apnøer og dividere med antallet af timer for at få antallet af søvn apnøer pr. time. Antallet af søvn apnøer pr. time skal være over 5 for at have søvnapnø. 
# Tag antallet af søvnscyklusser. Så tager vi antallet af søvn apnøer og dividere med antallet af søvnscyklusser for at få antallet af søvn apnøer pr. søvnscyklus. Antallet af søvn apnøer pr. søvnscyklus skal være over 5 for at have søvnapnø.

data

,Unnamed: 0,id,device,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid,patient_ID,AGEBL,GENDER,NYHABL,EFTITBL,EJREHABBL,EJFINISHBL,WEIGHTBL,HEIGHTBL,BPSYSBL,BPDIABL,HRB,from_datetime,"Blodtryk, Systolisk","Blodtryk, Diastolisk",Puls,Vægt,Skridt,timestamps
0,0,5f7e0ab04a207808e008dac6,1EFD48,1602086420,1602095731,58.6,9.1,285.9,"[[1602087640, 58, 15.6, 99], [1602087644, 58, ...",18.0,9311,9311,2430.0,6870.0,1740.0,4380.0,750.0,1230.0,0,"[[1602086439, 4], [1602087639, 2], [1602089829...",0,NaN,75,"[1602086436,1602086496,1602086512,1602086528,1...",180,51.0,110.0,4.0,20.0,0,NaN,0.0,"[[36.5,33.5,-2.9,0.92,-1.95],[36.1,32.6,-3.4,0...",48.0,15.0,85.0,"[[1602087771,48,13,87,0,156],[1602087951,37,14...",36.5,33.5,NaN,431,76.0,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0,2020-10-07 16:00:20,160.0,69.0,65.0,78.250000,862.0,"[1602086439, 1602086440, 1602086441, 160208644..."
1,1,5f7ec3b3765d9b08e03c5211,1EFD48,1602104992,1602143148,62.9,16.4,313.6,"[[1602106484, 59, 17.8, 103], [1602106488, 59,...",84.0,38156,38156,10110.0,27990.0,4830.0,16440.0,6720.0,1500.0,0,"[[1602105011, 4], [1602106481, 2], [1602107231...",0,NaN,299,"[1602105000,1602105020,1602105084,1602105120,1...",180,49.0,122.0,5.0,24.0,3,"[1602126450,1602129851,1602134789]",0.0,"[[55.4,51.9,-3.5,0.94,-0.46],[52.4,48.8,-3.7,0...",60.0,21.0,79.0,"[[1602106522,25,18,82,0,206],[1602106702,25,17...",55.4,51.9,NaN,431,76.0,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0,2020-10-07 21:09:52,160.0,69.0,65.0,78.250000,862.0,"[1602105011, 1602105012, 1602105013, 160210501..."
2,2,5f7f6eae2eb84708e0d88f54,1EFD48,1602175075,1602186881,58.8,7.8,134.1,"[[1602177408, 59, 6, 50], [1602177412, 58, 6, ...",23.0,11806,11806,3570.0,8220.0,1680.0,5040.0,1500.0,2130.0,0,"[[1602175091, 4], [1602177191, 2], [1602178391...",0,NaN,66,"[1602175096,1602175112,1602175128,1602175156,1...",180,53.0,77.0,4.0,20.0,0,NaN,0.0,"[[67.0,35.3,-31.7,0.53,-23.50],[49.0,49.0,0.0,...",70.0,36.0,64.0,"[[1602177325,70,40,60,0,132],[1602178586,61,37...",67.0,35.3,NaN,431,76.0,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0,2020-10-08 16:37:55,140.0,55.0,64.0,76.199997,2865.0,"[1602175091, 1602175092, 1602175093, 160217509..."
3,3,5f7ff574b2cf6908e0d28fcf,1EFD48,1602191290,1602221363,59.6,16.2,268.9,"[[1602192960, 60, 17, 129], [1602192964, 59, 1...",74.0,30073,28603,4710.0,25350.0,3960.0,16800.0,4590.0,1680.0,1470,"[[1602191307, 4], [1602192957, 2], [1602195057...",2,"[[1602221090,1602220063],[1602211152,1602210709]]",167,"[1602191520,1602191732,1602191748,1602191780,1...",180,51.0,120.0,7.0,26.0,0,NaN,2.0,"[[43.2,4.7,-38.5,0.11,-5.19],[39.5,36.2,-3.2,0...",36.0,19.0,81.0,"[[1602193181,22,25,75,0,232],[1602193361,26,22...",43.2,4.7,NaN,431,76.0,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0,2020-10-08 21:08:10,140.0,55.0,64.0,76.199997,2865.0,"[1602191307, 1602191308, 1602191309, 160219131..."
4,4,5f81553968df9708e069c7b1,1EFD48,1602278207,1602311453,60.3,16.1,285.7,"[[1602279834, 60, 16.1, 67], [1602279838, 60, ...",77.0,33246,31364,7920.0,25320.0,4080.0,14700.0,6540.0,1620.0,1882,"[[1602278225, 4], [1602279815, 2], [1602280805...",3,"[[1602309892,1602308800],[1602305244,160230482...",327,"[1602278262,1602278526,1602278550,1602278566,1...",180,51.0,128.0,6.0,26.0,1,[1602285137],2.0,"[[52.4,30.4,-21.9,0.58,-2.75],[48.6,30.0,-18.6...",43.0,18.0,82.0,"[[1602279917,38,19,81,0,229],[1602280097,42,18...",52.4,30.4,NaN,431,76.0,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0,2020-10-09 21:16:47,145.0,54.0,64.0,75.800003,3634.0,"[1602278225, 1602278226, 1602278227, 160227822..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4085,5589,63fc01e820c605178878f153,1C6994,1677443559,1677459841,68.1,15.5,245.5,"[[1677444211, 69, 16.8, 167], [1677444215, 69,...",46.0,16282,16282,1920.0,14370.0,3030.0,8370.0,2970.0,660.0,0,"[[1677443578, 4], [1677444208, 2], [1677445138...",0,NaN,54,"[1677443579,1677443591,1677443607,1677443623,1...",120,52.0,79.0,12.0,26.0,0,NaN,0.0,"[[27.0,24.7,-2.3,0.91,-0.60],[25.8,23.5,-2.3,0...",26.0,49.0,51.0,"[[1677444369,17,71,29,1,74],[1677444549,18,69,...",27.0,24.7,NaN,554,74.0,0.0,2.0,20.0,NaN,NaN,74.0,183.0,116.0,72.0,74.0,2023-02-26 20:32:39,142.0,70.0,62.0,77.550003,NaN,"[1677443578, 1677443579, 1677443580, 167744358..."
4086,5591,63fd6a99c578671848ceca64,1C6994,1677533318,1677552131,63.2,15.4,317.2,"[[1677534029, 63, 14.9, 176], [1677534033, 62,...",47.0,18813,18459,3120.0,15690.0,4320.0,8760.0,2610.0,720.0,354,"[[1677533336, 4], [1677534026, 2], [1677535556...",2,"[[1677551292,1677551100],[1677533585,1677533423]]",74,"[1677533589,1677533613,1677533625,1677533641,1...",120,48.0,90.0,13.0,19.0,0,NaN,1.0,"[[31.2,24.2,-7.1,0.77,-1.58],[33.0,29.2,-3.8,0...",33.0,53.0,47.0,"[[1677534034,58,65,35,1,537],[1677534214,51,58...",31.2,24.2,NaN,554,74.0,0.0,2.0,20.0,NaN,NaN,74.0,183.0,116.0,72.0,74.0,2023-02-27 21:28:38,NaN,NaN,NaN,78.500000,NaN,"[1677533336, 1677533337, 1677533338, 167753333..."
4087,5592,63febaf55a97a71848062b68,1C6994,1677616071,1677638369,69.1,15.5,204.5,"[[1677616689, 63, 14.5, 132], [1677616693, 63,...",68.0,22298,22236,990.0,21300.0,4260.0,13140.0,3900.0,630.0,62,"[[1677616088, 4], [1677616688, 2], [1677617228...",1,"[[1677616157,1677616095]]",64,"[1677616105,1677616177,1677616253,1677616285,1...",120,56.0,79.0,9.0,20.0,0,NaN,0.0,"[[36.2,15.7,-20.5,0.43,-3.51],[37.0,21.5,-15.5...",28.0,55.0,45.0,"[[1677616786,34,39,61,1,134],[1677616966,32,43...",36.2,15.7,NaN,554,74.0,0.0,2.0,20.0,NaN,NaN,74.0,183.0,116.0,72.0,74.0,2023-02-28 20:27:51,NaN,NaN,NaN,78.750000,NaN,"[1677616088, 1677616089, 1677616090, 167761609..."
4088,5593,640001b55d34f61848e4dbba,1C6994,1677702052,1677721997,64.8,15.4,434.6,"[[1677702912, 70, 14.9, 121], [1677702916, 70,...",57.0,19945,19945,1740.0,18210.0,6390.0,9390.0,2430.0,870.0,0,"[[1677702071, 4], [1677702911, 2], [1677704021...",0,NaN,82,"[1677702060,1677702076,1677702128,1677702156,1...",120,51.0,121.0,12.0,19.0,0,NaN,0.0,"[[28.2,17.7,-10.4,0.63,-2.09],[23.8,20.4,-3.4,...",24.0,60.0,40.0,"[[1677703042,20,51,49,0,91],[1677703223,21,49,...",28.2,17.7,NaN,554,74.0,0.0,2.0,20.0,NaN,NaN,74.0,183.0,116.0,72.0,74.0,2023-03-01 20:20:52,128.0,73.0,65.0,78.250000,NaN,"[1677702071, 1677702072, 1677702073, 167770207..."
4089,5594,64015d96c4832e1848f376ad,1C6994,1677790627,1677811024,61.9,15.6,327.5,"[[1677791399, 50, 15.3, 113], [1677791403, 50,...",63.0,20397,20397,960.0,19440.0,4920.0,11070.0,3450.0,780.0,0,"[[1677790646, 4], [1677791396, 2], [1677792596...",0,NaN,73,"[1677790643,1677790683,1677790699,1677790735,1...",120,48.0,97.0,13.0,26.0,0,NaN,0.0,"[[19.0,25.6,6.5,1.34,1.22],[19.2,22.1,2.9,1.15...",62.0,52.0,48.0,"[[1677791437,19,44,56,0,182],[1677791617,21,42...",19.0,25.6,NaN,554,74.0,0.0,2.0,20.0,NaN,NaN,74.0,183.0,116.0,72.0,74.0,2023-03-02 20:57:07,NaN,NaN,NaN,NaN,NaN,"[1677790646, 1677790647, 1677790648, 167779064..."