In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/DataPrep.csv')
data

,Unnamed: 0,id,device,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,...,HEIGHTBL,BPSYSBL,BPDIABL,HRB,from_datetime,"Blodtryk, Systolisk","Blodtryk, Diastolisk",Puls,Vægt,Skridt
0,0,5f7e0ab04a207808e008dac6,1EFD48,1602086420,1602095731,58.6,9.1,285.9,"[[1602086424,null,null,757],[1602086428,null,n...",18.0,...,192.0,130.0,45.0,59.0,2020-10-07 16:00:20,160.0,69.0,65.0,78.250000,862.0
1,1,5f7ec3b3765d9b08e03c5211,1EFD48,1602104992,1602143148,62.9,16.4,313.6,"[[1602104996,null,null,110],[1602105000,null,n...",84.0,...,192.0,130.0,45.0,59.0,2020-10-07 21:09:52,160.0,69.0,65.0,78.250000,862.0
2,2,5f7f6eae2eb84708e0d88f54,1EFD48,1602175075,1602186881,58.8,7.8,134.1,"[[1602175076,null,null,86],[1602175080,null,nu...",23.0,...,192.0,130.0,45.0,59.0,2020-10-08 16:37:55,140.0,55.0,64.0,76.199997,2865.0
3,3,5f7ff574b2cf6908e0d28fcf,1EFD48,1602191290,1602221363,59.6,16.2,268.9,"[[1602191292,null,null,80],[1602191296,null,nu...",74.0,...,192.0,130.0,45.0,59.0,2020-10-08 21:08:10,140.0,55.0,64.0,76.199997,2865.0
4,4,5f81553968df9708e069c7b1,1EFD48,1602278207,1602311453,60.3,16.1,285.7,"[[1602278210,null,null,172],[1602278214,null,n...",77.0,...,192.0,130.0,45.0,59.0,2020-10-09 21:16:47,145.0,54.0,64.0,75.800003,3634.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5590,5590,63fc11f76984a917887113e4,1C6994,1677443559,1677464007,68.7,15.6,372.2,"[[1677443563,null,null,248],[1677443567,null,n...",55.0,...,183.0,116.0,72.0,74.0,2023-02-26 20:32:39,142.0,70.0,62.0,77.550003,NaN
5591,5591,63fd6a99c578671848ceca64,1C6994,1677533318,1677552131,63.2,15.4,317.2,"[[1677533321,null,null,4],[1677533325,null,nul...",47.0,...,183.0,116.0,72.0,74.0,2023-02-27 21:28:38,NaN,NaN,NaN,78.500000,NaN
5592,5592,63febaf55a97a71848062b68,1C6994,1677616071,1677638369,69.1,15.5,204.5,"[[1677616073,null,null,0],[1677616077,null,nul...",68.0,...,183.0,116.0,72.0,74.0,2023-02-28 20:27:51,NaN,NaN,NaN,78.750000,NaN
5593,5593,640001b55d34f61848e4dbba,1C6994,1677702052,1677721997,64.8,15.4,434.6,"[[1677702056,null,null,23313],[1677702060,null...",57.0,...,183.0,116.0,72.0,74.0,2023-03-01 20:20:52,128.0,73.0,65.0,78.250000,NaN
5594,5594,64015d96c4832e1848f376ad,1C6994,1677790627,1677811024,61.9,15.6,327.5,"[[1677790631,null,null,256],[1677790635,null,n...",63.0,...,183.0,116.0,72.0,74.0,2023-03-02 20:57:07,NaN,NaN,NaN,NaN,NaN