## Data

In [10]:
# Import 
import pandas as pd
import numpy as np

####### pip install openpyxl

# convert xlsx to csv
df = pd.read_excel('FP1_HF_DataValues.xlsx')
df

,SubjectId,TimeMeasrd,DataSrcId,DataTypeId,DataTypeLabel,Value,Unit
0,49,2017-01-05 11:43:30,2,2,"Blodtryk, Systolisk",153.0,mmHg
1,49,2017-01-05 11:43:30,2,3,"Blodtryk, Diastolisk",84.0,mmHg
2,49,2017-01-05 11:43:30,2,4,Puls,66.0,BPM
3,49,2017-01-05 23:59:59,3,5,Skridt,8262.0,skridt
4,49,2017-01-06 11:24:25,2,1,Vægt,63.2,kg
...,...,...,...,...,...,...,...
135847,393,2018-12-29 23:59:59,3,5,Skridt,1979.0,skridt
135848,393,2018-12-30 20:20:01,3,5,Skridt,6669.0,skridt
135849,393,2019-04-23 11:40:00,1,2,"Blodtryk, Systolisk",134.0,mmHg
135850,393,2019-04-23 11:40:00,1,3,"Blodtryk, Diastolisk",76.0,mmHg
135851,393,2019-04-23 11:40:00,1,4,Puls,57.0,BPM