## Emfit

### Sbt152

In [89]:
# Import 
import pandas as pd
import numpy as np
import os

# Show all columns
pd.set_option('display.max_columns', None)

# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt152/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df1 = df
df1.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,59e9a40bd41d8c0045e62fc9,1F0B95,0,1508404086,1508484019,NaN,NaN,0,"[[1508483920,null,null,0],[1508483928,null,nul...",NaN,79933,79933,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,],0,,180,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,[],NaN,NaN,0
1,59ec7241d41d8c004569fae0,1F0B95,0,1508627624,1508667920,63.4,12.5,130.7,"[[1508627625,null,null,60],[1508627629,null,nu...",112,40296,39450,3120,37170,10560,21720,4890,840,846,"[[1508627640,4],[1508628450,2],[1508629770,1],...",1,"[[1508644545,1508643699]]",260,"[1508627629,1508627709,1508627973,1508628229,1...",180,45,103,6,21,0,,3,"[[42.4,24.5,-17.9,0.58,-1.66],[47.6,32.1,-15.5...",35,45,55,"[[1508628794,47,42,58,0,0],[1508629694,50,37,6...",42.4,24.5,0
2,59edb8e2d41d8c0045a1f035,1F0B95,0,1508717933,1508751497,64.3,12.8,115.9,"[[1508717936,null,null,14],[1508717940,72,null...",84,33564,32075,5580,27990,5430,17250,5310,1710,1489,"[[1508717951,4],[1508719631,2],[1508720471,1],...",2,"[[1508745172,1508744839],[1508741440,1508740284]]",196,"[1508717972,1508718124,1508718160,1508718176,1...",180,54,78,7,19,0,,2,"[[32.7,40.1,7.4,1.23,0.80],[34.5,38.9,4.4,1.13...",50,44,56,"[[1508718023,57,51,49,0,0],[1508719643,48,46,5...",32.7,40.1,0
3,59eedcc8d41d8c0045c86f88,1F0B95,0,1508799247,1508826256,65.7,13.2,94.5,"[[1508799251,56,null,37],[1508799255,56,null,4...",78,27009,27009,3000,24000,2670,15120,6210,1980,0,"[[1508799266,4],[1508801216,2],[1508802026,1],...",0,],153,"[1508799291,1508799315,1508799371,1508799391,1...",180,55,115,8,26,0,,0,"[[33.1,32.3,-0.8,0.98,-0.11],[34.0,35.8,1.7,1....",42,49,51,"[[1508799877,28,29,71,0,0],[1508800237,30,30,7...",33.1,32.3,0
4,59ef153ed41d8c00450acbc8,1F0B95,0,1508831740,1508840683,64.9,14.4,160.2,"[[1508831743,60,null,19],[1508831747,58,null,1...",15,8943,8855,2880,6060,1050,4170,840,1380,88,"[[1508831758,4],[1508833108,2],[1508833768,4],...",1,"[[1508834628,1508834540]]",68,"[1508831799,1508831847,1508832067,1508832331,1...",180,48,95,8,18,0,,1,"[[38.6,50.7,12.2,1.32,4.98],[40.7,48.1,7.4,1.1...",69,38,62,"[[1508831830,51,29,71,0,0],[1508832190,29,40,6...",38.6,50.7,0

### Sbt258

In [90]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt258/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df2 = df
df2.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a6c1bbe5f006d146cd6c3ba,001A89,NaN,1517006168,1517034363,53.8,13.1,260.9,"[[1517006169,null,null,265],[1517006173,null,n...",75,28195,28195,3870,24330,7590,12600,4140,1440,0,"[[1517006184,4],[1517007594,2],[1517007624,3],...",0,,136,"[1517006225,1517006273,1517006377,1517006469,1...",120,46,68,10,24,1,[1517033641],2,"[[17.1,16.9,-0.2,0.99,-0.03],[17.6,17.3,-0.2,0...",19,37,63,"[[1517006258,17,44,56,0,0],[1517006618,18,46,5...",17.1,16.9,NaN
1,5a6d7e0b113273146c22866b,001A89,NaN,1517089977,1517125088,48.5,13.2,225.7,"[[1517089978,null,null,922],[1517089982,null,n...",98,35111,34874,3330,31770,8340,18450,4980,1200,237,"[[1517089993,4],[1517091163,2],[1517092573,1],...",2,"[[1517097256,1517097110],[1517096720,1517096629]]",145,"[1517089982,1517090014,1517090086,1517090110,1...",120,43,76,8,25,0,,1,"[[14.0,30.8,16.8,2.20,1.75],[15.0,28.8,13.8,1....",33,40,60,"[[1517090426,14,59,41,0,0],[1517090786,15,57,4...",14.0,30.8,NaN
2,5a6ebc7b8f746f146c8a3f31,001A89,NaN,1517174451,1517206560,48.1,13.1,174.0,"[[1517174452,null,null,933],[1517174456,null,n...",88,32109,32109,3120,28980,8580,16590,3810,1530,0,"[[1517174467,4],[1517175967,2],[1517177197,1],...",0,,78,"[1517174460,1517174724,1517174756,1517174800,1...",120,41,57,10,24,0,,0,"[[18.7,21.1,2.4,1.13,0.27],[18.8,19.7,0.9,1.05...",23,49,51,"[[1517174542,22,36,64,0,0],[1517175081,20,39,6...",18.7,21.1,NaN
3,5a700e4a0a15cc146c38bde7,001A89,NaN,1517263254,1517293079,48.8,12.8,196.7,"[[1517263257,null,null,5417],[1517263261,null,...",84,29825,29676,3060,26760,8280,14160,4320,1020,149,"[[1517263272,4],[1517264262,2],[1517265702,1],...",1,"[[1517288550,1517288401]]",89,"[1517263257,1517263293,1517263313,1517263513,1...",120,43,59,10,23,0,,2,"[[23.8,14.7,-9.1,0.62,-1.13],[24.4,16.0,-8.4,0...",18,58,42,"[[1517263344,22,36,64,0,0],[1517263704,25,35,6...",23.8,14.7,NaN
4,5a71520708b589146c6ae394,001A89,NaN,1517350454,1517375944,47.4,12.8,218.0,"[[1517350457,null,null,131],[1517350461,null,n...",74,25490,25490,2280,23220,6570,12480,4170,870,0,"[[1517350472,4],[1517351312,2],[1517352902,1],...",0,,77,"[1517350485,1517352389,1517352409,1517352429,1...",120,42,59,10,23,0,,2,"[[25.3,15.8,-9.5,0.63,-1.36],[27.3,16.6,-10.6,...",19,51,49,"[[1517350544,29,29,71,0,0],[1517350904,29,29,7...",25.3,15.8,NaN

### Sbt261

In [91]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt261/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df3 = df
df3.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a6c20c197cd53146ceef156,001A88,NaN,1517007380,1517035691,64.2,17.9,859.4,"[[1517007383,null,null,118],[1517007387,null,n...",86,28311,28248,2130,26190,4080,16050,6060,960,63,"[[1517007398,4],[1517008328,2],[1517010218,1],...",1,"[[1517007464,1517007401]]",472,"[1517007479,1517007499,1517007515,1517007531,1...",120,50,140,10,26,0,,0,"[[22.9,18.4,-4.5,0.80,-0.60],[11.7,17.3,5.6,1....",26,52,48,"[[1517007734,12,70,30,0,0],[1517012054,12,59,4...",22.9,18.4,NaN
1,5a6d8e3d67f065146c15d7bf,001A88,NaN,1517092687,1517129207,59.8,17.7,538.7,"[[1517092690,null,null,41],[1517092694,null,nu...",95,36520,35506,3870,32640,6750,21480,4410,1020,1014,"[[1517092705,4],[1517093695,2],[1517094565,3],...",2,"[[1517097657,1517097289],[1517093342,1517092696]]",439,"[1517094574,1517095054,1517095398,1517095550,1...",120,49,150,6,26,0,,2,"[[19.8,23.5,3.7,1.18,0.40],[15.2,21.0,5.9,1.39...",26,73,27,"[[1517096132,16,63,37,0,0],[1517096492,15,61,3...",19.8,23.5,NaN
2,5a6eb8bfe9e426146c553fb1,001A88,NaN,1517181005,1517205623,63.9,16.7,532.3,"[[1517181009,null,null,7],[1517181013,null,nul...",74,24618,24618,810,23790,6540,14100,3150,420,0,"[[1517181024,4],[1517181414,2],[1517182854,3],...",0,,232,"[1517181813,1517181829,1517181849,1517181865,1...",120,50,121,7,26,0,,0,"[[20.7,19.1,-1.6,0.92,-0.25],[16.4,17.4,1.0,1....",25,66,34,"[[1517181275,14,38,62,0,0],[1517181635,14,48,5...",20.7,19.1,NaN
3,5a6ffdc3f433f3146c6f7f0b,001A88,NaN,1517262959,1517288861,54.9,15.2,396.7,"[[1517262961,null,null,48],[1517262965,null,nu...",76,25902,25081,2400,23490,4890,13620,4980,1890,821,"[[1517262976,4],[1517264836,2],[1517266036,3],...",3,"[[1517288562,1517288475],[1517264560,151726426...",133,"[1517262985,1517263009,1517266145,1517266741,1...",120,47,140,6,26,2,"[1517288599,1517288614]",0,"[[31.0,20.8,-10.2,0.67,-1.78],[23.3,19.5,-3.8,...",33,53,47,"[[1517267351,10,61,39,0,0],[1517267710,19,70,3...",31.0,20.8,NaN
4,5a72b2255b61ff146c029856,001A88,NaN,1517439390,1517466075,55.4,17.6,379.8,"[[1517439393,null,null,39],[1517439397,null,nu...",82,26685,26453,1830,24840,7530,12570,4740,630,232,"[[1517439408,4],[1517440008,2],[1517441718,3],...",1,"[[1517439767,1517439535]]",202,"[1517439521,1517442565,1517443081,1517443121,1...",120,47,131,8,25,0,,1,"[[27.9,24.0,-3.9,0.86,-0.55],[18.9,22.6,3.7,1....",27,69,31,"[[1517440037,16,52,48,0,0],[1517443638,16,63,3...",27.9,24.0,NaN

### Sbt264

In [92]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt264/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df4 = df
df4.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a6c1fb3e997e8146cbe2011,001A8D,NaN,1517012522,1517035426,69.3,14.2,157.5,"[[1517012525,74,null,2420],[1517012529,75,null...",65,22904,22904,2550,20340,4170,11880,4290,900,0,"[[1517012540,4],[1517013410,2],[1517014670,1],...",0,,62,"[1517012525,1517012621,1517012717,1517012765,1...",120,55,87,11,26,0,,1,"[[4.0,21.8,17.9,5.52,3.24],[13.7,21.1,7.4,1.54...",45,48,52,"[[1517014412,11,51,49,0,0],[1517017832,13,48,5...",4,21.8,NaN
1,5a6d636ed681f3146cd5e231,001A8D,NaN,1517088624,1517118255,66.3,15.2,166.2,"[[1517088627,null,null,680],[1517088631,null,n...",92,29631,29631,2040,27600,7170,14460,5970,1080,0,"[[1517088642,4],[1517089692,2],[1517091312,1],...",0,,50,"[1517088631,1517088767,1517088967,1517090499,1...",120,56,85,10,26,0,,1,"[[13.0,16.2,3.2,1.25,0.42],[12.9,15.6,2.6,1.20...",19,61,39,"[[1517090515,14,61,39,0,0],[1517091414,14,52,4...",13,16.2,NaN
2,5a6ebf2220ad2e146c80b8c6,001A8D,NaN,1517185144,1517207253,64.7,13.8,227.8,"[[1517185147,88,null,390],[1517185151,88,null,...",63,22109,22109,1800,20310,5220,12090,3000,660,0,"[[1517185162,4],[1517185792,2],[1517187052,1],...",0,,65,"[1517185171,1517185299,1517185411,1517185651,1...",120,45,126,11,25,0,,0,"[[9.7,21.2,11.5,2.18,1.93],[10.1,16.3,6.1,1.61...",19,53,47,"[[1517185414,8,66,34,0,0],[1517185774,7,66,34,...",9.7,21.2,NaN
3,5a70124f82aa15146cd3d9d2,001A8D,NaN,1517264666,1517294099,67.5,14.4,128.4,"[[1517264668,null,null,768],[1517264672,null,n...",81,29433,29433,2880,26550,5940,16350,4260,1080,0,"[[1517264683,4],[1517265733,2],[1517266783,1],...",0,,54,"[1517264760,1517264808,1517265064,1517265140,1...",120,54,90,6,26,0,,1,"[[18.0,13.0,-5.0,0.72,-0.62],[18.2,14.8,-3.4,0...",17,48,52,"[[1517264936,19,25,75,0,0],[1517265476,18,31,6...",18,13.0,NaN
4,5a717133c69257146c200e6b,001A8D,NaN,1517348120,1517383900,75.3,15.2,151.1,"[[1517348122,null,null,86],[1517348126,null,nu...",103,35780,35780,3210,32580,10290,17280,5010,1230,0,"[[1517348137,4],[1517349337,2],[1517350357,1],...",0,,72,"[1517348150,1517348506,1517348678,1517348766,1...",120,50,94,11,26,0,,1,"[[13.7,12.5,-1.2,0.91,-0.13],[15.1,14.9,-0.3,0...",16,55,45,"[[1517349470,12,50,50,0,0],[1517349830,13,51,4...",13.7,12.5,NaN

### Sbt271

In [93]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt271/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df5 = df
df5.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a6adcb1d41d8c005de28e8b,001A8A,NaN,1516922944,1516952728,58.4,12.2,153,"[[1516922948,null,null,1829],[1516922952,null,...",82,29784,29784,3780,26010,5910,14730,5370,2010,0,"[[1516922963,4],[1516924943,2],[1516925633,3],...",0,],91,"[1516922960,1516922976,1516922992,1516923012,1...",120,47,122,8,18,5,"[1516923814,1516923829,1516924221,1516924306,1...",1,"[[34.7,21.5,-13.2,0.62,-1.69],[36.5,22.6,-14.0...",27,54,46,"[[1516924567,46,50,50,0,0],[1516925304,44,50,5...",34.7,21.5,NaN
1,5a6bef73dadd34146c57bb4b,001A8A,NaN,1516949732,1517023071,88.2,18.3,294.8,"[[1516949734,90,null,230],[1516949738,90,null,...",NaN,73339,72770,NaN,NaN,NaN,NaN,NaN,NaN,569,NaN,2,"[[1517015479,1517014949],[1517007243,1517007204]]",89,"[1516950186,1516950870,1516950958,1516951018,1...",120,49,104,9,26,0,,NaN,"[[-1.4,26.8,28.1,-19.54,1.41],[18.2,42.5,24.3,...",146,50,50,"[[1516950903,18,37,63,0,0],[1517009854,9,25,75...",-1.4,26.8,NaN
2,5a6c2bf33cd2d4146ced805d,001A8A,NaN,1517025510,1517038513,87.6,16.5,257.7,"[[1517025512,null,null,129],[1517025516,null,n...",27,13003,13003,3330,9660,2460,5850,1350,660,0,"[[1517025527,4],[1517026157,2],[1517028677,3],...",0,,34,"[1517025868,1517025932,1517027580,1517027868,1...",120,52,115,11,26,0,,0,"[[11.9,16.6,4.6,1.39,1.81],[12.1,14.9,2.8,1.23...",25,63,37,"[[1517029201,17,29,71,0,0],[1517030100,17,38,6...",11.9,16.6,NaN
3,5a6bef73dadd34146c57bb4b,001A8A,NaN,1516949732,1517023071,88.2,18.3,294.8,"[[1516949734,90,null,230],[1516949738,90,null,...",NaN,73339,72770,NaN,NaN,NaN,NaN,NaN,NaN,569,NaN,2,"[[1517015479,1517014949],[1517007243,1517007204]]",89,"[1516950186,1516950870,1516950958,1516951018,1...",120,49,104,9,26,0,,NaN,"[[-1.4,26.8,28.1,-19.54,1.41],[18.2,42.5,24.3,...",146,50,50,"[[1516950903,18,37,63,0,0],[1517009854,9,25,75...",-1.4,26.8,NaN
4,5a6bef73dadd34146c57bb4b,001A8A,NaN,1516949732,1517023071,88.2,18.3,294.8,"[[1516949734,90,null,230],[1516949738,90,null,...",NaN,73339,72770,NaN,NaN,NaN,NaN,NaN,NaN,569,NaN,2,"[[1517015479,1517014949],[1517007243,1517007204]]",89,"[1516950186,1516950870,1516950958,1516951018,1...",120,49,104,9,26,0,,NaN,"[[-1.4,26.8,28.1,-19.54,1.41],[18.2,42.5,24.3,...",146,50,50,"[[1516950903,18,37,63,0,0],[1517009854,9,25,75...",-1.4,26.8,NaN

### Sbt283

In [94]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt283/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df6 = df
df6.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a90f69220d9921488ff50fd,1EFD48,NaN,1519416580,1519449667,65.1,15.7,184.8,"[[1519416583,null,null,24],[1519416587,null,nu...",89,33087,31819,3600,29490,9180,16470,3840,1770,1268,"[[1519416598,4],[1519418338,1],[1519418818,2],...",2,"[[1519445390,1519445075],[1519418232,1519417279]]",171,"[1519416691,1519416955,1519417223,1519418443,1...",120,42,116,5,20,0,,1,"[[56.5,41.3,-15.2,0.73,-2.99],[50.1,40.1,-10.0...",47,60,40,"[[1519431103,48,44,56,0,0],[1519431463,40,45,5...",56.5,41.3,NaN
1,5a9109c15b71fc1488abc5fb,1EFD48,NaN,1519416580,1519454614,64.5,15.5,188.6,"[[1519416583,null,null,24],[1519416587,null,nu...",106,38034,36666,4590,33450,9030,18060,6360,1770,1368,"[[1519416598,4],[1519418338,1],[1519418818,2],...",3,"[[1519449767,1519449667],[1519445390,151944507...",201,"[1519416691,1519416955,1519417223,1519418443,1...",120,42,116,5,20,0,,2,"[[53.2,46.8,-6.4,0.88,-1.00],[51.1,51.2,0.1,1....",63,59,41,"[[1519431103,58,44,56,0,0],[1519431463,44,46,5...",53.2,46.8,NaN
2,5a9259ae2428cb1488ddbeb5,1EFD48,NaN,1519507089,1519540567,68.2,16.5,159.7,"[[1519507093,null,null,14],[1519507097,null,nu...",93,33478,33102,3060,30420,8610,17610,4200,1020,376,"[[1519507108,4],[1519508098,2],[1519509688,1],...",1,"[[1519514079,1519513703]]",190,"[1519507133,1519507285,1519507301,1519507325,1...",120,46,111,6,21,0,,1,"[[138.0,12.6,-125.5,0.09,-22.81],[170.5,33.4,-...",170,50,50,"[[1519520290,170,20,80,0,0],[1519533609,50,66,...",138.0,12.6,NaN
3,5a939bbaf1232c148818398a,1EFD48,NaN,1519595818,1519623072,64.4,15.3,187.4,"[[1519595822,null,null,5280],[1519595826,null,...",66,27254,26892,5640,21600,4110,12570,4920,1890,362,"[[1519595837,4],[1519597697,2],[1519598837,3],...",2,"[[1519617826,1519617624],[1519601950,1519601790]]",183,"[1519595830,1519595854,1519595882,1519595910,1...",120,45,118,12,26,0,,2,"[[48.4,60.8,12.4,1.26,1.97],[47.5,60.4,12.9,1....",190,46,54,"[[1519599688,190,76,24,0,0],[1519600408,17,79,...",48.4,60.8,NaN
4,5a94f21c8eeffe1990b8adbc,1EFD48,NaN,1519681771,1519710695,67.4,15.3,181.8,"[[1519681773,null,null,6816],[1519681777,null,...",88,28924,28924,1260,27660,6690,16440,4530,600,0,"[[1519681788,4],[1519682358,2],[1519683288,3],...",0,,178,"[1519681781,1519681797,1519681817,1519681833,1...",120,45,134,12,26,0,,0,"[[25.9,43.4,17.5,1.68,2.29],[29.9,43.8,13.9,1....",56,51,49,"[[1519682400,63,58,42,0,72],[1519682580,52,50,...",25.9,43.4,NaN

### Sbt285

In [95]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt285/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df7 = df
df7.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a85303e6316721488fe56d4,001A8C,NaN,1518642399,1518678044,54.6,17.6,462.5,"[[1518642399,null,null,3561],[1518642403,null,...",103,35645,35378,3090,32550,8160,18630,5760,930,267,"[[1518642414,4],[1518643314,2],[1518644364,3],...",2,"[[1518677963,1518677863],[1518656696,1518656529]]",268,"[1518642403,1518642419,1518642435,1518642447,1...",120,42,110,10,26,2,"[1518643847,1518676933]",1,"[[24.9,35.9,11.0,1.44,1.33],[23.9,35.8,11.9,1....",44,61,39,"[[1518645902,25,61,39,0,0],[1518647221,24,62,3...",24.9,35.9,NaN
1,5a8669c0fcc7dc1488c4b14a,001A8C,NaN,1518726844,1518758258,56.7,17.7,474.6,"[[1518726846,null,null,29],[1518726850,null,nu...",81,31414,31414,5010,26400,5910,15390,5100,3570,0,"[[1518726861,4],[1518730401,2],[1518731781,1],...",0,,246,"[1518726870,1518726930,1518726982,1518726998,1...",120,41,120,12,26,0,,1,"[[14.7,51.9,37.2,3.52,4.56],[21.8,51.2,29.4,2....",86,48,52,"[[1518728554,30,43,57,0,0],[1518728914,28,53,4...",14.7,51.9,NaN
2,5a87b4e3bffd781488ca3756,001A8C,NaN,1518815070,1518843028,56.1,17.3,458.2,"[[1518815074,null,null,579],[1518815078,null,n...",76,27958,27958,3480,24480,6210,13620,4650,1470,0,"[[1518815089,4],[1518816529,2],[1518818089,1],...",0,,261,"[1518815086,1518815118,1518815130,1518815162,1...",120,44,115,12,26,0,,2,"[[25.9,34.4,8.5,1.33,1.19],[31.3,32.3,1.0,1.03...",53,66,34,"[[1518816780,31,64,36,0,0],[1518818761,32,59,4...",25.9,34.4,NaN
3,5a87dc33d073111488dc59cb,001A8C,NaN,1518815070,1518853138,55.8,17.4,497.3,"[[1518815074,null,null,579],[1518815078,null,n...",106,38068,37623,3600,34470,9630,19410,5430,1260,445,"[[1518815089,4],[1518816319,2],[1518818089,1],...",2,"[[1518853025,1518852707],[1518843155,1518843028]]",401,"[1518815086,1518815118,1518815130,1518815162,1...",120,44,115,11,26,6,"[1518850711,1518852174,1518852192,1518852233,1...",3,"[[24.1,40.3,16.1,1.67,1.73],[31.3,43.7,12.4,1....",50,59,41,"[[1518816780,31,64,36,0,0],[1518818761,32,59,4...",24.1,40.3,NaN
4,5a89d22c81b76d148842d4e5,001A8C,NaN,1518973981,1518981618,70.7,22.7,999.0,"[[1518973983,null,null,3813],[1518973987,null,...",4,7637,7351,3960,3660,780,2880,0,1290,286,"[[1518973998,4],[1518975258,2],[1518976968,3],...",3,"[[1518980463,1518980374],[1518979385,151897929...",202,"[1518973987,1518974003,1518974019,1518974035,1...",120,52,117,13,26,7,"[1518977240,1518977296,1518977327,1518979222,1...",2,"[[52.6,43.9,-8.7,0.83,-11.44],[48.3,48.3,0.0,1...",53,61,39,"[[1518978535,53,67,33,0,0]]",52.6,43.9,NaN

### Sbt286

In [96]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt286/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df8 = df
df8.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5aa21d76ac09d31990176560,001CA5,NaN,1520544901,1520573741,68.8,13.1,37.8,"[[1520544905,null,null,36],[1520544909,null,nu...",81,28840,28840,1470,27360,7380,17190,2790,660,0,"[[1520544920,4],[1520545550,2],[1520547530,3],...",0,,28,"[1520544965,1520544981,1520548117,1520548133,1...",120,49,98,4,23,0,,1,"[[13.0,30.1,17.1,2.31,2.49],[21.3,38.6,17.3,1....",46,51,49,"[[1520548592,32,60,40,1,88],[1520548772,30,55,...",13,30.1,NaN
1,5aa24f16e70b461990c00e56,001CA5,NaN,1520576988,1520586459,73.9,11.1,2.2,"[[1520576989,null,null,0],[1520576993,null,nul...",17,9471,9471,2580,6900,2940,3960,0,1110,0,"[[1520577004,4],[1520578084,2],[1520579464,3],...",0,,0,,120,54,98,5,16,0,,0,"[[74.4,22.7,-51.7,0.31,-27.95],[55.9,47.0,-9.0...",84,59,41,"[[1520578159,57,58,42,1,63],[1520578339,55,50,...",74.4,22.7,NaN
2,5aa360f6c6d4e61990004671,001CA5,NaN,1520643038,1520656617,63.9,13.9,90.8,"[[1520643041,null,null,26],[1520643045,null,nu...",40,13579,13579,1800,11790,1440,6720,3630,1590,0,"[[1520643056,4],[1520644616,2],[1520645516,1],...",0,,44,"[1520643117,1520643309,1520643329,1520643437,1...",120,51,80,4,18,0,,0,"[[17.8,26.9,9.1,1.51,2.84],[18.9,27.7,8.8,1.47...",33,46,54,"[[1520644748,28,26,74,1,32],[1520644928,28,37,...",17.8,26.9,NaN
3,5aa3986aa03a461990c19028,001CA5,NaN,1520658593,1520670814,67.2,10.0,1.1,"[[1520658597,71,null,0],[1520658601,70,null,0]...",26,12221,11925,2970,9240,1920,5730,1590,1050,296,"[[1520658612,4],[1520659632,2],[1520660412,3],...",1,"[[1520664382,1520664086]]",0,,120,53,84,5,17,0,,1,"[[39.2,51.2,12.0,1.31,18.50],[45.2,45.2,0.0,1....",68,50,50,"[[1520661203,48,57,43,0,51],[1520661383,37,43,...",39.2,51.2,NaN
4,5aa4ffdd7118941990c86efd,001CA5,NaN,1520731055,1520762772,69.7,11.5,57.6,"[[1520731057,null,null,9],[1520731061,null,nul...",93,31717,31657,2550,29160,8880,15690,4590,840,60,"[[1520731072,4],[1520731882,2],[1520733652,1],...",1,"[[1520762615,1520762555]]",54,"[1520731201,1520731229,1520731241,1520731257,1...",120,46,93,4,19,0,,0,"[[12.1,51.4,39.3,4.24,5.26],[22.9,60.0,37.1,2....",77,41,59,"[[1520732044,27,34,66,0,30],[1520732225,25,37,...",12.1,51.4,NaN

### Sbt294

In [97]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt294/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df9 = df
df9.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5a855092f6d2f8148857d45b,001A87,NaN,1518641134,1518686277,66.8,14.7,591.3,"[[1518641138,null,null,0],[1518641142,null,nul...",100,45143,40561,11070,34080,6420,20070,7590,2550,4582,"[[1518641153,4],[1518643673,2],[1518643943,3],...",16,"[[1518685817,1518685712],[1518684853,151868461...",377,"[1518644066,1518644082,1518644098,1518644130,1...",120,45,125,5,21,0,,3,"[[22.0,16.4,-5.7,0.74,-0.63],[32.5,19.4,-13.2,...",25,61,39,"[[1518644178,59,40,60,0,0],[1518644538,48,42,5...",22,16.4,NaN
1,5a8569c2c02d5d148882e20a,001A87,NaN,1518641134,1518692747,66.1,14.4,524.0,"[[1518641138,null,null,0],[1518641142,null,nul...",102,51613,46038,14460,37140,7050,22260,7830,2550,5575,"[[1518641153,4],[1518643673,2],[1518643943,3],...",21,"[[1518690945,1518690778],[1518690354,151869002...",377,"[1518644066,1518644082,1518644098,1518644130,1...",120,41,125,5,21,0,,9,"[[22.0,16.4,-5.7,0.74,-0.63],[32.5,19.4,-13.2,...",25,61,39,"[[1518644178,59,40,60,0,0],[1518644538,48,42,5...",22,16.4,NaN
2,5a8570da175c3d1488972648,001A87,NaN,1518641134,1518694581,65.9,14.2,505.9,"[[1518641138,null,null,0],[1518641142,null,nul...",106,53447,47805,14250,39180,7470,24120,7590,2520,5642,"[[1518641153,4],[1518643643,2],[1518643943,3],...",22,"[[1518692814,1518692747],[1518690945,151869077...",377,"[1518644066,1518644082,1518644098,1518644130,1...",120,41,125,5,21,0,,10,"[[22.0,16.4,-5.7,0.74,-0.63],[32.5,19.4,-13.2,...",25,61,39,"[[1518644178,59,40,60,0,0],[1518644538,48,42,5...",22,16.4,NaN
3,5a867c026ba6151488d1bd76,001A87,NaN,1518728400,1518762933,63.5,14.3,493.0,"[[1518728403,null,null,317],[1518728407,null,n...",107,34533,34533,1980,32550,3150,21300,8100,660,0,"[[1518728418,4],[1518729048,2],[1518730458,1],...",0,,167,"[1518728671,1518729391,1518729419,1518729523,1...",120,54,113,11,25,0,,0,"[[16.5,17.9,1.4,1.09,0.15],[17.8,20.6,2.8,1.16...",24,54,46,"[[1518728490,24,45,55,0,0],[1518728850,22,46,5...",16.5,17.9,NaN
4,5a87ce6e727a631488232422,001A87,NaN,1518814560,1518849618,63.9,14.7,533.2,"[[1518814564,null,null,16],[1518814568,null,nu...",111,35058,35058,1650,33390,7980,18330,7080,900,0,"[[1518814579,4],[1518815449,2],[1518816019,3],...",0,,184,"[1518816424,1518816440,1518816456,1518816500,1...",120,48,167,5,26,0,,0,"[[16.0,22.7,6.7,1.42,0.72],[19.2,21.4,2.2,1.11...",29,53,47,"[[1518816200,24,50,50,0,0],[1518818604,20,46,5...",16,22.7,NaN

### Sbt299

In [98]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt299/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df10 = df
df10.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5aa2311fe13d471990eb9d2a,001A8B,NaN,1520551855,1520578815,71.6,15.1,569.4,"[[1520551859,null,null,16184],[1520551863,null...",67,26960,26017,5160,21810,4440,12150,5220,1740,943,"[[1520551874,4],[1520553584,2],[1520555984,1],...",3,"[[1520572467,1520572241],[1520565190,152056481...",236,"[1520551867,1520551903,1520551939,1520552071,1...",120,53,107,9,26,0,,3,"[[76.6,52.6,-24.0,0.69,-240.00],[64.6,64.6,0.0...",77,25,75,"[[1520567800,77,35,65,0,101],[1520568160,53,15...",76.6,52.6,NaN
1,5aa376bd6a2d6c1990dbbab4,001A8B,NaN,1520636431,1520662167,74.6,16.0,701.5,"[[1520636432,null,null,967],[1520636436,null,n...",55,25736,24796,6060,19680,4920,11370,3390,1110,940,"[[1520636447,4],[1520637527,2],[1520639147,1],...",4,"[[1520660506,1520660337],[1520655524,152065528...",287,"[1520636436,1520636464,1520636488,1520636548,1...",120,51,123,12,24,0,,4,NaN,0,0,0,[],NaN,NaN,NaN
2,5aa498ef55e1e119900208e4,001A8B,NaN,1520723725,1520736440,76.4,15.3,640.7,"[[1520723729,null,null,1439],[1520723733,null,...",23,12715,12561,4560,8160,990,4770,2400,3330,154,"[[1520723744,4],[1520727044,2],[1520728814,1],...",1,"[[1520732516,1520732362]]",198,"[1520723733,1520723749,1520723765,1520723781,1...",120,48,117,12,21,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
3,5aa4c7a5d350431990a1a695,001A8B,NaN,1520723725,1520748407,74.5,15.3,832.6,"[[1520723729,null,null,1439],[1520723733,null,...",46,24682,23530,7230,17460,3600,10890,2970,3330,1152,"[[1520723744,4],[1520727044,2],[1520729474,1],...",3,"[[1520742631,1520741813],[1520736620,152073644...",406,"[1520723733,1520723749,1520723765,1520723781,1...",120,48,117,12,21,0,,3,"[[71.8,82.9,11.1,1.15,222.00],[77.3,77.3,0.0,1...",83,45,55,"[[1520739230,72,47,53,0,95],[1520739410,83,43,...",71.8,82.9,NaN
4,5aa5fb69748b7d1990a77719,001A8B,NaN,1520804524,1520827212,72.2,15.5,571.2,"[[1520804525,null,null,853],[1520804529,null,n...",53,22688,22417,3810,18870,4200,12000,2670,1230,271,"[[1520804540,4],[1520805740,2],[1520807570,3],...",2,"[[1520821636,1520821496],[1520815679,1520815548]]",236,"[1520804577,1520805313,1520805377,1520807765,1...",120,54,133,12,25,0,,3,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt300

In [99]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt300/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df11 = df
df11.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5acc3559aa21820a6011a151,001CA8,NaN,1523309473,1523332388,57.5,15.2,206.8,"[[1523309475,null,null,28],[1523309479,null,nu...",58,22915,22915,2880,20040,5400,12360,2280,720,0,"[[1523309490,4],[1523310180,2],[1523311260,1],...",0,,49,"[1523312455,1523312479,1523312495,1523312511,1...",180,47,102,5,26,0,,1,"[[21.1,26.3,5.1,1.24,2.05],[21.6,27.4,5.8,1.27...",27,39,61,"[[1523310332,24,36,64,0,25],[1523310512,24,42,...",21.1,26.3,NaN
1,5acc5c7a4fa07c0a6015829d,001CA8,NaN,1523309473,1523342382,57.4,14.9,208.1,"[[1523309475,null,null,28],[1523309479,null,nu...",88,32909,32736,3120,29790,7770,18210,3810,780,173,"[[1523309490,4],[1523310240,2],[1523311680,1],...",1,"[[1523332561,1523332388]]",78,"[1523312455,1523312479,1523312495,1523312511,1...",180,47,102,5,26,0,,2,"[[21.1,32.3,11.2,1.53,1.54],[21.6,31.2,9.6,1.4...",58,45,55,"[[1523310332,24,36,64,0,25],[1523310512,24,42,...",21.1,32.3,NaN
2,5acd8729e5cbb00a609ee058,001CA8,NaN,1523397635,1523418897,55.7,14.3,230.4,"[[1523397636,null,null,43],[1523397640,null,nu...",52,21262,20080,3750,17520,4440,10260,2820,2370,1182,"[[1523397651,4],[1523399991,1],[1523400321,2],...",1,"[[1523399606,1523398424]]",46,"[1523400876,1523400888,1523400912,1523400928,1...",180,47,100,11,26,0,,1,"[[77.2,21.0,-56.3,0.27,-15.01],[71.6,29.5,-42....",81,44,56,"[[1523404196,81,12,88,0,117],[1523404556,72,48...",77.2,21.0,NaN
3,5acdb04b44a0410a60a75dc9,001CA8,NaN,1523397635,1523429422,55.8,14.6,227.4,"[[1523397636,null,null,43],[1523397640,null,nu...",84,31787,30519,3990,27810,6570,16650,4590,2400,1268,"[[1523397651,4],[1523400021,1],[1523400351,2],...",2,"[[1523418983,1523418897],[1523399606,1523398424]]",72,"[1523400876,1523400888,1523400912,1523400928,1...",180,47,106,11,26,0,,2,"[[62.4,10.7,-51.7,0.17,-8.03],[70.8,29.0,-41.7...",32,46,54,"[[1523404196,79,14,86,0,112],[1523404556,76,27...",62.4,10.7,NaN
4,5acf0a03a6a9390a609c7c31,001CA8,NaN,1523484113,1523517909,58.0,14.8,229.9,"[[1523484117,66,6.6,14],[1523484121,65,6.6,22]...",94,33796,33631,3450,30330,6180,18540,5610,1710,165,"[[1523484132,4],[1523485812,2],[1523487642,3],...",1,"[[1523497094,1523496929]]",96,"[1523486337,1523486353,1523486369,1523487689,1...",180,47,105,6,26,0,,1,"[[36.2,42.3,6.1,1.17,0.73],[36.2,41.9,5.7,1.16...",148,47,53,"[[1523486723,28,43,57,0,27],[1523486903,38,57,...",36.2,42.3,NaN

### 301

In [100]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt301/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df12 = df
df12.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5aa38d9128ff7b1990c06e32,001CA7,NaN,1520628659,1520668000,62.5,18,225.2,"[[1520628662,null,null,138],[1520628666,null,n...",107,39341,38524,4770,34560,7500,20400,6660,2580,817,"[[1520628677,4],[1520631227,2],[1520632757,1],...",1,"[[1520667923,1520667106]]",117,"[1520629434,1520629450,1520629466,1520629498,1...",120,39,121,8,26,0,,2,"[[21.8,11.2,-10.6,0.51,-1.25],[28.7,14.6,-14.1...",19,69,31,"[[1520635949,29,77,23,1,46],[1520644049,26,65,...",21.8,11.2,NaN
1,5aa4e2948c81f11990acb289,001CA7,NaN,1520717291,1520755309,65.8,18,220.0,"[[1520717294,null,null,109],[1520717298,null,n...",109,38018,37456,3300,34710,6810,21270,6630,1650,562,"[[1520717309,4],[1520718929,2],[1520719559,3],...",1,"[[1520755263,1520754701]]",107,"[1520717302,1520718178,1520718194,1520718218,1...",120,55,133,10,26,0,,1,"[[10.2,16.1,5.8,1.57,0.60],[13.4,19.2,5.8,1.43...",22,58,42,"[[1520719002,8,64,36,1,8],[1520719181,9,61,39,...",10.2,16.1,NaN
2,5aa6204372986d19904e125d,001CA7,NaN,1520801220,1520836631,67.3,18.6,273.5,"[[1520801223,null,null,263],[1520801227,null,n...",100,35411,35411,3270,32130,7320,19140,5670,1740,0,"[[1520801238,4],[1520802948,2],[1520803518,3],...",0,,110,"[1520801223,1520801267,1520801315,1520802081,1...",120,53,127,13,26,0,,1,"[[11.3,14.5,3.2,1.29,0.36],[12.9,15.7,2.8,1.22...",18,69,31,"[[1520803432,14,82,18,1,16],[1520803612,14,80,...",11.3,14.5,NaN
3,5aa773bff4e6ac1990d9f668,001CA7,NaN,1520888633,1520923512,66.3,18.2,300.7,"[[1520888637,null,null,285],[1520888641,null,n...",99,34879,34384,3060,31800,7290,18900,5610,1410,495,"[[1520888652,4],[1520890032,2],[1520892702,3],...",1,"[[1520923471,1520922976]]",65,"[1520889773,1520889789,1520889805,1520890085,1...",120,45,128,9,26,0,,1,"[[14.0,15.6,1.6,1.11,0.18],[12.1,12.8,0.7,1.06...",13,59,41,"[[1520890163,11,27,73,1,16],[1520890343,12,28,...",14.0,15.6,NaN
4,5aa8c6cd6ff2fb199095599c,001CA7,NaN,1520974779,1521010344,65.3,17.8,284.7,"[[1520974781,null,null,99],[1520974785,null,nu...",99,35565,35000,3810,31740,6180,19500,6060,1050,565,"[[1520974796,4],[1520975816,2],[1520979086,3],...",1,"[[1521010323,1521009758]]",72,"[1520975353,1520975369,1520975401,1520975421,1...",120,44,129,12,26,0,,1,"[[13.4,15.6,2.3,1.17,0.28],[11.9,14.8,2.9,1.25...",18,65,35,"[[1520978109,8,64,36,1,10],[1520978290,9,63,37...",13.4,15.6,NaN

### 318

In [101]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt318/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df13 = df
df13.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5acd56f611412c0a606c1baa,001D75,NaN,1523393531,1523406509,78,17.8,614.4,"[[1523393534,null,null,76],[1523393538,null,nu...",27,12978,11689,3480,9480,2190,5370,1920,1320,1289,"[[1523393549,4],[1523394839,2],[1523395709,1],...",3,"[[1523406380,1523405702],[1523399642,152339930...",284,"[1523393598,1523393634,1523393658,1523393690,1...",180,50,103,10,26,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
1,5acec3da4b362c0a60721f39,001D75,NaN,1523480914,1523499971,78.1,19.4,355.6,"[[1523480917,null,null,114],[1523480921,null,n...",40,19057,18226,4500,14550,2910,9600,2040,2520,831,"[[1523480932,4],[1523483422,2],[1523484922,3],...",1,"[[1523482342,1523481511]]",246,"[1523480977,1523481053,1523481093,1523481109,1...",180,46,109,12,26,1,[1523485755],0,NaN,0,0,0,,NaN,NaN,NaN
2,5acff0d960bef60a60862362,001D75,NaN,1523565885,1523577015,80.4,18.2,427.6,"[[1523565889,null,null,137],[1523565893,null,n...",23,11130,11130,2310,8820,1770,6300,750,1710,0,"[[1523565904,4],[1523567584,2],[1523568964,3],...",0,,158,"[1523566041,1523566077,1523566173,1523566241,1...",180,50,105,6,26,0,,0,"[[16.3,124.3,108.0,7.63,2160.00],[70.3,70.3,0....",124,67,33,"[[1523571374,16,46,55,0,23],[1523571554,124,89...",16.3,124.3,NaN
3,5ad30c0c8d0de00a60a24135,001D75,NaN,1523772260,1523780575,79.6,17.2,374.0,"[[1523772263,null,null,103],[1523772267,null,n...",9,8315,8118,3540,4770,1860,2910,0,1620,197,"[[1523772278,4],[1523773868,2],[1523774408,3],...",1,"[[1523775574,1523775377]]",131,"[1523772351,1523772539,1523772559,1523772575,1...",180,47,105,7,25,2,"[1523775810,1523776058]",1,NaN,0,0,0,,NaN,NaN,NaN
4,5ad428eee1081d0a605cfb51,001D75,NaN,1523825106,1523853481,75.7,19.1,494.6,"[[1523825107,null,null,99],[1523825111,null,nu...",77,28375,27608,2490,25890,6150,16380,3360,780,767,"[[1523825122,4],[1523825872,2],[1523826862,3],...",1,"[[1523848811,1523848044]]",495,"[1523825119,1523825163,1523825239,1523825267,1...",180,45,128,8,26,2,"[1523844328,1523847869]",1,NaN,0,0,0,,NaN,NaN,NaN

### Sbt323

In [102]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt323/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df14 = df
df14.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5acc26962e1fbb0a60e16d10,001D73,NaN,1523304017,1523328628,55.2,14.4,532.8,"[[1523304018,null,null,395],[1523304022,null,n...",63,24611,24449,2820,21780,6120,13260,2400,1050,162,"[[1523304033,4],[1523305053,2],[1523307663,3],...",1,"[[1523328568,1523328406]]",129,"[1523304058,1523304074,1523304090,1523304106,1...",180,45,74,11,26,0,,2,"[[25.6,24.0,-1.7,0.94,-0.27],[25.1,22.2,-2.9,0...",26,68,32,"[[1523305188,18,51,49,0,19],[1523305907,20,54,...",25.6,24,NaN
1,5acd9026ab5fef0a60c64b8d,001D73,NaN,1523389590,1523421173,54.1,12.9,531.9,"[[1523389593,null,null,47],[1523389597,null,nu...",87,31583,31181,3300,28290,7980,15810,4500,1500,402,"[[1523389608,4],[1523391078,2],[1523393058,1],...",2,"[[1523421105,1523420944],[1523390026,1523389785]]",246,"[1523390145,1523390197,1523390213,1523390237,1...",180,43,85,8,26,0,,2,"[[33.6,25.1,-8.6,0.75,-1.08],[28.3,23.4,-4.9,0...",26,67,33,"[[1523391377,30,58,42,0,33],[1523391736,30,60,...",33.6,25.1,NaN
2,5acee8b00ae8830a60e88a1d,001D73,NaN,1523477113,1523509409,54.2,13.5,428.7,"[[1523477114,null,null,738],[1523477118,null,n...",92,32296,32066,4380,27900,6660,14430,6810,1830,230,"[[1523477129,4],[1523478929,2],[1523479919,1],...",1,"[[1523509404,1523509174]]",209,"[1523477126,1523477362,1523477378,1523477394,1...",180,47,112,8,25,0,,2,"[[25.5,28.9,3.4,1.13,0.43],[25.0,27.6,2.5,1.10...",35,67,33,"[[1523479184,32,70,30,0,26],[1523479364,30,66,...",25.5,28.9,NaN
3,5ad031603bf8350a609b3f89,001D73,NaN,1523563291,1523593506,54.9,13.6,473.7,"[[1523563294,57,null,404],[1523563298,57,null,...",86,30215,29522,2100,28110,7830,16500,3780,1140,693,"[[1523563309,4],[1523564419,2],[1523565619,1],...",1,"[[1523593494,1523592801]]",198,"[1523563398,1523563414,1523563430,1523563446,1...",180,46,113,6,25,0,,1,"[[28.7,29.1,0.4,1.01,0.05],[21.1,27.0,5.9,1.28...",29,63,37,"[[1523564461,18,71,29,0,17],[1523564641,19,72,...",28.7,29.1,NaN
4,5ad18b694d67790a6084f96b,001D73,NaN,1523651604,1523682130,51.4,12.9,595.8,"[[1523651607,null,null,494],[1523651611,null,n...",92,30526,30353,1470,29040,8640,16080,4320,300,173,"[[1523651622,4],[1523651892,2],[1523653242,1],...",1,"[[1523682085,1523681912]]",248,"[1523651967,1523652175,1523652191,1523652203,1...",180,40,92,7,24,0,,0,"[[28.0,31.4,3.4,1.12,0.46],[27.5,29.5,1.9,1.07...",36,60,40,"[[1523652054,32,52,48,0,34],[1523652414,32,55,...",28.0,31.4,NaN

### Sbt327

In [103]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt327/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df15 = df
df15.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5ade8373b6c6ff1dc468719b,001CAC,NaN,1524514317,1524532076,72.5,19.3,452.7,"[[1524514318,null,null,1718],[1524514322,null,...",48,17759,17759,2550,15210,3180,8970,3060,1440,0,"[[1524514333,4],[1524515743,2],[1524517183,3],...",0,,126,"[1524514326,1524514342,1524514418,1524514462,1...",180,47,97,9,25,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
1,5adec4047b859b1dc4930edb,001CAC,NaN,1524533913,1524548602,75.2,18.7,280.7,"[[1524533915,null,null,958],[1524533919,null,n...",37,14689,14482,2550,12120,2160,7320,2640,660,207,"[[1524533930,4],[1524534560,2],[1524536120,1],...",1,"[[1524545987,1524545780]]",30,"[1524533919,1524533959,1524533975,1524534427,1...",180,52,94,15,24,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
2,5ae01ee88b35941dc4185df6,001CAC,NaN,1524599576,1524637344,66.4,18.3,413.3,"[[1524599579,null,null,49],[1524599583,null,nu...",108,37768,35498,4050,33720,6690,19890,7140,1380,2270,"[[1524599594,4],[1524600944,2],[1524601484,3],...",4,"[[1524636842,1524636120],[1524636005,152463546...",214,"[1524599603,1524599623,1524599771,1524599819,1...",180,45,100,5,26,3,"[1524607868,1524608104,1524633058]",1,NaN,0,0,0,[],NaN,NaN,NaN
3,5ae0a119e888e11dc448c6f6,001CAC,NaN,1524642166,1524670730,62.3,17.9,208.4,"[[1524642167,69,null,15],[1524642171,56,null,0...",28,28564,23254,13380,15180,3630,9360,2190,420,5310,"[[1524642182,4],[1524642572,2],[1524642632,4],...",11,"[[1524669851,1524669631],[1524668425,152466795...",112,"[1524642715,1524646231,1524646895,1524651163,1...",180,41,90,5,26,3,"[1524653942,1524654895,1524664835]",8,NaN,0,0,0,,NaN,NaN,NaN
4,5ae1b0e325bef01dc4fa25a3,001CAC,NaN,1524727460,1524740256,64.9,16.1,219.8,"[[1524727464,66,null,1],[1524727468,66,null,0]...",16,12796,10637,5250,7530,1740,4650,1140,1110,2159,"[[1524727479,4],[1524728559,2],[1524729129,3],...",3,"[[1524739178,1524738029],[1524735342,152473497...",42,"[1524727872,1524728312,1524728328,1524728372,1...",180,49,99,5,26,12,"[1524728340,1524728428,1524728478,1524728561,1...",3,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt329

In [104]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt329/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df16 = df
df16.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5adeb3c78b7f401dc4f1e272,001D81,NaN,1524499872,1524544398,72.9,14.8,196.8,"[[1524499876,null,null,73],[1524499880,null,nu...",118,44526,43807,4920,39600,11580,22980,5040,420,719,"[[1524499891,4],[1524500281,2],[1524501601,1],...",3,"[[1524513885,1524513387],[1524510483,152451040...",199,"[1524505848,1524514141,1524514153,1524514169,1...",180,48,162,5,26,7,"[1524530738,1524540026,1524542484,1524542537,1...",3,"[[39.0,17.7,-21.3,0.45,-1.78],[42.3,25.1,-17.2...",28,57,43,"[[1524500322,41,37,63,0,45],[1524500502,40,38,...",39,17.7,NaN
1,5ae000c75b6e241dc4aaa6ed,001D81,NaN,1524608517,1524629652,83.7,15.6,293.8,"[[1524608520,null,null,926],[1524608524,null,n...",60,21135,21135,1530,19590,5130,11790,2670,900,0,"[[1524608535,4],[1524609405,2],[1524610365,3],...",0,,149,"[1524608524,1524608588,1524608612,1524608644,1...",180,47,100,12,23,2,"[1524608861,1524623431]",0,"[[21.4,46.6,25.2,2.18,5.54],[23.3,39.8,16.5,1....",109,58,42,"[[1524610407,14,66,34,1,11],[1524610587,23,60,...",21.4,46.6,NaN
2,5ae107487f42251dc4d31d9f,001D81,NaN,1524686095,1524696870,78.0,16.2,263.8,"[[1524686096,null,null,20],[1524686100,null,nu...",28,10775,10586,1590,9180,2640,4890,1650,270,189,"[[1524686111,4],[1524686351,2],[1524686531,4],...",1,"[[1524687089,1524686900]]",104,"[1524686836,1524686872,1524686908,1524687116,1...",180,51,154,7,21,0,,1,"[[65.6,76.0,10.4,1.16,7.98],[70.0,70.0,0.0,1.0...",127,61,39,"[[1524691139,95,80,20,1,27],[1524691499,26,83,...",65.6,76.0,NaN
3,5ae15372ff207e1dc4c6be52,001D81,NaN,1524686095,1524716339,80.4,16.3,216.4,"[[1524686096,null,null,20],[1524686100,null,nu...",82,30244,29728,3600,26640,8130,13920,4590,270,516,"[[1524686111,4],[1524686351,2],[1524686531,4],...",4,"[[1524705769,1524705629],[1524700355,152470027...",232,"[1524686836,1524686872,1524686908,1524687116,1...",180,44,154,7,26,0,,4,"[[80.6,0.9,-79.8,0.01,-11.66],[100.1,15.4,-84....",58,61,39,"[[1524691139,157,81,19,1,29],[1524691499,143,6...",80.6,0.9,NaN
4,5ae6a41b2393381dc4d8b54e,001D81,NaN,1525034364,1525064711,80.9,15.3,170.9,"[[1525034365,null,null,362],[1525034369,null,n...",85,30347,30347,2040,28320,7860,17190,3270,1350,0,"[[1525034380,4],[1525035700,2],[1525036960,3],...",0,,198,"[1525034373,1525034389,1525034421,1525034437,1...",180,46,162,10,26,2,"[1525061372,1525061448]",0,"[[31.4,20.9,-10.4,0.67,-1.36],[22.0,18.8,-3.3,...",26,64,36,"[[1525036435,20,45,55,0,19],[1525036615,20,45,...",31.4,20.9,NaN

### Sbt332

In [105]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt332/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df17 = df
df17.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5af13890c92bec1dc48ee658,001D86,NaN,1525728328,1525758041,58.1,15.7,35.8,"[[1525728332,52,null,64],[1525728336,52,null,7...",75,29713,29018,5040,24660,6600,13440,4620,1230,695,"[[1525728347,4],[1525729547,2],[1525730807,1],...",2,"[[1525757211,1525756757],[1525752022,1525751781]]",21,"[1525728888,1525730192,1525731748,1525732784,1...",180,47,114,5,26,0,,2,"[[26.1,35.0,8.8,1.34,1.44],[26.8,33.9,7.1,1.27...",42,46,54,"[[1525729678,30,40,60,0,30],[1525729858,28,47,...",26.1,35,NaN
1,5af286f5861c471dc4481f87,001D86,NaN,1525812772,1525843640,55.3,17.3,44.6,"[[1525812776,null,null,84],[1525812780,null,nu...",80,30868,30661,4890,25980,5160,15330,5490,2580,207,"[[1525812791,4],[1525815341,2],[1525816211,3],...",1,"[[1525829720,1525829513]]",30,"[1525813048,1525813332,1525813368,1525814536,1...",180,48,109,7,26,1,[1525813281],2,"[[32.9,30.3,-2.5,0.92,-0.33],[31.3,30.6,-0.7,0...",36,38,62,"[[1525815562,37,36,64,0,41],[1525815686,35,35,...",32.9,30.3,NaN
2,5af3fd747e814d1dc43b31e2,001D86,NaN,1525916687,1525939542,63.5,15.3,50.6,"[[1525916689,67,null,49],[1525916693,66,null,3...",51,22855,22541,4650,18210,4350,11460,2400,2820,314,"[[1525916704,4],[1525919494,2],[1525920394,3],...",1,"[[1525931875,1525931561]]",21,"[1525917097,1525917189,1525917457,1525917777,1...",180,53,119,7,23,0,,1,"[[22.2,23.2,0.9,1.04,0.18],[22.5,23.1,0.6,1.03...",29,53,47,"[[1525919657,22,39,61,0,24],[1525920017,21,40,...",22.2,23.2,NaN
3,5af9219f9f3fd61880791003,001D86,NaN,1526246787,1526276429,54.9,14.0,36.0,"[[1526246789,null,null,50],[1526246825,45,null...",86,29642,29456,2940,26700,5430,15210,6060,840,186,"[[1526246804,4],[1526247614,2],[1526248904,3],...",1,"[[1526270194,1526270008]]",21,"[1526248917,1526251381,1526252897,1526253097,1...",180,45,111,8,26,0,,3,"[[33.2,31.5,-1.7,0.95,-0.33],[28.1,30.1,2.0,1....",40,39,61,"[[1526255909,27,47,53,0,29],[1526256089,26,40,...",33.2,31.5,NaN
4,5afa72f4ef73aa1880dfe39f,001D86,NaN,1526331503,1526362824,58.1,16.4,39.4,"[[1526331505,null,null,67],[1526331509,null,nu...",85,31321,31096,3510,27810,7860,15930,4020,2280,225,"[[1526331520,4],[1526333770,2],[1526334490,3],...",1,"[[1526360133,1526359908]]",25,"[1526331821,1526337709,1526338460,1526338928,1...",180,44,114,7,26,0,,1,"[[22.1,33.0,10.9,1.49,1.39],[23.2,31.4,8.2,1.3...",39,38,62,"[[1526333933,16,49,51,0,19],[1526334113,18,46,...",22.1,33,NaN

### Sbt342

In [106]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt342/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df18 = df
df18.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b3c4448b519de0cdc67da4c,1F0CCF,NaN,1530652983,1530676260,69.2,17.3,487,"[[1530652984,null,null,637],[1530652988,null,n...",64,23277,23277,2520,20760,5280,11970,3510,1410,0,"[[1530652999,4],[1530654379,2],[1530654949,3],...",0,,104,"[1530653052,1530653636,1530655056,1530656856,1...",180,54,120,12,26,0,,1,"[[30.4,28.0,-2.4,0.92,-0.48],[32.0,37.6,5.6,1....",50,49,51,"[[1530655234,9,53,47,1,11],[1530655414,21,47,5...",30.4,28,NaN
1,5b3efc0fe62c470cdcf9aa1f,1F0CCF,NaN,1530829726,1530854391,66.4,17.2,321.1,"[[1530829728,null,null,1043],[1530829732,null,...",61,24665,24507,4020,20640,5400,12180,3060,1770,158,"[[1530829743,4],[1530831483,2],[1530832383,1],...",1,"[[1530837508,1530837350]]",108,"[1530832168,1530832664,1530833228,1530833972,1...",180,47,115,6,26,0,,1,"[[24.1,28.4,4.2,1.18,1.76],[24.7,27.5,2.9,1.12...",49,47,53,"[[1530832516,25,65,36,1,29],[1530832696,18,51,...",24.1,28.4,NaN
2,5b41c543e0eae80cdc199ec7,1F0CCF,NaN,1531002692,1531036973,64.0,15.8,401.3,"[[1531002695,null,null,32767],[1531002699,null...",95,34281,33992,5070,29220,6750,15480,6990,2610,289,"[[1531002710,4],[1531005290,2],[1531006040,3],...",1,"[[1531013807,1531013518]]",134,"[1531002695,1531002711,1531002727,1531002747,1...",180,51,121,11,24,0,,1,"[[26.7,33.1,6.4,1.24,0.80],[28.4,33.3,4.8,1.17...",39,43,57,"[[1531006382,25,45,55,0,30],[1531006562,26,50,...",26.7,33.1,NaN
3,5b430e1a9abfc40cdc75e5d9,1F0CCF,NaN,1531090663,1531121131,71.0,16.9,372.2,"[[1531090664,null,null,38],[1531090668,null,nu...",57,30468,25356,9480,21000,3270,13200,4530,6150,5112,"[[1531090679,4],[1531096799,2],[1531097189,4],...",13,"[[1531117381,1531117094],[1531098255,153109810...",77,"[1531096172,1531096184,1531096200,1531098364,1...",180,46,99,6,24,0,,2,"[[33.5,22.4,-11.1,0.67,-2.29],[34.7,22.1,-12.7...",203,47,53,"[[1531098704,16,39,61,0,25],[1531098884,11,38,...",33.5,22.4,NaN
4,5b446476bb68950cdc329d67,1F0CCF,NaN,1531169396,1531208802,74.2,16.2,460.4,"[[1531169399,null,null,902],[1531169403,null,n...",107,39406,38986,4020,35370,9870,20370,5130,750,420,"[[1531169414,4],[1531170134,2],[1531171484,1],...",1,"[[1531175400,1531174980]]",230,"[1531169403,1531169419,1531169431,1531169459,1...",180,52,143,6,26,0,,3,"[[18.4,24.5,6.1,1.33,0.60],[17.7,24.6,6.8,1.39...",28,48,52,"[[1531171286,12,36,64,0,14],[1531171646,13,40,...",18.4,24.5,NaN

### Sbt350

In [107]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt350/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df19 = df
df19.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b04ce854c05da18804ef1ac,001CAD,NaN,1527019368,1527041617,69.3,13.4,55.4,"[[1527019369,null,null,0],[1527019373,null,nul...",58,22249,21716,3090,19170,1920,13140,4110,1380,533,"[[1527019384,4],[1527020734,2],[1527022504,1],...",2,"[[1527028705,1527028284],[1527019520,1527019408]]",18,"[1527020869,1527025041,1527028213,1527028233,1...",180,47,140,7,26,0,,1,"[[10.6,9.6,-1.0,0.91,-0.20],[11.0,10.0,-0.9,0....",12,54,46,"[[1527022310,10,58,42,1,15],[1527022670,12,54,...",10.6,9.6,NaN
1,5b050267fb1190188084e464,001CAD,NaN,1527019368,1527054918,69.7,13.3,65.0,"[[1527019369,null,null,0],[1527019373,null,nul...",85,35550,34676,6060,29490,3990,20040,5460,1380,874,"[[1527019384,4],[1527020734,2],[1527022504,1],...",4,"[[1527049785,1527049520],[1527041693,152704161...",33,"[1527020869,1527025041,1527028213,1527028233,1...",180,47,140,6,26,0,,3,"[[9.7,11.4,1.6,1.17,0.19],[11.0,11.8,0.8,1.08,...",13,61,39,"[[1527022310,12,57,43,0,16],[1527022670,12,53,...",9.7,11.4,NaN
2,5b060f26defb9818800e7f94,001CAD,NaN,1527106461,1527123703,70.8,14.3,102.1,"[[1527106465,78,null,78],[1527106469,79,null,6...",40,17242,16248,4200,13050,2910,6960,3180,1830,994,"[[1527106480,4],[1527108280,2],[1527110140,3],...",3,"[[1527123580,1527123511],[1527114800,152711394...",15,"[1527107913,1527107953,1527110773,1527110909,1...",180,61,136,8,25,0,,1,"[[23.6,9.3,-14.4,0.39,-3.64],[20.6,11.6,-9.0,0...",12,66,34,"[[1527108638,14,48,52,1,15],[1527109539,15,48,...",23.6,9.3,NaN
3,5b066ea593dbb71880e4d5c9,001CAD,NaN,1527136625,1527148158,70.1,14.0,73.7,"[[1527136628,76,null,73],[1527136632,76,null,6...",34,11533,11533,1440,10080,3360,4590,2130,900,0,"[[1527136643,4],[1527137513,2],[1527139133,1],...",0,,8,"[1527138492,1527139684,1527144900,1527145996,1...",180,53,114,6,26,0,,0,"[[14.7,14.2,-0.6,0.96,-0.22],[15.4,14.2,-1.2,0...",18,53,47,"[[1527138336,11,58,42,1,16],[1527138516,11,52,...",14.7,14.2,NaN
4,5b073d3bf93ca21880fabd87,001CAD,NaN,1527191123,1527201043,73.4,16.0,118.0,"[[1527191124,76,null,59],[1527191128,76,null,2...",20,9920,9824,2010,7920,1830,5550,540,930,96,"[[1527191139,4],[1527192039,2],[1527194319,3],...",1,"[[1527200962,1527200866]]",9,"[1527194504,1527196924,1527198917,1527200773,1...",180,59,142,8,24,0,,0,"[[74.4,20.8,-53.6,0.28,-26.05],[52.5,38.5,-14....",174,59,41,"[[1527192113,12,33,67,1,12],[1527192294,167,73...",74.4,20.8,NaN

### Sbt352

In [108]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt352/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df20 = df
df20.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5afba09636532918803ad8da,001CA4,NaN,1526405698,1526440041,56,15.7,449.4,"[[1526405702,93,null,2866],[1526405706,98,null...",90,34343,33332,5940,28410,6780,15270,6360,1890,1011,"[[1526405717,4],[1526407577,2],[1526407847,1],...",4,"[[1526439987,1526439337],[1526438494,152643837...",142,"[1526405702,1526405722,1526405810,1526406758,1...",180,40,107,11,25,1,[1526415111],2,"[[21.1,4.6,-16.4,0.22,-2.07],[20.8,6.3,-14.5,0...",14,38,62,"[[1526409159,45,26,74,0,51],[1526410240,40,25,...",21.1,4.6,NaN
1,5afcf285fb120e1880533043,001CA4,NaN,1526497886,1526526537,69.3,15.7,461.8,"[[1526497889,null,null,492],[1526497889,null,n...",61,28651,27849,6930,21720,4050,13380,4290,1710,802,"[[1526497904,4],[1526499584,2],[1526500274,3],...",3,"[[1526526394,1526525850],[1526517747,152651764...",111,"[1526497897,1526497929,1526497977,1526497989,1...",180,46,143,10,24,1,[1526506686],3,"[[6.2,4.8,-1.5,0.76,-0.22],[7.1,5.8,-1.3,0.82,...",9,30,70,"[[1526499756,6,9,91,0,8],[1526499936,6,10,90,0...",6.2,4.8,NaN
2,5afe091e85c0501880281724,001CA4,NaN,1526581637,1526597865,60.5,14.6,429.9,"[[1526581639,76,null,311],[1526581643,83,null,...",37,16228,16030,3180,13050,3420,7830,1800,1350,198,"[[1526581654,4],[1526582974,2],[1526584594,1],...",1,"[[1526587073,1526586875]]",70,"[1526581651,1526581671,1526581715,1526581763,1...",180,44,128,11,23,0,,1,"[[10.4,8.4,-2.0,0.81,-0.54],[9.4,7.2,-2.2,0.77...",19,22,78,"[[1526583020,6,41,59,0,8],[1526583200,7,31,69,...",10.4,8.4,NaN
3,5afe36b9ba07a0188091e327,001CA4,NaN,1526581637,1526609564,63.4,14.6,451.9,"[[1526581639,76,null,311],[1526581643,83,null,...",73,27927,27632,3600,24330,3480,16080,4770,1290,295,"[[1526581654,4],[1526582914,2],[1526585284,3],...",2,"[[1526597962,1526597865],[1526587073,1526586875]]",137,"[1526581651,1526581671,1526581715,1526581763,1...",180,44,128,7,25,0,,2,"[[9.2,9.6,0.4,1.04,0.05],[9.3,9.7,0.4,1.04,0.0...",19,37,63,"[[1526583020,6,36,64,0,8],[1526583200,7,31,69,...",9.2,9.6,NaN
4,5afe4154e52a1e18803faa1e,001CA4,NaN,1526581637,1526612267,62.6,14.5,470.9,"[[1526581639,76,null,311],[1526581643,83,null,...",67,30630,29732,5970,24660,5850,15780,3030,1320,898,"[[1526581654,4],[1526582944,2],[1526585584,3],...",4,"[[1526611886,1526611375],[1526609656,152660956...",163,"[1526581651,1526581671,1526581715,1526581763,1...",180,44,128,7,25,0,,3,"[[7.3,13.9,6.6,1.89,0.87],[9.3,14.7,5.4,1.58,0...",29,38,62,"[[1526583020,6,35,65,0,9],[1526583200,7,31,69,...",7.3,13.9,NaN

### Sbt353

In [109]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt353/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df21 = df
df21.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5afb4cee34100d1880a575f0,001CA3,NaN,1526400473,1526418614,77.2,14.9,225.9,"[[1526400475,null,null,565],[1526400479,null,n...",45,18141,17042,3090,15060,3570,8970,2520,750,1099,"[[1526400490,4],[1526401210,2],[1526403520,3],...",1,"[[1526417290,1526416191]]",70,"[1526400491,1526400555,1526400583,1526400667,1...",180,42,102,11,26,0,,1,NaN,0,0,0,,NaN,NaN,NaN
1,5afbaf405df1521880f7d66a,001CA3,NaN,1526400473,1526443818,80.0,14.2,292.4,"[[1526400475,null,null,565],[1526400479,null,n...",120,43345,42123,5370,37980,8550,21570,7860,1020,1222,"[[1526400490,4],[1526401480,2],[1526403760,3],...",2,"[[1526418737,1526418614],[1526417290,1526416191]]",212,"[1526400491,1526400555,1526400583,1526400667,1...",180,42,104,10,26,0,,2,"[[187.5,176.4,-11.1,0.94,-1.92],[215.2,201.3,-...",242,58,42,"[[1526405782,215,81,19,1,121],[1526419727,132,...",187.5,176.4,NaN
2,5afd10681ef6a5188000f228,001CA3,NaN,1526502439,1526534166,79.8,13.0,401.2,"[[1526502441,null,null,382],[1526502445,null,n...",88,31727,30815,3300,28410,6810,16980,4620,2250,912,"[[1526502456,4],[1526504676,2],[1526505306,3],...",1,"[[1526534069,1526533157]]",261,"[1526502528,1526502556,1526502572,1526502588,1...",180,51,98,10,26,6,"[1526502443,1526502497,1526502538,1526502604,1...",0,"[[89.7,108.1,18.3,1.20,11.46],[94.4,106.4,12.0...",174,49,51,"[[1526513360,62,58,42,0,87],[1526513720,80,31,...",89.7,108.1,NaN
3,5afe55d8b3f0cc1880e8d798,001CA3,NaN,1526586448,1526617489,77.6,12.5,372.5,"[[1526586452,null,null,3020],[1526586456,null,...",89,31041,31041,3000,28050,5910,16650,5490,2370,0,"[[1526586467,4],[1526588807,2],[1526589737,3],...",0,,203,"[1526586452,1526586548,1526586564,1526586576,1...",180,47,96,5,18,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
4,5aff9a97ef3f8f1880a03950,001CA3,NaN,1526675630,1526700660,80.3,13.2,440.9,"[[1526675632,null,null,5],[1526675636,null,nul...",65,25030,25030,3240,21780,6210,12690,2880,1890,0,"[[1526675647,4],[1526677507,2],[1526678737,3],...",0,,242,"[1526675688,1526675716,1526675732,1526675744,1...",180,50,95,10,20,2,"[1526675702,1526675731]",1,"[[74.8,134.4,59.6,1.80,17.27],[91.3,114.9,23.6...",171,57,43,"[[1526686009,51,28,72,1,63],[1526687270,75,36,...",74.8,134.4,NaN

### Sbt360

In [110]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt360/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df22 = df
df22.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b04fb7e5163201880976b71,001CB9,NaN,1527023810,1527053150,58.1,13.4,157.4,"[[1527023812,50,null,29],[1527023816,50,null,2...",76,29340,28861,3750,25590,4950,15900,4740,1290,479,"[[1527023827,4],[1527025087,2],[1527026317,1],...",3,"[[1527049088,1527049004],[1527034433,152703432...",86,"[1527024636,1527024648,1527024900,1527025064,1...",180,50,113,6,26,0,,4,"[[17.6,35.2,17.6,2.00,2.35],[22.1,33.7,11.6,1....",39,17,83,"[[1527025522,16,23,77,0,20],[1527025859,16,23,...",17.6,35.2,NaN
1,5b05f9131a5a261880c02e3d,001CB9,NaN,1527109625,1527118058,57.6,12.9,147.3,"[[1527109627,null,null,61],[1527109631,null,nu...",21,8433,8433,2040,6390,1200,3240,1950,1590,0,"[[1527109642,4],[1527111202,2],[1527112252,1],...",0,,76,"[1527109647,1527109703,1527109767,1527109803,1...",180,55,71,8,22,0,,0,"[[12.4,11.9,-0.4,0.96,-0.25],[12.8,12.5,-0.3,0...",17,20,80,"[[1527111334,9,22,78,0,12],[1527111514,9,21,79...",12.4,11.9,NaN
2,5b0639b965c9a21880f3b704,001CB9,NaN,1527109625,1527134576,57.7,13.3,131.8,"[[1527109627,null,null,61],[1527109631,null,nu...",68,24951,24833,3120,21840,6420,11850,3570,1590,118,"[[1527109642,4],[1527111202,2],[1527112192,1],...",1,"[[1527118176,1527118058]]",109,"[1527109647,1527109703,1527109767,1527109803,1...",180,53,115,8,22,0,,1,"[[10.1,31.5,21.5,3.13,3.41],[12.8,25.7,12.8,2....",30,19,81,"[[1527111334,9,21,79,0,12],[1527111514,9,20,80...",10.1,31.5,NaN
3,5b064a0d5c51af18800af8fd,001CB9,NaN,1527109625,1527138788,57.8,13.2,133.9,"[[1527109627,null,null,61],[1527109631,null,nu...",72,29163,28825,5700,23460,6210,12540,4710,1590,338,"[[1527109642,4],[1527111202,2],[1527112192,1],...",3,"[[1527138273,1527138166],[1527134689,152713457...",128,"[1527109647,1527109703,1527109767,1527109803,1...",180,47,115,6,25,0,,2,"[[11.8,31.5,19.7,2.67,2.75],[12.8,25.1,12.2,1....",34,17,83,"[[1527111334,9,20,80,0,12],[1527111514,9,20,80...",11.8,31.5,NaN
4,5b079d2aaefdb71880b5a0a5,001CB9,NaN,1527194248,1527225569,58.4,13.0,152.0,"[[1527194249,null,null,110],[1527194253,null,n...",83,31321,30826,5040,26280,4260,15720,6300,840,495,"[[1527194264,4],[1527195074,2],[1527196664,1],...",2,"[[1527225262,1527224910],[1527202677,1527202534]]",128,"[1527194329,1527194513,1527195237,1527195377,1...",180,48,115,10,24,0,,1,"[[18.6,16.0,-2.6,0.86,-0.34],[20.1,15.5,-4.5,0...",21,24,76,"[[1527195237,29,20,80,0,37],[1527195598,28,20,...",18.6,16.0,NaN

### Sbt361

In [111]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt361/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df23 = df
df23.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b2353201fc8151510cbe6bb,11EC56,NaN,1529011527,1529041672,61.5,12.7,210.8,"[[1529011531,null,null,3746],[1529011535,null,...",62,30145,28519,8160,21990,6990,11160,3840,1560,1626,"[[1529011546,4],[1529013076,2],[1529013706,1],...",6,"[[1529041484,1529040893],[1529032703,152903250...",117,"[1529011531,1529011579,1529011595,1529011639,1...",180,50,85,9,21,0,,4,"[[39.5,37.4,-2.2,0.95,-0.31],[28.7,36.2,7.6,1....",49,56,44,"[[1529013237,29,50,50,0,34],[1529013417,28,51,...",39.5,37.4,NaN
1,5b2602a873aa061510f287c1,11EC56,NaN,1529187970,1529217654,64.3,12.3,193.5,"[[1529187972,null,null,10751],[1529187976,null...",64,29684,28254,7800,21870,4680,11940,5250,1680,1430,"[[1529187987,4],[1529189637,2],[1529190897,1],...",6,"[[1529217424,1529217182],[1529216563,152921648...",83,"[1529187972,1529187992,1529188008,1529188028,1...",180,50,88,9,18,0,,4,"[[34.5,45.2,10.6,1.31,2.86],[33.9,44.0,10.1,1....",51,61,39,"[[1529197524,40,79,21,1,32],[1529197704,34,67,...",34.5,45.2,NaN
2,5b29c82e8d5a751510ddf035,11EC56,NaN,1529443824,1529464828,69.5,13.1,162.5,"[[1529443825,null,null,247],[1529443829,null,n...",56,21004,20907,2190,18810,3660,12270,2880,1650,97,"[[1529443840,4],[1529445460,2],[1529446660,1],...",1,"[[1529444545,1529444448]]",78,"[1529443849,1529443869,1529443885,1529443901,1...",180,52,82,8,25,0,,0,"[[26.7,22.2,-4.5,0.83,-0.87],[25.3,23.0,-2.3,0...",25,55,45,"[[1529445535,18,67,33,0,21],[1529446075,21,60,...",26.7,22.2,NaN
3,5b2b292c51701415101b9fa9,11EC56,NaN,1529528124,1529555177,63.5,12.8,195.1,"[[1529528125,null,null,1502],[1529528129,null,...",79,27053,26707,2700,24360,5190,13860,5310,1170,346,"[[1529528140,4],[1529529280,2],[1529530030,1],...",3,"[[1529554852,1529554756],[1529554744,152955459...",105,"[1529528129,1529528145,1529528161,1529528177,1...",180,54,85,7,19,0,,0,"[[28.3,43.2,14.9,1.53,2.21],[29.3,43.8,14.5,1....",57,57,43,"[[1529529295,12,34,66,1,11],[1529529475,18,37,...",28.3,43.2,NaN
4,5b2dc25b8ad7e6151043b4af,11EC56,NaN,1529704653,1529725499,62.8,12.2,207.4,"[[1529704654,null,null,897],[1529704658,null,n...",45,20846,20638,4830,16020,6600,7560,1860,2010,208,"[[1529704669,4],[1529706649,2],[1529707909,1],...",1,"[[1529716097,1529715889]]",74,"[1529704658,1529704674,1529704906,1529704922,1...",180,53,109,10,18,0,,2,"[[38.6,46.0,7.4,1.19,1.74],[43.9,45.8,1.9,1.04...",61,55,45,"[[1529709603,36,71,30,0,37],[1529713586,42,51,...",38.6,46.0,NaN

### 376

In [112]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt376/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df24 = df
df24.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b5cdfcead89fa242cd8a526,001CA9,NaN,1532804404,1532813191,69.4,13.4,267.3,"[[1532804405,null,null,13107],[1532804409,null...",24,8787,8725,1560,7230,1320,3780,2130,1200,62,"[[1532804420,4],[1532805590,2],[1532807210,1],...",1,"[[1532804955,1532804893]]",46,"[1532804421,1532804437,1532804485,1532804517,1...",180,62,143,8,19,0,,0,"[[15.7,17.9,2.2,1.14,1.18],[15.8,17.1,1.3,1.08...",30,38,62,"[[1532805945,14,38,62,0,16],[1532806126,17,10,...",15.7,17.9,NaN
1,5b5d3d4ad65ef7242c327ce6,001CA9,NaN,1532804404,1532837152,63.8,13.6,183.2,"[[1532804405,null,null,13107],[1532804409,null...",99,32748,32587,2640,30090,6780,16590,6720,1230,161,"[[1532804420,4],[1532805620,2],[1532807240,1],...",2,"[[1532813290,1532813191],[1532804955,1532804893]]",97,"[1532804421,1532804437,1532804485,1532804517,1...",180,56,143,8,26,0,,1,"[[16.3,20.4,4.1,1.25,0.51],[15.3,17.5,2.2,1.14...",21,31,69,"[[1532805945,14,24,76,1,17],[1532806126,15,25,...",16.3,20.4,NaN
2,5b623640c3a553242c59c56e,001CA9,NaN,1533148236,1533163015,65.4,14.7,180.5,"[[1533148237,null,null,31808],[1533148241,null...",38,14779,14779,2550,12240,3420,6510,2310,900,0,"[[1533148252,4],[1533149122,2],[1533149782,3],...",0,,47,"[1533148249,1533148265,1533148349,1533148389,1...",180,58,78,9,26,0,,1,"[[8.5,39.2,30.7,4.62,9.43],[15.2,30.7,15.5,2.0...",76,36,64,"[[1533149225,11,44,56,0,13],[1533149406,12,45,...",8.5,39.2,NaN
3,5b628608f0714b242c8c6411,001CA9,NaN,1533148236,1533183465,63.1,13.7,175.8,"[[1533148237,null,null,31808],[1533148241,null...",101,35229,35041,3120,32100,8460,18090,5550,870,188,"[[1533148252,4],[1533149092,2],[1533149782,3],...",1,"[[1533163203,1533163015]]",83,"[1533148249,1533148265,1533148349,1533148389,1...",180,52,106,9,26,0,,2,"[[17.8,24.3,6.5,1.37,0.70],[15.4,22.8,7.4,1.48...",27,48,52,"[[1533149225,11,43,57,1,13],[1533149406,12,45,...",17.8,24.3,NaN
4,5b661dd84f89d708106ff573,001CA9,NaN,1533410036,1533418916,62.4,11.8,251.2,"[[1533410038,null,null,440],[1533410042,null,n...",14,8880,8738,3240,5640,1290,3540,810,900,142,"[[1533410053,4],[1533410923,2],[1533412363,1],...",2,"[[1533418185,1533418121],[1533410179,1533410101]]",35,"[1533410046,1533410058,1533410074,1533410090,1...",180,57,75,8,21,0,,0,"[[23.9,12.3,-11.6,0.52,-7.71],[18.1,17.8,-0.3,...",25,52,48,"[[1533410989,22,54,46,1,21],[1533411169,38,61,...",23.9,12.3,NaN

### Sbt383

In [113]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt383/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df25 = df
df25.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b7657e2810fbb19c820b05e,11EC20,NaN,1534455857,1534482350,75.5,23.6,355,"[[1534455861,null,null,3081],[1534455865,null,...",69,26493,26493,2490,24000,4830,16380,2790,1710,0,"[[1534455876,4],[1534457556,2],[1534459596,1],...",0,,137,"[1534455869,1534455917,1534455933,1534455953,1...",180,47,107,13,26,3,"[1534455902,1534456049,1534456673]",0,"[[173.6,58.8,-114.8,0.34,-328.31],[132.6,132.6...",235,83,17,"[[1534465298,235,67,33,1,64],[1534465478,120,9...",173.6,58.8,NaN
1,5b77b14f0e6b2219c85895c1,11EC20,NaN,1534541744,1534570758,72.9,24.1,435,"[[1534541748,null,null,2752],[1534541752,null,...",83,29014,29014,2070,26940,8280,15390,3270,1230,0,"[[1534541763,4],[1534542963,2],[1534543263,3],...",0,,190,"[1534541752,1534541768,1534541792,1534541812,1...",180,42,103,15,26,1,[1534562083],0,NaN,0,0,0,[],NaN,NaN,NaN
2,5b78fe00e4f54a19c8aa7021,11EC20,NaN,1534628485,1534655939,71.2,24.1,541.1,"[[1534628488,null,null,7201],[1534628492,null,...",78,27454,27454,2970,24480,5070,14490,4920,990,0,"[[1534628503,4],[1534629463,2],[1534629613,3],...",0,,254,"[1534628500,1534628516,1534628560,1534628576,1...",180,46,115,13,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
3,5b7ad71f5122fe19c832f44b,11EC20,NaN,1534765997,1534777084,54.5,11.5,19,"[[1534766000,null,null,26],[1534766004,null,nu...",32,11087,10466,2460,8610,450,4200,3960,2280,621,"[[1534766015,4],[1534768265,2],[1534768595,1],...",1,"[[1534767903,1534767282]]",0,,180,43,70,9,13,0,,0,NaN,0,0,0,,NaN,NaN,NaN
4,5b7ba504cd04e219c87fb9f9,11EC20,NaN,1534802633,1534829788,66.0,24.3,633.5,"[[1534802637,null,null,977],[1534802641,null,n...",78,27155,27155,1980,25170,6510,15060,3600,1530,0,"[[1534802652,4],[1534804152,2],[1534804962,1],...",0,,294,"[1534802637,1534802653,1534802669,1534802685,1...",180,46,98,12,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt386

In [114]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt386/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df26 = df
df26.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5b5047ac738171242c5437d1,1F0C53,NaN,1531953537,1531987842,72.6,23.7,253,"[[1531953541,68,null,0],[1531953545,71,null,0]...",102,34305,33727,2190,32100,8130,18390,5580,870,578,"[[1531953556,4],[1531954396,2],[1531955386,1],...",1,"[[1531958073,1531957495]]",131,"[1531961357,1531961453,1531961505,1531961665,1...",180,41,113,5,26,0,,1,"[[86.3,-2.8,-89.1,-0.03,-18.56],[103.0,9.3,-93...",103,43,57,"[[1531965903,103,75,25,1,8],[1531974004,21,26,...",86.3,-2.8,NaN
1,5b507d8830d2b5242c3484c4,1F0C53,NaN,1531992636,1532001646,82.2,24.9,267,"[[1531992637,53,null,275],[1531992641,54,null,...",12,9010,9010,2790,6210,840,5370,0,1350,0,"[[1531992652,4],[1531993972,2],[1531996282,3],...",0,,45,"[1531992645,1531992721,1531992737,1531992753,1...",180,51,106,12,26,0,,0,"[[7.1,128.7,121.6,18.13,152.00],[50.2,50.2,0.0...",129,38,62,"[[1531994526,10,18,82,0,14],[1531994706,12,17,...",7.1,128.7,NaN
2,5b51a1804c3f80242cfa6121,1F0C53,NaN,1532037057,1532076386,85.4,18.3,183.6,"[[1532037061,null,null,0],[1532037065,null,nul...",121,39329,39329,2460,36870,11190,18720,6960,1260,0,"[[1532037076,4],[1532038306,2],[1532039506,1],...",0,,83,"[1532037189,1532037257,1532037621,1532037645,1...",180,47,113,6,26,0,,1,"[[9.4,8.5,-0.9,0.90,-0.11],[10.0,8.9,-1.1,0.89...",12,38,62,"[[1532039847,13,53,47,0,21],[1532041647,11,40,...",9.4,8.5,NaN
3,5b52d3aa9da94e242c625399,1F0C53,NaN,1532118718,1532154721,78.3,24.7,245.6,"[[1532118718,101,null,9],[1532118722,109,null,...",101,36003,36003,2880,33120,9030,19650,4440,1320,0,"[[1532118733,4],[1532120023,2],[1532121673,1],...",0,,174,"[1532118766,1532118782,1532118862,1532118878,1...",180,47,109,7,26,0,,1,"[[41.8,44.3,2.5,1.06,0.94],[40.9,46.7,5.8,1.14...",125,43,57,"[[1532142800,125,85,15,1,7],[1532142981,85,71,...",41.8,44.3,NaN
4,5b54363db482aa242c4bed7a,1F0C53,NaN,1532204294,1532245509,87.1,20.6,213.9,"[[1532204295,null,null,327],[1532204299,null,n...",115,41215,41025,2610,38610,8340,25110,5160,1410,190,"[[1532204310,4],[1532205690,2],[1532206620,3],...",1,"[[1532238851,1532238661]]",125,"[1532204307,1532204323,1532204339,1532204355,1...",180,45,111,12,26,0,,2,"[[8.6,7.2,-1.4,0.83,-0.13],[7.6,6.6,-1.0,0.87,...",10,35,65,"[[1532206184,6,17,83,1,10],[1532206544,7,31,69...",8.6,7.2,NaN

### Sbt402

In [115]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt402/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df27 = df
df27.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5df09a63cfd2b60b2cd41d50,1C6994,NaN,1576009306,1576049195,70.3,17.1,351.1,"[[1576009310,null,null,2],[1576009314,null,nul...",97,39889,37273,7500,32370,10170,16680,5520,1740,2616,"[[1576009325,4],[1576011035,2],[1576011065,4],...",8,"[[1576048378,1576048293],[1576036605,157603643...",151,"[1576013882,1576013914,1576013938,1576013954,1...",120,47,122,5,25,0,,4,"[[49.9,14.8,-35.1,0.30,-4.54],[60.7,34.0,-26.7...",72,52,48,"[[1576014263,31,36,64,0,168],[1576014443,29,36...",49.9,14.8,NaN
1,5df1e747c25f970b2ca35094,1C6994,NaN,1576099284,1576134423,66.5,16.4,316.3,"[[1576099287,null,null,3401],[1576099291,null,...",100,35139,35139,2190,32940,8820,19830,4290,750,0,"[[1576099302,4],[1576100022,2],[1576101102,3],...",0,,96,"[1576099291,1576099307,1576099319,1576099335,1...",120,44,128,6,24,0,,1,"[[54.7,36.9,-17.8,0.67,-1.92],[61.2,43.4,-17.8...",70,46,54,"[[1576100093,24,18,82,0,153],[1576100273,31,23...",54.7,36.9,NaN
2,5df3214b0662860b2c93ea4c,1C6994,NaN,1576187313,1576214814,66.4,16.7,240.5,"[[1576187314,null,null,13658],[1576187318,null...",67,27501,26101,4770,22740,6480,12750,3510,1260,1400,"[[1576187329,4],[1576188559,2],[1576188859,3],...",2,"[[1576214386,1576213280],[1576199772,1576199478]]",75,"[1576187322,1576187338,1576187358,1576187382,1...",120,41,130,7,25,0,,2,"[[36.6,37.7,1.0,1.03,0.16],[42.2,50.7,8.4,1.20...",73,29,71,"[[1576189563,38,52,48,0,112],[1576189743,37,43...",36.6,37.7,NaN
3,5df43d028661360b2c225027,1C6994,NaN,1576271655,1576287444,70.5,16.8,201.1,"[[1576271658,56,null,13],[1576271662,59,null,3...",40,15789,15463,2190,13590,4680,7290,1620,1050,326,"[[1576271673,4],[1576272693,2],[1576273203,3],...",1,"[[1576272089,1576271763]]",33,"[1576271750,1576272246,1576272374,1576272638,1...",120,47,107,6,24,0,,2,"[[48.4,54.0,5.6,1.12,1.48],[49.2,51.2,2.1,1.04...",93,44,56,"[[1576272719,20,49,51,1,135],[1576272898,21,42...",48.4,54.0,NaN
4,5df493eaadc45d0b2cef7854,1C6994,NaN,1576271655,1576309705,68.5,16.8,262.7,"[[1576271658,56,null,13],[1576271662,59,null,3...",99,38050,37194,4800,33240,10230,18450,4560,1050,856,"[[1576271673,4],[1576272693,2],[1576273203,3],...",3,"[[1576309055,1576308705],[1576287624,157628744...",106,"[1576271750,1576272246,1576272374,1576272638,1...",120,47,107,5,26,0,,3,"[[48.8,28.2,-20.6,0.58,-2.11],[46.7,37.3,-9.4,...",49,40,60,"[[1576272719,20,49,51,1,158],[1576272898,21,42...",48.8,28.2,NaN

### Sbt403

In [116]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt403/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df28 = df
df28.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5df064cba7ddb10b2c050da8,1C7029,NaN,1576015645,1576035493,59,12.5,192.8,"[[1576015649,66,null,22],[1576015653,66,null,2...",51,19848,19787,3450,16380,3900,9030,3450,1290,61,"[[1576015664,4],[1576016924,2],[1576018964,1],...",1,"[[1576015714,1576015653]]",62,"[1576015657,1576015797,1576015889,1576015917,1...",120,51,81,10,20,0,,1,"[[19.0,55.7,36.7,2.93,7.89],[26.1,48.6,22.5,1....",73,41,59,"[[1576017096,46,32,68,0,188],[1576017635,36,39...",19,55.7,NaN
1,5df081c6d063ee0b2cec9543,1C7029,NaN,1576015645,1576042921,57.8,12.1,179.7,"[[1576015649,66,null,22],[1576015653,66,null,2...",68,27276,26215,4440,22830,5400,13230,4200,1290,1061,"[[1576015664,4],[1576016924,2],[1576018964,1],...",4,"[[1576042630,1576042456],[1576040367,157603976...",91,"[1576015657,1576015797,1576015889,1576015917,1...",120,45,81,5,20,0,,3,"[[32.1,37.6,5.5,1.17,0.78],[26.1,27.9,1.9,1.07...",33,43,57,"[[1576017096,46,31,69,0,189],[1576017635,37,37...",32.1,37.6,NaN
2,5df1f3996356cd0b2c170008,1C7029,NaN,1576103254,1576137550,58.3,13.2,205.8,"[[1576103258,null,null,149],[1576103262,null,n...",98,34296,34296,2490,31800,7740,19290,4770,1620,0,"[[1576103273,4],[1576104863,2],[1576107563,3],...",0,,133,"[1576103262,1576103310,1576103326,1576103506,1...",120,51,88,11,25,0,,0,"[[49.3,39.1,-10.1,0.79,-1.15],[43.9,34.3,-9.6,...",64,50,50,"[[1576104964,22,54,46,0,122],[1576105144,24,48...",49.3,39.1,NaN
3,5df2e20c3eb64b0b2c40e52f,1C7029,NaN,1576189256,1576198647,55.3,12.6,190.9,"[[1576189258,null,null,1963],[1576189262,null,...",13,9391,9391,3990,5400,1830,2880,690,2580,0,"[[1576189273,4],[1576191823,2],[1576193173,1],...",0,,25,"[1576189270,1576189290,1576189430,1576189610,1...",120,51,67,11,23,0,,0,"[[45.5,34.5,-11.0,0.76,-7.61],[39.9,39.9,0.0,1...",75,37,63,"[[1576191866,18,54,46,0,149],[1576192045,27,49...",45.5,34.5,NaN
4,5df332da38af820b2cd9187c,1C7029,NaN,1576189256,1576219282,54.9,12.5,195.1,"[[1576189258,null,null,1963],[1576189262,null,...",76,30026,29898,4560,25470,5820,15150,4500,1800,128,"[[1576189273,4],[1576191043,2],[1576191583,1],...",1,"[[1576198775,1576198647]]",156,"[1576189270,1576189290,1576189430,1576189610,1...",120,48,100,10,26,0,,2,"[[34.1,47.5,13.4,1.39,1.82],[41.4,49.3,7.9,1.1...",92,42,58,"[[1576191146,33,34,66,0,138],[1576191326,37,36...",34.1,47.5,NaN

### Sbt404

In [117]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt404/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df29 = df
df29.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5de5febc6569280b2c119c8f,1F0C53,NaN,1575325954,1575354013,46.9,15.8,254.4,"[[1575325957,null,null,2599],[1575325961,null,...",79,28059,28059,2250,25800,5250,16590,3960,1650,0,"[[1575325972,4],[1575327592,2],[1575328282,3],...",0,,124,"[1575325981,1575325997,1575328437,1575328453,1...",120,40,92,8,26,0,,0,"[[26.0,49.9,23.9,1.92,3.72],[33.6,57.2,23.5,1....",58,61,39,"[[1575330185,30,69,31,0,130],[1575334325,32,68...",26,49.9,NaN
1,5de770c2a3b1450b2cc24602,1F0C53,NaN,1575415413,1575448702,55.7,14.0,228.0,"[[1575415417,59,null,76],[1575415421,59,null,7...",97,33289,33289,2340,30930,7980,17760,5190,1170,0,"[[1575415432,4],[1575416572,2],[1575417832,1],...",0,,121,"[1575426837,1575426909,1575426949,1575427021,1...",120,46,100,5,26,0,,2,"[[21.4,19.3,-2.1,0.90,-0.27],[20.0,19.7,-0.3,0...",26,69,31,"[[1575416584,26,49,51,0,6],[1575416764,27,51,4...",21.4,19.3,NaN
2,5de8a88d7af57c0b2c0fbffa,1F0C53,NaN,1575499111,1575528550,47.7,16.2,269.4,"[[1575499113,null,null,34],[1575499117,null,nu...",86,29439,29255,2280,27150,5550,16470,5130,1020,184,"[[1575499128,4],[1575500118,2],[1575501378,1],...",1,"[[1575528043,1575527859]]",146,"[1575499673,1575499689,1575499869,1575499925,1...",120,41,103,7,26,0,,1,"[[28.7,35.9,7.1,1.25,1.00],[24.6,33.0,8.5,1.35...",56,51,49,"[[1575500642,17,57,43,0,123],[1575500822,19,57...",28.7,35.9,NaN
3,5de9f4381cb0fb0b2c0fd1bb,1F0C53,NaN,1575585845,1575613457,47.0,15.4,269.9,"[[1575585849,null,null,70],[1575585853,null,nu...",77,27612,27612,2130,25470,6750,15360,3360,1050,0,"[[1575585864,4],[1575586884,2],[1575588144,1],...",0,,99,"[1575586329,1575586345,1575586477,1575586621,1...",120,41,93,9,25,0,,1,"[[35.6,30.3,-5.3,0.85,-0.82],[32.6,29.3,-3.4,0...",37,55,45,"[[1575589363,46,26,74,0,171],[1575589722,41,37...",35.6,30.3,NaN
4,5deb5310d6c4b10b2ca1b74e,1F0C53,NaN,1575675930,1575703267,49.6,16.1,284.6,"[[1575675932,null,null,1105],[1575675936,null,...",78,27337,27337,1860,25470,6390,15270,3810,1110,0,"[[1575675947,4],[1575677027,2],[1575677867,3],...",0,,146,"[1575675932,1575676012,1575676040,1575676056,1...",120,41,95,9,26,0,,1,"[[17.8,32.9,15.0,1.84,2.11],[19.2,21.5,2.3,1.1...",41,64,36,"[[1575677101,14,61,39,0,176],[1575677280,15,62...",17.8,32.9,NaN

### Sbt405

In [118]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt405/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df30 = df
df30.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5de8e219afe0280b2cf0808a,1F1071,NaN,1575520085,1575543298,54,15.4,112.4,"[[1575520087,54,14.9,150],[1575520091,54,14.9,...",47,23213,23213,7050,16170,8190,5490,2490,480,0,"[[1575520102,4],[1575520552,2],[1575521572,1],...",0,,11,"[1575520167,1575520183,1575520899,1575520923,1...",120,50,67,11,19,0,,3,"[[19.4,24.7,5.4,1.28,5.35],[22.0,22.0,0.0,1.00...",31,62,38,"[[1575520698,24,53,47,0,52],[1575520878,23,53,...",19.4,24.7,NaN
1,5dede47b2a19190b2c6a065d,1F1071,NaN,1575843084,1575871575,53.3,14.7,304.5,"[[1575843087,null,null,153],[1575843091,null,n...",82,28491,28491,2100,26400,6090,16080,4230,1140,0,"[[1575843102,4],[1575844212,2],[1575845262,1],...",0,,136,"[1575843103,1575843119,1575843135,1575843175,1...",120,47,107,5,19,0,,1,"[[24.5,18.2,-6.4,0.74,-0.86],[21.1,16.7,-4.4,0...",23,37,63,"[[1575844435,12,63,37,0,136],[1575844615,14,62...",24.5,18.2,NaN
2,5df1e787d37e300b2c1646b4,1F1071,NaN,1576100139,1576134491,57.3,15.2,223.5,"[[1576100142,null,null,202],[1576100146,null,n...",100,34352,34277,2100,32250,9360,18480,4410,840,75,"[[1576100157,4],[1576100967,2],[1576102497,1],...",1,"[[1576134364,1576134289]]",96,"[1576100150,1576100166,1576100210,1576100342,1...",120,50,71,11,20,0,,1,"[[30.0,14.1,-15.9,0.47,-1.75],[42.7,26.6,-16.1...",37,47,53,"[[1576101129,36,27,73,0,71],[1576101310,39,26,...",30.0,14.1,NaN
3,5df32f5fda1dc30b2c6c691a,1F1071,NaN,1576184911,1576218383,55.6,15.3,333.1,"[[1576184913,null,null,2797],[1576184917,null,...",105,33472,33472,1290,32190,6960,19080,6150,1110,0,"[[1576184928,4],[1576186008,2],[1576186968,1],...",0,,330,"[1576184925,1576184973,1576185001,1576185253,1...",120,49,103,5,25,0,,0,"[[20.7,12.4,-8.3,0.60,-0.94],[15.8,12.4,-3.4,0...",20,41,59,"[[1576186082,9,61,39,1,119],[1576186262,10,58,...",20.7,12.4,NaN
4,5df47a6eea25c80b2cdd92a6,1F1071,NaN,1576274824,1576303184,49,14.7,223.5,"[[1576274827,null,null,41],[1576274831,null,nu...",83,28360,28281,2370,25980,4440,15960,5580,870,79,"[[1576274842,4],[1576275682,2],[1576277182,1],...",1,"[[1576274972,1576274893]]",45,"[1576274899,1576274983,1576275039,1576275079,1...",120,44,100,8,24,0,,1,"[[25.9,16.6,-9.3,0.64,-1.29],[29.9,17.0,-12.9,...",24,49,51,"[[1576276503,33,58,42,0,109],[1576276683,33,55...",25.9,16.6,NaN

### Sbt406

In [119]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt406/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df31 = df
df31.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5de88b003011430b2c533a02,11EBDC,NaN,1575495002,1575520948,78.4,16.6,690.4,"[[1575495003,null,null,261],[1575495007,null,n...",73,25946,25763,2100,23850,5040,15030,3780,1020,183,"[[1575495018,4],[1575496008,2],[1575497388,3],...",1,"[[1575508275,1575508092]]",109,"[1575495011,1575495091,1575495115,1575495131,1...",120,58,107,13,22,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
1,5de9bf733814c60b2cc693eb,11EBDC,NaN,1575580357,1575599930,72.2,14.9,508.3,"[[1575580360,null,19.4,853],[1575580364,null,1...",41,19573,19573,5610,13950,2280,8310,3360,2220,0,"[[1575580375,4],[1575582565,2],[1575583345,3],...",0,,74,"[1575580400,1575580540,1575581308,1575582508,1...",120,60,86,12,23,0,,0,"[[33.6,20.6,-13.1,0.61,-3.42],[30.5,21.4,-9.1,...",26,69,31,"[[1575582608,17,82,18,1,376],[1575582967,21,80...",33.6,20.6,NaN
2,5de9ed1a5a3b290b2c959874,11EBDC,NaN,1575580357,1575611655,68.9,15.2,503.7,"[[1575580360,null,19.4,853],[1575580364,null,1...",99,31298,31126,3870,27420,3720,13890,9810,2220,172,"[[1575580375,4],[1575582565,2],[1575583315,3],...",1,"[[1575600102,1575599930]]",106,"[1575580400,1575580540,1575581308,1575582508,1...",120,60,86,12,26,0,,1,"[[28.6,18.1,-10.5,0.63,-1.35],[29.3,22.5,-6.9,...",25,64,36,"[[1575582608,17,82,18,1,358],[1575582967,20,80...",28.6,18.1,NaN
3,5deb327d70f1d20b2c3d2011,11EBDC,NaN,1575673566,1575694902,71.4,17.2,458.4,"[[1575673568,null,null,32767],[1575673572,null...",56,21336,21098,3330,18000,4680,9630,3690,750,238,"[[1575673583,4],[1575674303,2],[1575675623,1],...",1,"[[1575685145,1575684907]]",91,"[1575673576,1575673592,1575673608,1575673636,1...",120,63,85,13,26,0,,2,"[[18.8,17.6,-1.1,0.94,-0.21],[18.5,17.6,-1.0,0...",20,61,39,"[[1575675276,13,56,44,1,213],[1575675456,14,60...",18.8,17.6,NaN
4,5deb44832eebad0b2c2142f1,11EBDC,NaN,1575673566,1575699559,70.6,17.1,486.2,"[[1575673568,null,null,32767],[1575673572,null...",71,25993,25546,3930,22050,4080,12270,5700,750,447,"[[1575673583,4],[1575674303,2],[1575675623,1],...",2,"[[1575695111,1575694902],[1575685145,1575684907]]",127,"[1575673576,1575673592,1575673608,1575673636,1...",120,60,85,13,26,0,,3,"[[18.1,19.2,1.1,1.06,0.16],[18.6,20.0,1.5,1.08...",22,59,41,"[[1575675276,13,56,44,1,213],[1575675456,14,60...",18.1,19.2,NaN

### Sbt407

In [120]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt407/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df32 = df
df32.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5de8a9062cc8120b2c91d62b,11EC56,NaN,1575498830,1575528636,67.4,13.1,262.5,"[[1575498831,null,null,1204],[1575498835,null,...",84,29806,29806,3150,26640,6570,15060,5010,960,0,"[[1575498846,4],[1575499776,2],[1575501846,3],...",0,,232,"[1575498831,1575498855,1575498871,1575498887,1...",120,52,84,10,25,0,,2,"[[27.1,46.5,19.3,1.71,3.12],[31.2,45.0,13.8,1....",53,31,69,"[[1575504139,27,49,51,0,215],[1575508999,31,43...",27.1,46.5,NaN
1,5def2e17f9fe6f0b2cbbd8a2,11EC56,NaN,1575928840,1575955927,66.3,12.9,255.5,"[[1575928841,null,null,2406],[1575928845,null,...",67,27087,27087,5130,21960,4320,12900,4740,1440,0,"[[1575928856,4],[1575930266,2],[1575931466,1],...",0,,222,"[1575928849,1575928865,1575928881,1575928897,1...",120,57,126,10,17,0,,1,"[[42.7,28.7,-14.0,0.67,-2.19],[42.9,32.4,-10.4...",41,41,59,"[[1575930551,43,14,86,0,116],[1575930730,45,20...",42.7,28.7,NaN
2,5df08b1f7b5f4a0b2c39eb90,11EC56,NaN,1576003714,1576045317,65.5,13.1,289.0,"[[1576003717,55,null,49],[1576003721,55,null,3...",75,41603,36250,13110,28500,7140,16380,4980,3270,5353,"[[1576003732,4],[1576006972,1],[1576007002,4],...",21,"[[1576045290,1576045182],[1576045168,157604490...",276,"[1576015308,1576015356,1576015372,1576015388,1...",120,43,125,9,23,0,,5,"[[41.5,20.8,-20.7,0.50,-2.66],[44.2,26.1,-18.2...",32,41,59,"[[1576016111,32,25,75,1,209],[1576016291,35,28...",41.5,20.8,NaN
3,5df1dbf8b52f000b2cc44f5e,11EC56,NaN,1576101632,1576131515,68.2,13.1,181.7,"[[1576101634,null,null,1435],[1576101638,null,...",90,29883,29623,1710,28170,8640,15210,4320,870,260,"[[1576101649,4],[1576102489,2],[1576103839,1],...",1,"[[1576131461,1576131201]]",117,"[1576101638,1576101662,1576101698,1576101722,1...",120,59,130,11,26,0,,0,"[[37.9,44.0,6.1,1.16,1.12],[36.7,42.0,5.3,1.14...",53,36,64,"[[1576102621,39,51,49,0,99],[1576102802,37,43,...",37.9,44.0,NaN
4,5df32fd9a3fc110b2c51105b,11EC56,NaN,1576187430,1576218556,70.4,13.4,265.9,"[[1576187434,null,null,879],[1576187438,null,n...",87,31126,30456,3750,27360,7080,14970,5310,1620,670,"[[1576187449,4],[1576189039,1],[1576190899,2],...",3,"[[1576218463,1576218242],[1576188007,157618792...",215,"[1576188014,1576188030,1576188046,1576188070,1...",120,51,140,9,26,0,,1,"[[35.4,63.6,28.2,1.80,4.06],[33.2,59.5,26.3,1....",72,43,57,"[[1576189178,37,39,61,0,103],[1576189537,35,34...",35.4,63.6,NaN

### Sbt408

In [121]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt408/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df33 = df
df33.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5de9cb6c08e8770b2c3be59a,1EFD48,NaN,1575579065,1575602983,75.8,17.9,386.3,"[[1575579069,null,null,1584],[1575579073,null,...",49,23918,23096,5670,18240,5940,10350,1950,1020,822,"[[1575579084,4],[1575580074,2],[1575581244,3],...",2,"[[1575589053,1575588428],[1575586877,1575586680]]",244,"[1575579069,1575579085,1575579105,1575579137,1...",120,47,118,6,25,0,,2,NaN,0,0,0,,NaN,NaN,NaN
1,5dea0152eaea2a0b2c7b3541,1EFD48,NaN,1575579065,1575616835,75.4,17.5,390.5,"[[1575579069,null,null,1584],[1575579073,null,...",82,37770,36292,7020,30750,10290,18120,2340,1020,1478,"[[1575579084,4],[1575580074,2],[1575581244,3],...",4,"[[1575613022,1575612457],[1575603074,157560298...",355,"[1575579069,1575579085,1575579105,1575579137,1...",120,47,122,6,25,0,,5,NaN,0,0,0,,NaN,NaN,NaN
2,5deb6de2d212960b2c505fb0,1EFD48,NaN,1575671342,1575710103,71.6,17.6,318.7,"[[1575671343,null,null,443],[1575671347,null,n...",110,38761,38172,2340,36420,10920,21510,3990,780,589,"[[1575671358,4],[1575672108,2],[1575673278,3],...",2,"[[1575692692,1575692296],[1575692131,1575691938]]",266,"[1575671379,1575671643,1575671903,1575671971,1...",120,40,142,11,26,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
3,5decb0ebab822d0b2c6dba77,1EFD48,NaN,1575750480,1575792824,75.0,17.4,337.7,"[[1575750481,null,null,1140],[1575750485,null,...",110,42344,41656,5280,37050,7470,23370,6210,1320,688,"[[1575750496,4],[1575751786,2],[1575753196,3],...",3,"[[1575788844,1575788612],[1575783347,157578314...",352,"[1575750481,1575750505,1575750517,1575750541,1...",120,47,114,11,26,0,,4,NaN,0,0,0,[],NaN,NaN,NaN
4,5ded919c2fbf3d0b2cdb3f93,1EFD48,NaN,1575840436,1575850374,68.1,17.9,392.8,"[[1575840438,null,null,875],[1575840442,null,n...",24,9938,9938,1710,8220,2670,4650,900,720,0,"[[1575840453,4],[1575841143,2],[1575842283,3],...",0,,90,"[1575840458,1575840474,1575840550,1575840570,1...",120,46,102,13,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt409

In [122]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt409/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df34 = df
df34.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5df089e5faa0bc0b2c44e758,1C6FEE,NaN,1576020297,1576044968,68.5,18,310.5,"[[1576020301,57,null,28],[1576020305,57,null,3...",64,24671,23919,2460,22200,5940,14160,2100,2040,752,"[[1576020316,4],[1576022326,2],[1576024366,3],...",1,"[[1576021123,1576020371]]",66,"[1576021177,1576021193,1576021301,1576021341,1...",120,39,102,12,25,0,,0,"[[126.8,171.5,44.7,1.35,10.65],[128.3,173.4,45...",173,46,54,"[[1576027513,121,66,34,0,577],[1576028053,136,...",126.8,171.5,NaN
1,5df1e32f7bef780b2c6a17d5,1C6FEE,NaN,1576104911,1576133351,69.9,17.8,384.6,"[[1576104913,79,null,60],[1576104917,77,null,4...",79,28440,28440,3300,25140,6210,14460,4470,2040,0,"[[1576104928,4],[1576106938,2],[1576107688,1],...",0,,123,"[1576104925,1576105097,1576105285,1576105333,1...",120,50,103,12,26,0,,0,"[[127.8,95.7,-32.0,0.75,-6.28],[123.0,97.6,-25...",126,35,65,"[[1576108962,122,45,55,1,430],[1576109502,124,...",127.8,95.7,NaN
2,5df33eae343f2b0b2c0ea072,1C6FEE,NaN,1576193713,1576222306,68.4,17.4,315.8,"[[1576193714,null,null,172],[1576193718,85,nul...",79,28593,27787,2850,25740,7350,14820,3570,1590,806,"[[1576193729,4],[1576195289,2],[1576195529,3],...",1,"[[1576222153,1576221347]]",130,"[1576193754,1576193810,1576193854,1576193874,1...",120,46,97,5,26,0,,0,"[[177.6,65.0,-112.7,0.37,-16.21],[162.3,70.2,-...",167,40,60,"[[1576195783,167,44,56,1,235],[1576199203,157,...",177.6,65.0,NaN
3,5df48ef200c6f00b2c87ec09,1C6FEE,NaN,1576281805,1576308393,70.3,17.3,289.5,"[[1576281807,70,null,1136],[1576281811,70,null...",82,26588,26588,1770,24810,6600,13230,4980,1530,0,"[[1576281822,4],[1576283322,2],[1576284372,1],...",0,,77,"[1576281883,1576281991,1576282059,1576282115,1...",120,48,102,5,25,0,,0,"[[150.6,73.1,-77.5,0.49,-11.92],[131.1,65.5,-6...",141,38,62,"[[1576284595,125,19,81,1,159],[1576287115,132,...",150.6,73.1,NaN
4,5df5a1fedb21480b2c4cfc73,1C6FEE,NaN,1576367700,1576378864,68.2,18.4,314.6,"[[1576367703,null,null,480],[1576367707,69,nul...",24,11164,11164,2160,9000,1440,6630,930,1620,0,"[[1576367718,4],[1576369308,2],[1576370268,3],...",0,,46,"[1576367715,1576367731,1576367747,1576367767,1...",120,46,107,15,24,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt410

In [123]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt410/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df35 = df
df35.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5df07dd6877c1f0b2c87a373,1C70B0,NaN,1576014537,1576041873,65.1,12.8,196.5,"[[1576014541,null,null,4507],[1576014545,null,...",76,27336,27000,3840,23490,4380,13440,5670,1200,336,"[[1576014556,4],[1576015726,2],[1576017676,1],...",1,"[[1576040092,1576039756]]",113,"[1576014545,1576014609,1576014625,1576014645,1...",120,59,105,9,18,0,,1,"[[11.5,13.8,2.2,1.19,0.34],[12.7,13.8,1.1,1.09...",23,63,37,"[[1576015887,16,72,28,0,233],[1576016067,15,72...",11.5,13.8,NaN
1,5df1d76e9bee580b2c7b12f5,1C70B0,NaN,1576108989,1576130366,63.1,12.6,153.5,"[[1576108993,null,null,9186],[1576108997,null,...",47,21377,21114,6120,15240,2130,8520,4590,2700,263,"[[1576109008,4],[1576111678,2],[1576111798,1],...",1,"[[1576121494,1576121231]]",69,"[1576109009,1576109049,1576109081,1576109109,1...",120,57,73,8,16,0,,1,"[[11.1,17.4,6.3,1.56,1.40],[12.1,16.3,4.2,1.35...",24,47,53,"[[1576111779,10,69,31,0,37],[1576111958,11,60,...",11.1,17.4,NaN
2,5df326e885f7060b2c3ca142,1C70B0,NaN,1576190367,1576216218,64.9,12.5,188.5,"[[1576190369,null,null,427],[1576190373,null,n...",65,25851,25339,5250,20610,2700,12420,5490,2610,512,"[[1576190384,4],[1576192964,2],[1576194434,1],...",2,"[[1576215345,1576215083],[1576205483,1576205233]]",100,"[1576190373,1576190385,1576190405,1576190421,1...",120,57,78,9,17,0,,1,"[[10.3,17.4,7.1,1.69,1.18],[9.3,15.8,6.5,1.70,...",23,50,50,"[[1576192977,12,81,19,1,109],[1576193157,12,80...",10.3,17.4,NaN
3,5df48bb3440fd40b2cb63afe,1C70B0,NaN,1576292145,1576307569,65.2,12.2,198.1,"[[1576292149,null,null,85],[1576292153,null,nu...",42,15424,15424,1710,13710,2640,8640,2430,1140,0,"[[1576292164,4],[1576293274,2],[1576293994,3],...",0,,52,"[1576292209,1576292225,1576292237,1576292253,1...",120,57,76,9,15,0,,0,"[[22.5,11.9,-10.6,0.53,-2.82],[20.6,11.3,-9.3,...",13,64,36,"[[1576293315,10,29,71,0,86],[1576293495,11,36,...",22.5,11.9,NaN
4,5df5de5cca186f0b2ceb41aa,1C70B0,NaN,1576372837,1576394299,58.4,12.1,172.6,"[[1576372837,null,null,0],[1576372841,null,nul...",44,21462,20672,5070,16380,3000,10980,2400,3750,790,"[[1576372852,4],[1576376572,2],[1576377562,3],...",2,"[[1576382949,1576382566],[1576373254,1576372847]]",65,"[1576373221,1576373429,1576373449,1576373617,1...",120,53,67,7,16,0,,1,"[[15.7,13.8,-2.0,0.88,-0.42],[14.8,13.7,-1.2,0...",15,64,36,"[[1576376584,16,67,33,0,81],[1576376765,15,66,...",15.7,13.8,NaN

### Sbt411

In [124]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt411/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df36 = df
df36.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5df0afafa8bacb0b2c071719,1C6C39,NaN,1576014109,1576054673,71.4,14.3,204.2,"[[1576014111,92,null,145],[1576014115,80,null,...",106,40564,40564,4230,36330,9660,22770,3900,1020,0,"[[1576014126,4],[1576015116,2],[1576016406,1],...",0,,164,"[1576014167,1576014271,1576014363,1576014379,1...",120,48,111,5,23,0,,0,"[[79.7,98.1,18.4,1.23,36.80],[88.9,88.9,0.0,1....",98,37,63,"[[1576028801,80,45,55,0,141],[1576030601,98,30...",79.7,98.1,NaN
1,5df2028c7955be0b2cc50553,1C6C39,NaN,1576075637,1576141403,67.2,15.6,63.7,"[[1576075641,null,null,4468],[1576075645,null,...",NaN,65766,63763,NaN,NaN,NaN,NaN,NaN,NaN,2003,NaN,9,"[[1576078450,1576077665],[1576077446,157607738...",3,"[1576075645,1576075669,1576076725]",120,46,102,7,20,0,,NaN,NaN,0,0,0,,NaN,NaN,NaN
2,5df343dc4c7d010b2ccb71c9,1C6C39,NaN,1576183736,1576223631,77.7,14.3,193.3,"[[1576183739,65,null,146],[1576183743,65,null,...",114,39895,39623,3090,36810,9150,21660,6000,1530,272,"[[1576183754,4],[1576185254,2],[1576185464,1],...",1,"[[1576204910,1576204638]]",157,"[1576183759,1576183779,1576183807,1576183863,1...",120,47,117,7,26,0,,2,"[[183.7,168.9,-14.8,0.92,-2.15],[200.6,192.7,-...",219,45,55,"[[1576185267,201,65,35,0,58],[1576190846,180,5...",183.7,168.9,NaN
3,5df49c2aa221020b2c76793f,1C6C39,NaN,1576269769,1576311825,73.6,14.4,272.2,"[[1576269770,null,null,3386],[1576269774,null,...",123,42056,42056,2460,39600,11220,22860,5520,540,0,"[[1576269785,4],[1576270295,2],[1576271435,3],...",0,,203,"[1576269770,1576269786,1576269806,1576270598,1...",120,48,120,6,26,1,[1576311285],1,"[[135.0,135.9,0.9,1.01,0.13],[134.9,136.3,1.4,...",140,45,55,"[[1576271660,131,36,64,0,109],[1576272019,136,...",135.0,135.9,NaN
4,5df540e9f7c54d0b2cff6246,1C6C39,NaN,1576340347,1576354008,63.4,14.9,43.2,"[[1576340349,71,null,24],[1576340353,71,null,5...",27,13661,13661,4440,9210,1530,5280,2400,3360,0,"[[1576340364,4],[1576343694,2],[1576344684,1],...",0,,0,,120,45,88,8,19,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt412

In [125]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt412/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df37 = df
df37.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e1d66276eb7d31c60db319f,1F1071,NaN,1578952287,1578984914,53.2,15.1,226.8,"[[1578952289,68,null,192],[1578952293,67,null,...",91,32627,32627,3450,29160,6360,17370,5430,2100,0,"[[1578952304,4],[1578954374,2],[1578956624,1],...",0,,100,"[1578952889,1578953045,1578953461,1578953633,1...",120,43,76,8,26,0,,1,"[[22.3,23.2,0.9,1.04,0.11],[20.5,21.0,0.4,1.02...",29,29,71,"[[1578955077,44,27,73,0,155],[1578955798,36,29...",22.3,23.2,NaN
1,5e1ebb05e69da42320596b06,1F1071,NaN,1579039455,1579072230,50.1,14.9,259.0,"[[1579039456,null,null,0],[1579039460,null,nul...",94,32775,32108,3480,29280,7890,15810,5580,1140,667,"[[1579039471,4],[1579040581,2],[1579041511,4],...",2,"[[1579071751,1579071438],[1579042185,1579041831]]",103,"[1579042580,1579042904,1579043440,1579043868,1...",120,45,79,7,21,1,[1579071394],1,"[[20.6,41.0,20.3,1.98,2.41],[13.8,43.0,29.1,3....",46,25,75,"[[1579040626,25,38,62,0,88],[1579042635,19,37,...",20.6,41.0,NaN
2,5e200c8a28199d232060ec36,1F1071,NaN,1579121874,1579158606,50.8,14.6,272.4,"[[1579121876,null,null,7],[1579121880,null,nul...",104,36732,36372,3630,33090,8100,18900,6090,2880,360,"[[1579121891,4],[1579124741,2],[1579125821,3],...",2,"[[1579153421,1579153241],[1579123623,1579123443]]",148,"[1579126072,1579126088,1579126108,1579126152,1...",120,45,74,5,25,0,,1,"[[20.4,24.4,4.0,1.19,0.44],[18.6,16.4,-2.2,0.8...",22,38,62,"[[1579125693,58,38,62,0,6],[1579125873,47,38,6...",20.4,24.4,NaN
3,5e21103c7ce4ec2320905f54,1F1071,NaN,1579210603,1579225131,67.3,15.6,306.0,"[[1579210604,null,null,297],[1579210608,null,n...",31,14528,14215,3570,10950,3870,5640,1440,1050,313,"[[1579210619,4],[1579211639,2],[1579213319,1],...",2,"[[1579220193,1579219962],[1579211257,1579211175]]",43,"[1579210612,1579210852,1579210896,1579211000,1...",120,50,96,12,24,0,,1,"[[-13.7,130.0,143.6,-9.51,64.30],[30.8,85.4,54...",168,39,61,"[[1579211886,10,32,68,0,254],[1579212066,10,31...",-13.7,130.0,NaN
4,5e2158d4dc02f12320e5ad9f,1F1071,NaN,1579210603,1579243688,68.0,15.4,281.6,"[[1579210604,null,null,297],[1579210608,null,n...",90,33085,32479,4110,28980,9360,15030,4590,990,606,"[[1579210619,4],[1579211579,2],[1579212839,1],...",4,"[[1579241921,1579241772],[1579225275,157922513...",117,"[1579210612,1579210852,1579210896,1579211000,1...",120,46,134,8,24,0,,2,"[[30.2,209.8,179.6,6.94,25.31],[31.2,90.8,59.6...",226,42,58,"[[1579211886,10,32,68,0,255],[1579212066,10,31...",30.2,209.8,NaN

### Sbt413

In [126]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt413/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df38 = df
df38.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e1c8e473a272b1c60eb5b0c,1C6994,NaN,1578891859,1578929710,NaN,NaN,0,"[[1578929634,null,null,0],[1578929638,null,nul...",NaN,37851,37851,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,0,,120,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,[],NaN,NaN,NaN
1,5e1d4a168efa521c602ac2e4,1C6994,NaN,1578941235,1578977747,52.5,14.1,561.5,"[[1578941238,null,null,578],[1578941242,53,nul...",103,36512,36269,4470,32040,7650,17400,6990,1890,243,"[[1578941253,4],[1578943113,2],[1578944313,1],...",2,"[[1578976890,1578976813],[1578953815,1578953649]]",256,"[1578941294,1578941350,1578941382,1578941414,1...",120,46,115,10,24,1,[1578952645],2,"[[16.3,13.4,-2.9,0.82,-0.32],[16.9,14.3,-2.6,0...",15,36,64,"[[1578943126,13,19,81,0,281],[1578943306,13,18...",16.3,13.4,NaN
2,5e1e49a5fa35c11c609fd530,1C6994,NaN,1579029799,1579043211,55.5,14.5,659.1,"[[1579029802,null,null,177],[1579029806,null,n...",35,13412,13412,2670,10740,2010,5910,2820,1620,0,"[[1579029817,4],[1579031407,2],[1579032787,1],...",0,,118,"[1579029850,1579029866,1579029918,1579029982,1...",120,50,94,10,26,0,,0,"[[16.3,15.5,-0.8,0.95,-0.30],[16.6,15.0,-1.6,0...",22,25,75,"[[1579031854,11,23,77,0,288],[1579032034,11,22...",16.3,15.5,NaN
3,5e1e8f264110151c6073e126,1C6994,NaN,1579029799,1579060974,55.0,14.4,592.6,"[[1579029802,null,null,177],[1579029806,null,n...",91,31175,31096,3120,28050,5310,16290,6450,1590,79,"[[1579029817,4],[1579031377,2],[1579032757,1],...",1,"[[1579043290,1579043211]]",245,"[1579029850,1579029866,1579029918,1579029982,1...",120,47,120,8,26,0,,1,"[[18.6,12.9,-5.7,0.69,-0.72],[17.0,13.2,-3.8,0...",18,31,69,"[[1579031854,11,23,77,0,276],[1579032034,11,22...",18.6,12.9,NaN
4,5e1fe02eb757d62320528288,1C6994,NaN,1579113895,1579147245,54.5,14.3,602.6,"[[1579113897,null,null,986],[1579113901,null,n...",94,33350,33130,5340,28020,2880,16290,8850,1800,220,"[[1579113912,4],[1579115682,2],[1579116402,1],...",2,"[[1579146681,1579146580],[1579132653,1579132534]]",268,"[1579113913,1579113965,1579114017,1579114149,1...",120,47,103,8,25,1,[1579120596],1,"[[15.6,12.8,-2.8,0.82,-0.33],[14.4,13.3,-1.1,0...",18,34,66,"[[1579115785,12,13,87,0,242],[1579115965,12,15...",15.6,12.8,NaN

### Sbt414

In [127]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt414/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df39 = df
df39.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e1ec5640cea84232081895e,1C6FEE,NaN,1579037547,1579074842,58.2,16.3,282,"[[1579037547,null,null,37],[1579037551,null,nu...",115,37295,37188,2490,34800,8400,18900,7500,1080,107,"[[1579037562,4],[1579038612,2],[1579040622,1],...",1,"[[1579037671,1579037564]]",167,"[1579037687,1579037703,1579037723,1579037779,1...",120,45,102,11,26,0,,1,"[[131.4,134.1,2.7,1.02,0.39],[122.4,133.7,11.3...",152,38,62,"[[1579039561,122,37,63,0,174],[1579048020,127,...",131.4,134.1,NaN
1,5e1f93a50253af23206c1b1e,1C6FEE,NaN,1579074981,1579127691,NaN,NaN,592,"[[1579074983,null,null,403],[1579074987,null,n...",NaN,52710,52710,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,1,[1579074995],120,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,[],NaN,NaN,NaN
2,5e2005f178b9d9232007cd2f,1C6FEE,NaN,1579074981,1579156917,56.0,16.4,228.4,"[[1579074983,null,null,403],[1579074987,null,n...",NaN,81936,81856,NaN,NaN,NaN,NaN,NaN,NaN,80,NaN,1,"[[1579127771,1579127691]]",109,"[1579074995,1579127847,1579128239,1579128771,1...",120,45,97,12,21,0,,NaN,"[[163.6,133.1,-30.5,0.81,-6.62],[157.6,133.0,-...",177,31,69,"[[1579138121,137,36,64,0,159],[1579139021,152,...",163.6,133.1,NaN
3,5e223272bf6e1b23200884b0,1C6FEE,NaN,1579214945,1579299372,59.3,16.3,282,"[[1579214947,67,null,212],[1579214951,71,null,...",NaN,84427,84314,NaN,NaN,NaN,NaN,NaN,NaN,113,NaN,1,"[[1579245646,1579245533]]",121,"[1579215067,1579215179,1579216083,1579216135,1...",120,45,122,12,26,0,,NaN,"[[132.1,115.7,-16.4,0.88,-0.72],[123.1,114.8,-...",171,44,56,"[[1579217375,104,51,49,0,118],[1579217735,118,...",132.1,115.7,NaN
4,5e2279345080172320ce7c18,1C6FEE,NaN,1579245646,1579317532,57.3,16.7,309.1,"[[1579245647,null,null,134],[1579245651,null,n...",NaN,71886,71617,NaN,NaN,NaN,NaN,NaN,NaN,269,NaN,2,"[[1579311182,1579311056],[1579299515,1579299372]]",102,"[1579245671,1579245995,1579246351,1579246499,1...",120,43,122,13,26,0,,NaN,"[[132.1,160.2,28.0,1.21,5.75],[125.3,140.9,15....",176,42,58,"[[1579298226,109,40,60,0,254],[1579298586,118,...",132.1,160.2,NaN

### Sbt415

In [128]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt415/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df40 = df
df40.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e284ad1beb9562320839063,1EFD48,NaN,1579653812,1579698839,68.5,13.6,475.7,"[[1579653812,74,null,121],[1579653816,76,null,...",71,45027,44815,17460,27510,6090,15810,5610,720,212,"[[1579653827,4],[1579654517,2],[1579655447,1],...",1,"[[1579675361,1579675149]]",363,"[1579653944,1579654088,1579654116,1579654156,1...",120,49,130,5,25,2,"[1579654227,1579675844]",1,"[[24.9,28.1,3.2,1.13,0.64],[25.4,26.5,1.1,1.04...",37,53,47,"[[1579654614,13,47,53,0,99],[1579654794,15,53,...",24.9,28.1,NaN
1,5e2965682f1e0d23209d0226,1EFD48,NaN,1579738414,1579771187,62.8,14.2,517.0,"[[1579738417,null,null,3503],[1579738421,null,...",91,32773,32773,3660,29100,6870,16920,5310,2160,0,"[[1579738432,4],[1579740562,2],[1579742002,3],...",0,,400,"[1579738425,1579738437,1579738453,1579738469,1...",120,50,124,11,22,0,,1,"[[19.5,21.3,1.8,1.09,0.25],[22.1,20.9,-1.2,0.9...",23,66,34,"[[1579742465,16,52,48,1,280],[1579742645,18,51...",19.5,21.3,NaN
2,5e2ab0f2f715622320188261,1EFD48,NaN,1579826441,1579856054,64.1,14.1,463.2,"[[1579826445,null,null,1336],[1579826449,null,...",84,29613,28438,2910,26700,5850,15720,5130,1770,1175,"[[1579826460,4],[1579828200,2],[1579828680,3],...",2,"[[1579855179,1579854933],[1579827468,1579826539]]",346,"[1579826481,1579827513,1579827545,1579827809,1...",120,42,118,10,26,0,,2,"[[33.4,14.0,-19.3,0.42,-3.25],[30.4,19.2,-11.2...",25,55,45,"[[1579829359,35,30,70,1,316],[1579829539,38,34...",33.4,14.0,NaN
3,5e2c24ff3dacac23202b569c,1EFD48,NaN,1579915694,1579951325,63.6,13.6,479.7,"[[1579915697,null,null,7794],[1579915701,null,...",108,35631,35631,3840,31800,4890,17880,9030,1050,0,"[[1579915712,4],[1579916732,2],[1579917902,1],...",0,,465,"[1579915705,1579915721,1579915737,1579915769,1...",120,42,122,4,24,1,[1579947677],1,"[[28.1,17.5,-10.6,0.62,-1.35],[26.5,17.8,-8.7,...",21,54,46,"[[1579919385,25,69,31,0,190],[1579919565,25,66...",28.1,17.5,NaN
4,5e2cbfbaf5fa622320fc10e6,1EFD48,NaN,1579952599,1579990945,60.7,16.7,890.5,"[[1579952601,58,null,20],[1579952605,58,null,2...",100,38346,38298,4710,33630,3510,23910,6210,420,48,"[[1579952616,4],[1579953006,2],[1579954326,1],...",1,"[[1579989923,1579989875]]",58,"[1579952633,1579952885,1579952901,1579952961,1...",120,42,80,7,22,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt416

In [129]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt416/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df41 = df
df41.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e2153b74c3f9d23207d0e98,1C70B0,NaN,1579212773,1579242401,64.5,15.9,253.5,"[[1579212775,null,null,370],[1579212779,null,n...",74,29628,29516,3630,25980,4830,17550,3600,1410,112,"[[1579212790,4],[1579214170,2],[1579215160,3],...",1,"[[1579219505,1579219393]]",116,"[1579212803,1579212879,1579212907,1579213859,1...",120,53,122,9,26,0,,2,"[[16.8,27.3,10.5,1.63,1.37],[13.3,23.7,10.4,1....",32,46,54,"[[1579214303,11,62,38,0,120],[1579214843,11,64...",16.8,27.3,NaN
1,5e227bd5d744832320acb5f1,1C70B0,NaN,1579301578,1579318163,55.5,15.9,162.3,"[[1579301579,96,null,178],[1579301583,94,null,...",40,16585,16585,3420,13170,1590,8340,3240,1110,0,"[[1579301594,4],[1579302674,2],[1579305014,1],...",0,,33,"[1579301615,1579301647,1579301663,1579301707,1...",120,49,96,11,23,0,,1,"[[19.2,14.2,-5.1,0.74,-1.31],[18.2,16.0,-2.2,0...",27,29,71,"[[1579302749,22,41,59,1,66],[1579302929,22,41,...",19.2,14.2,NaN
2,5e229acf67377d232010d7b6,1C70B0,NaN,1579301578,1579326095,55.5,15.9,171.0,"[[1579301579,96,null,178],[1579301583,94,null,...",62,24517,24402,3870,20640,4140,12480,4020,930,115,"[[1579301594,4],[1579302494,2],[1579304324,1],...",1,"[[1579318278,1579318163]]",46,"[1579301615,1579301647,1579301663,1579301707,1...",120,46,108,11,23,0,,2,"[[18.2,14.0,-4.2,0.77,-0.68],[18.4,15.3,-3.1,0...",22,45,55,"[[1579302568,22,46,54,1,71],[1579302749,22,44,...",18.2,14.0,NaN
3,5e23ebef4c32ec23208b7421,1C70B0,NaN,1579388544,1579412437,56.7,15.4,251.9,"[[1579388544,null,null,0],[1579388548,null,nul...",48,23893,23094,6420,17460,3240,10860,3360,2340,799,"[[1579388559,4],[1579390869,2],[1579392399,1],...",2,"[[1579396406,1579396290],[1579389464,1579388781]]",104,"[1579388624,1579388668,1579388692,1579388708,1...",120,47,113,12,25,0,,2,"[[15.6,34.4,18.8,2.21,3.60],[16.3,31.0,14.8,1....",36,36,64,"[[1579390994,19,22,78,0,56],[1579391174,20,27,...",15.6,34.4,NaN
4,5e240206fb9c92232090df9a,1C70B0,NaN,1579388544,1579418074,56.5,15.4,262.6,"[[1579388544,null,null,0],[1579388548,null,nul...",66,29530,28617,6420,23100,4620,14040,4440,2340,913,"[[1579388559,4],[1579390869,2],[1579392399,1],...",3,"[[1579412551,1579412437],[1579396406,157939629...",108,"[1579388624,1579388668,1579388692,1579388708,1...",120,47,113,12,25,0,,3,"[[15.6,42.8,27.2,2.74,4.05],[16.6,41.8,25.2,2....",59,42,58,"[[1579390994,20,22,78,0,56],[1579391174,21,27,...",15.6,42.8,NaN

### Sbt417

In [130]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt417/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df42 = df
df42.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e1fd79138afa123201833ae,1C7029,NaN,1579124217,1579145009,60.2,11.7,191,"[[1579124221,null,null,164],[1579124225,null,n...",62,20792,20792,1500,19290,3840,11580,3870,1080,0,"[[1579124236,4],[1579125286,2],[1579126726,1],...",0,,127,"[1579124225,1579124257,1579124289,1579124333,1...",120,51,76,6,17,0,,0,"[[48.6,29.2,-19.4,0.60,-3.66],[41.3,28.4,-12.9...",37,64,36,"[[1579125388,35,53,47,0,196],[1579125568,40,56...",48.6,29.2,NaN
1,5e1fef84aaea6c23200fe976,1C7029,NaN,1579124217,1579151209,60.1,11.8,192.3,"[[1579124221,null,null,164],[1579124225,null,n...",74,26992,26833,3750,23250,4920,13170,5160,1080,159,"[[1579124236,4],[1579125286,2],[1579126726,1],...",1,"[[1579145168,1579145009]]",154,"[1579124225,1579124257,1579124289,1579124333,1...",120,51,80,6,21,0,,1,"[[47.7,24.3,-23.4,0.51,-3.46],[42.5,26.5,-16.0...",32,66,34,"[[1579125388,35,53,47,0,196],[1579125568,40,56...",47.7,24.3,NaN
2,5e21429596754c2320d0f72f,1C7029,NaN,1579208953,1579238003,59.2,12.6,236.2,"[[1579208957,null,null,6679],[1579208961,null,...",96,29050,29050,990,28050,6810,14880,6360,750,0,"[[1579208972,4],[1579209692,2],[1579211012,1],...",0,,194,"[1579208969,1579208989,1579209009,1579209053,1...",120,50,77,9,26,0,,0,"[[46.6,28.8,-17.9,0.62,-2.32],[45.8,29.7,-16.1...",40,66,34,"[[1579209763,65,49,51,1,433],[1579209943,60,46...",46.6,28.8,NaN
3,5e22b81e9fbef32320507e29,1C7029,NaN,1579300371,1579333614,62.1,13.2,219.9,"[[1579300372,null,null,1656],[1579300376,null,...",99,33243,33243,1620,31620,7350,19410,4860,1170,0,"[[1579300387,4],[1579301527,2],[1579302967,1],...",0,,183,"[1579300380,1579300408,1579300432,1579300448,1...",120,51,125,11,26,0,,0,"[[35.7,28.7,-7.0,0.80,-0.80],[28.9,27.2,-1.7,0...",35,63,37,"[[1579301542,23,44,56,1,254],[1579301722,27,49...",35.7,28.7,NaN
4,5e23bc5ee652a02320be735c,1C7029,NaN,1579390516,1579400260,58.3,12.7,169.8,"[[1579390520,66,null,74],[1579390524,65,null,7...",26,9744,9744,1470,8280,2250,4530,1500,900,0,"[[1579390535,4],[1579391405,2],[1579393145,1],...",0,,39,"[1579390640,1579391028,1579391216,1579391280,1...",120,49,72,10,26,0,,0,"[[60.0,29.9,-30.1,0.50,-13.66],[53.2,43.1,-10....",59,64,36,"[[1579391506,44,58,42,0,108],[1579391687,45,52...",60.0,29.9,NaN

### Sbt418

In [131]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt418/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df43 = df
df43.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e2114d93e1c352320a1f574,11EC56,NaN,1579214363,1579226290,53.6,13.3,362.7,"[[1579214364,null,null,324],[1579214368,null,n...",27,11927,11769,2760,9150,660,6360,2130,2190,158,"[[1579214379,4],[1579216539,2],[1579216839,1],...",1,"[[1579216160,1579216002]]",140,"[1579214392,1579214408,1579214440,1579214472,1...",120,45,113,10,20,4,"[1579217355,1579217504,1579218641,1579218852]",0,"[[13.3,22.1,8.7,1.66,3.64],[15.5,20.4,4.9,1.32...",31,44,56,"[[1579216971,13,45,55,0,191],[1579218051,15,45...",13.3,22.1,NaN
1,5e2169f56f42c723206341d0,11EC56,NaN,1579214363,1579248077,53.0,12.7,252.1,"[[1579214364,null,null,324],[1579214368,null,n...",89,33714,33311,4740,28980,3750,18810,6420,2190,403,"[[1579214379,4],[1579216539,2],[1579216839,1],...",3,"[[1579237842,1579237697],[1579226390,157922629...",212,"[1579214392,1579214408,1579214440,1579214472,1...",120,45,113,10,20,4,"[1579217355,1579217504,1579218641,1579218852]",2,"[[15.9,15.4,-0.4,0.97,-0.05],[15.5,13.3,-2.2,0...",21,48,52,"[[1579216971,13,45,55,0,192],[1579218051,16,45...",15.9,15.4,NaN
2,5e227df9282a8b2320a73ace,11EC56,NaN,1579304821,1579318742,58.8,14.7,305.6,"[[1579304824,null,null,1319],[1579304828,null,...",24,13921,13345,4650,9270,2040,5580,1650,1260,576,"[[1579304839,4],[1579306069,2],[1579307839,1],...",3,"[[1579313894,1579313679],[1579313540,157931335...",97,"[1579304836,1579304852,1579304900,1579305012,1...",120,52,100,12,20,0,,2,"[[15.0,14.0,-1.0,0.94,-0.30],[15.1,14.8,-0.3,0...",20,64,36,"[[1579306532,17,26,74,0,180],[1579306712,15,31...",15.0,14.0,NaN
3,5e22a401c73d002320162a59,11EC56,NaN,1579304821,1579328452,58.0,14.2,280.7,"[[1579304824,null,null,1319],[1579304828,null,...",51,23631,22910,5520,18120,3840,10830,3450,1200,721,"[[1579304839,4],[1579306009,2],[1579307839,1],...",4,"[[1579318887,1579318742],[1579313894,157931367...",127,"[1579304836,1579304852,1579304900,1579305012,1...",120,52,100,12,20,0,,3,"[[14.3,12.0,-2.3,0.84,-0.40],[14.2,13.2,-1.0,0...",17,36,64,"[[1579306532,17,26,74,0,181],[1579306712,15,31...",14.3,12.0,NaN
4,5e22be7f7dd52423205a76b9,11EC56,NaN,1579304821,1579335260,57.2,14.1,293.4,"[[1579304824,null,null,1319],[1579304828,null,...",64,30439,29120,7680,22770,5550,12930,4290,1200,1319,"[[1579304839,4],[1579306009,2],[1579307839,1],...",6,"[[1579333913,1579333459],[1579328596,157932845...",191,"[1579304836,1579304852,1579304900,1579305012,1...",120,50,100,11,20,0,,4,"[[12.5,15.1,2.7,1.21,0.36],[14.2,16.8,2.6,1.19...",22,46,54,"[[1579306532,17,26,74,0,180],[1579306712,15,31...",12.5,15.1,NaN

### Sbt419

In [132]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt419/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df44 = df
df44.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e22d462aae6b02320f891ad,11EBDC,NaN,1579298649,1579340892,68.9,15.7,242.1,"[[1579298649,null,null,490],[1579298653,null,n...",94,42243,42243,10680,31500,6450,18090,6960,870,0,"[[1579298664,4],[1579299504,2],[1579300884,1],...",0,,118,"[1579298829,1579298889,1579298929,1579299077,1...",120,48,95,8,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
1,5e240dc70472d72320bf5348,11EBDC,NaN,1579384147,1579421070,68.5,14.4,172.0,"[[1579384148,null,null,733],[1579384152,null,n...",107,36923,36923,3390,33540,8070,19140,6330,2850,0,"[[1579384163,4],[1579386983,2],[1579389113,1],...",0,,124,"[1579384156,1579384172,1579384184,1579384260,1...",120,50,107,6,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
2,5e254d8f21d10823209d0308,11EBDC,NaN,1579464432,1579502927,69.4,14.7,189.9,"[[1579464435,null,null,965],[1579464439,null,n...",97,38495,38118,4710,33780,10920,20040,2820,2490,377,"[[1579464450,4],[1579466910,2],[1579467570,3],...",1,"[[1579497127,1579496750]]",172,"[1579464439,1579464451,1579464523,1579464543,1...",120,51,98,9,24,0,,1,NaN,0,0,0,,NaN,NaN,NaN
3,5e269486f6b28523203cac01,11EBDC,NaN,1579554668,1579586665,70.4,14.1,132.7,"[[1579554672,null,null,775],[1579554676,null,n...",88,31997,31997,2550,29430,7830,18240,3360,1890,0,"[[1579554687,4],[1579556547,2],[1579557837,3],...",0,,87,"[1579554672,1579554684,1579554704,1579554720,1...",120,52,133,7,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
4,5e27ee6582cc3b2320de9d11,11EBDC,NaN,1579640279,1579675172,70.8,15.4,172.2,"[[1579640283,null,null,355],[1579640287,null,n...",86,34893,34591,6090,28800,6930,16950,4920,1920,302,"[[1579640298,4],[1579642188,2],[1579643538,1],...",1,"[[1579653095,1579652793]]",93,"[1579640283,1579640299,1579640327,1579640419,1...",120,53,105,9,26,0,,1,NaN,0,0,0,,NaN,NaN,NaN

### Sbt420

In [133]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt420/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df45 = df
df45.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e20d55aee89cc2320c289fd,1F0C53,NaN,1579198465,1579210048,NaN,NaN,0,"[[1579209972,null,null,0],[1579209976,null,nul...",NaN,11583,11583,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,0,,120,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,,NaN,NaN,NaN
1,5e21562aef9d33232061a931,1F0C53,NaN,1579210115,1579242973,55.2,14.8,193.2,"[[1579210116,null,null,29828],[1579210120,null...",91,32858,32858,3450,29400,8160,16620,4620,1800,0,"[[1579210131,4],[1579211901,2],[1579212381,1],...",0,,57,"[1579210124,1579210140,1579210156,1579210184,1...",120,48,66,6,26,0,,1,"[[25.5,21.5,-3.9,0.85,-0.48],[28.2,24.0,-4.2,0...",40,48,52,"[[1579212005,20,51,49,0,57],[1579212185,22,53,...",25.5,21.5,NaN
2,5e22adc19ab31d23204fb83c,1F0C53,NaN,1579298988,1579330982,67.7,14.7,183.4,"[[1579298992,null,null,306],[1579298996,null,n...",92,31994,31994,1860,30120,7170,18750,4200,1740,0,"[[1579299007,4],[1579300717,2],[1579301407,3],...",0,,53,"[1579299004,1579299024,1579299148,1579299400,1...",120,49,97,7,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
3,5e23fed2fc8e7b23205fbbfb,1F0C53,NaN,1579387305,1579417275,60.8,15.8,180.6,"[[1579387307,null,null,24344],[1579387311,null...",90,29970,29970,2790,27180,7860,13470,5850,1350,0,"[[1579387322,4],[1579388642,2],[1579390592,1],...",0,,46,"[1579387319,1579387366,1579387466,1579387478,1...",120,51,109,7,26,0,,1,"[[20.2,24.7,4.5,1.22,0.59],[22.7,26.2,3.5,1.16...",46,49,51,"[[1579388686,22,64,36,0,98],[1579388866,20,67,...",20.2,24.7,NaN
4,5e2546c147ab242320b3984d,1F0C53,NaN,1579469068,1579501229,56.9,15.2,153.1,"[[1579469070,null,null,8404],[1579469074,null,...",94,32161,32161,2760,29400,8400,15930,5070,1620,0,"[[1579469085,4],[1579470675,2],[1579471875,1],...",0,,38,"[1579469074,1579469086,1579469114,1579469130,1...",120,51,68,11,26,0,,1,"[[21.9,27.3,5.5,1.25,0.67],[24.6,26.4,1.8,1.07...",34,55,45,"[[1579470778,27,53,47,0,64],[1579471138,26,55,...",21.9,27.3,NaN

### Sbt421

In [134]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt421/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df46 = df
df46.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5e229c41e3db392320a47846,1C6C39,NaN,1579306326,1579326456,56.1,13.1,256.4,"[[1579306328,null,null,180],[1579306332,null,n...",46,20130,19943,2700,17430,5730,10980,720,510,187,"[[1579306343,4],[1579306823,2],[1579308173,3],...",1,"[[1579312596,1579312409]]",78,"[1579306344,1579306372,1579306452,1579306464,1...",120,48,99,9,26,0,,2,"[[70.3,108.4,38.2,1.54,7.22],[74.9,110.4,35.5,...",125,28,72,"[[1579306960,31,35,65,0,130],[1579307140,61,31...",70.3,108.4,NaN
1,5e23b40dacd63d232009060a,1C6C39,NaN,1579312596,1579398111,56.6,13.4,250.4,"[[1579312600,60,null,201],[1579312604,62,null,...",NaN,85515,85160,NaN,NaN,NaN,NaN,NaN,NaN,355,NaN,2,"[[1579386211,1579385984],[1579326584,1579326456]]",121,"[1579313800,1579313840,1579314268,1579314328,1...",120,48,99,9,26,0,,NaN,"[[105.5,75.1,-30.4,0.71,-1.28],[86.8,70.5,-16....",106,37,63,"[[1579312687,75,35,65,0,75],[1579312867,83,32,...",105.5,75.1,NaN
2,5e23def9eada2f23201b5a06,1C6C39,NaN,1579326584,1579409109,56.6,13.1,262.9,"[[1579326588,61,null,137],[1579326592,60,null,...",NaN,82525,82140,NaN,NaN,NaN,NaN,NaN,NaN,385,NaN,2,"[[1579398269,1579398111],[1579386211,1579385984]]",113,"[1579326944,1579326960,1579327028,1579327072,1...",120,48,97,10,26,0,,NaN,"[[105.1,89.4,-15.7,0.85,-0.69],[109.8,105.7,-4...",117,27,73,"[[1579326675,120,9,91,0,97],[1579326855,122,13...",105.1,89.4,NaN
3,5e23ee5f9f0a2e232010df10,1C6C39,NaN,1579386211,1579413031,56.5,13.1,281.4,"[[1579386212,null,null,30811],[1579386216,null...",62,26820,26503,4230,22590,5910,14280,2400,1080,317,"[[1579386227,4],[1579387277,2],[1579388477,3],...",2,"[[1579409268,1579409109],[1579398269,1579398111]]",103,"[1579386216,1579390952,1579391216,1579391280,1...",120,48,97,10,26,0,,4,"[[75.0,110.0,35.0,1.47,5.14],[83.8,103.7,19.9,...",110,27,73,"[[1579387381,63,36,64,0,144],[1579387741,63,33...",75.0,110.0,NaN
4,5e25315dd268302320f1fd50,1C6C39,NaN,1579478222,1579495713,54.4,13.5,134.8,"[[1579478222,63,null,4390],[1579478226,63,null...",51,17491,17491,1800,15690,2790,9390,3510,540,0,"[[1579478237,4],[1579478747,2],[1579479737,1],...",0,,29,"[1579478374,1579478418,1579481858,1579481918,1...",120,46,65,10,26,0,,0,"[[-3.6,117.9,121.5,-32.75,28.25],[19.9,100.9,8...",169,32,68,"[[1579478845,15,6,94,0,64],[1579479024,14,14,8...",-3.6,117.9,NaN

### Sbt431

In [135]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt431/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df47 = df
df47.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5f7e0ab04a207808e008dac6,1EFD48,NaN,1602086420,1602095731,58.6,9.1,285.9,"[[1602086424,null,null,757],[1602086428,null,n...",18,9311,9311,2430,6870,1740,4380,750,1230,0,"[[1602086439,4],[1602087639,2],[1602089829,1],...",0,,75,"[1602086436,1602086496,1602086512,1602086528,1...",180,51,110,4,20,0,,0,"[[36.5,33.5,-2.9,0.92,-1.95],[36.1,32.6,-3.4,0...",48,15,85,"[[1602087771,48,13,87,0,156],[1602087951,37,14...",36.5,33.5,NaN
1,5f7ec3b3765d9b08e03c5211,1EFD48,NaN,1602104992,1602143148,62.9,16.4,313.6,"[[1602104996,null,null,110],[1602105000,null,n...",84,38156,38156,10110,27990,4830,16440,6720,1500,0,"[[1602105011,4],[1602106481,2],[1602107231,1],...",0,,299,"[1602105000,1602105020,1602105084,1602105120,1...",180,49,122,5,24,3,"[1602126450,1602129851,1602134789]",0,"[[55.4,51.9,-3.5,0.94,-0.46],[52.4,48.8,-3.7,0...",60,21,79,"[[1602106522,25,18,82,0,206],[1602106702,25,17...",55.4,51.9,NaN
2,5f7f6eae2eb84708e0d88f54,1EFD48,NaN,1602175075,1602186881,58.8,7.8,134.1,"[[1602175076,null,null,86],[1602175080,null,nu...",23,11806,11806,3570,8220,1680,5040,1500,2130,0,"[[1602175091,4],[1602177191,2],[1602178391,1],...",0,,66,"[1602175096,1602175112,1602175128,1602175156,1...",180,53,77,4,20,0,,0,"[[67.0,35.3,-31.7,0.53,-23.50],[49.0,49.0,0.0,...",70,36,64,"[[1602177325,70,40,60,0,132],[1602178586,61,37...",67.0,35.3,NaN
3,5f7ff574b2cf6908e0d28fcf,1EFD48,NaN,1602191290,1602221363,59.6,16.2,268.9,"[[1602191292,null,null,80],[1602191296,null,nu...",74,30073,28603,4710,25350,3960,16800,4590,1680,1470,"[[1602191307,4],[1602192957,2],[1602195057,1],...",2,"[[1602221090,1602220063],[1602211152,1602210709]]",167,"[1602191520,1602191732,1602191748,1602191780,1...",180,51,120,7,26,0,,2,"[[43.2,4.7,-38.5,0.11,-5.19],[39.5,36.2,-3.2,0...",36,19,81,"[[1602193181,22,25,75,0,232],[1602193361,26,22...",43.2,4.7,NaN
4,5f81553968df9708e069c7b1,1EFD48,NaN,1602278207,1602311453,60.3,16.1,285.7,"[[1602278210,null,null,172],[1602278214,null,n...",77,33246,31364,7920,25320,4080,14700,6540,1620,1882,"[[1602278225,4],[1602279815,2],[1602280805,1],...",3,"[[1602309892,1602308800],[1602305244,160230482...",327,"[1602278262,1602278526,1602278550,1602278566,1...",180,51,128,6,26,1,[1602285137],2,"[[52.4,30.4,-21.9,0.58,-2.75],[48.6,30.0,-18.6...",43,18,82,"[[1602279917,38,19,81,0,229],[1602280097,42,18...",52.4,30.4,NaN

### Sbt435

In [136]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt435/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df48 = df
df48.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5f8e5dc8e1a96a08e0dfa28e,1C6C39,NaN,1603153196,1603165569,91.1,15,367.1,"[[1603153197,null,null,519],[1603153201,null,n...",27,12373,11658,2580,9780,2460,6120,1200,960,715,"[[1603153212,4],[1603154142,2],[1603154352,4],...",1,"[[1603155081,1603154366]]",60,"[1603153209,1603153269,1603153289,1603153317,1...",180,57,100,8,26,0,,1,"[[11.4,10.0,-1.4,0.87,-0.54],[11.0,10.8,-0.2,0...",16,66,34,"[[1603155351,10,66,34,1,100],[1603155531,10,68...",11.4,10,NaN
1,5f8f9f32d62e7f08e002953b,1C6C39,NaN,1603232135,1603247860,87.3,15.4,212.3,"[[1603232136,94,null,408],[1603232140,94,null,...",32,15725,15725,5340,10380,870,5820,3690,2880,0,"[[1603232151,4],[1603235001,2],[1603235811,3],...",0,,39,"[1603232736,1603234744,1603236400,1603236524,1...",180,75,95,10,26,0,,0,"[[30.4,24.2,-6.2,0.80,-2.16],[23.7,32.0,8.3,1....",44,62,38,"[[1603235105,55,58,42,1,75],[1603235285,51,63,...",30.4,24.2,NaN
2,5f924751bf93ee08e0392528,1C6C39,NaN,1603405335,1603422010,88.3,15.3,247.9,"[[1603405338,null,null,249],[1603405342,null,n...",42,16675,16675,2490,14190,3030,8940,2220,1170,0,"[[1603405353,4],[1603406493,2],[1603407813,1],...",0,,60,"[1603405346,1603405362,1603405378,1603405394,1...",180,61,103,10,22,0,,0,"[[9.3,11.7,2.4,1.26,0.61],[9.4,11.3,1.9,1.21,0...",15,67,33,"[[1603406506,12,3,97,1,114],[1603406686,11,11,...",9.3,11.7,NaN
3,5f93a100285f6808e0b9fd6e,1C6C39,NaN,1603497256,1603510462,84.0,16.9,227.6,"[[1603497257,null,null,329],[1603497261,null,n...",17,13206,13206,5580,7620,1230,5250,1140,3810,0,"[[1603497272,4],[1603501052,2],[1603502552,3],...",0,,23,"[1603497277,1603497721,1603502693,1603502713,1...",180,65,92,11,26,0,,0,"[[19.2,19.0,-0.2,0.99,-0.08],[22.1,19.5,-2.6,0...",63,61,39,"[[1603501126,14,31,69,0,89],[1603501306,16,30,...",19.2,19,NaN
4,5f966322b75b1e2498408a67,1C6C39,NaN,1603683053,1603691257,85.2,15.6,433.9,"[[1603683056,92,null,304],[1603683060,92,null,...",15,8204,8003,2130,6060,1410,3960,690,540,201,"[[1603679471,4],[1603679981,2],[1603680551,4],...",1,"[[1603684359,1603684158]]",27,"[1603683132,1603684092,1603684128,1603684144,1...",120,65,94,11,25,0,,1,"[[10.3,15.7,5.5,1.53,5.40],[13.1,13.1,0.0,1.00...",22,43,57,"[[1603683142,11,36,64,1,207],[1603683322,12,40...",10.3,15.7,NaN

### Sbt440

In [137]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt440/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df49 = df
df49.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5fc5a405a3ea687ee0a054a0,1C7025,NaN,1606771869,1606788032,66.6,18.6,192.6,"[[1606771873,null,null,58],[1606771877,null,nu...",47,16163,16163,1230,14940,2760,9390,2790,600,0,"[[1606771888,4],[1606772458,2],[1606773028,3],...",0,,61,"[1606771957,1606772189,1606771889,1606773725,1...",120,50,90,11,24,0,,0,NaN,0,0,0,,NaN,NaN,NaN
1,5fc5c4789e6b847ee019cb1f,1C7025,NaN,1606771869,1606796326,66.5,18.3,196.3,"[[1606771873,null,null,58],[1606771877,null,nu...",64,24457,24329,2790,21660,6120,12630,2910,570,128,"[[1606771888,4],[1606772428,2],[1606772998,3],...",1,"[[1606788160,1606788032]]",96,"[1606771957,1606772189,1606771889,1606773725,1...",120,50,91,9,25,0,,2,NaN,0,0,0,[],NaN,NaN,NaN
2,5fc715cee5a9e07ee05dd5a9,1C7025,NaN,1606860879,1606882715,69.9,18.7,242.4,"[[1606860881,null,null,370],[1606860885,null,n...",56,21836,21596,3120,18720,5670,10470,2580,840,240,"[[1606860896,4],[1606861706,2],[1606862576,1],...",2,"[[1606871843,1606871674],[1606861545,1606861474]]",125,"[1606862225,1606860897,1606860913,1606860929,1...",120,45,105,11,25,0,,1,NaN,0,0,0,,NaN,NaN,NaN
3,5fc846265adfd67ee0046b58,1C7025,NaN,1606945147,1606960644,68.3,18.6,178.1,"[[1606945151,73,null,77],[1606945155,73,null,2...",42,15497,15497,1110,14370,4410,8730,1230,540,0,"[[1606945166,4],[1606945676,2],[1606947296,3],...",0,,42,"[1606945167,1606945907,1606945931,1606946287,1...",120,50,91,11,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
4,5fc8675d8777ab7ee0842f5a,1C7025,NaN,1606945147,1606969109,68.2,18.2,181.4,"[[1606945151,73,null,77],[1606945155,73,null,2...",69,23962,23772,2070,21900,5670,12270,3960,420,190,"[[1606945166,4],[1606945556,2],[1606947146,1],...",1,"[[1606960834,1606960644]]",68,"[1606945167,1606945907,1606945931,1606946287,1...",120,50,103,10,26,0,,1,NaN,0,0,0,,NaN,NaN,NaN

### Sbt448

In [138]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt448/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df50 = df
df50.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,5fdc570db6879b1dfc31d128,11EBDC,NaN,1608239298,1608275666,66.4,17.9,428.8,"[[1608239302,null,null,653],[1608239306,null,2...",81,36368,34669,6750,29610,6870,19260,3480,1140,1699,"[[1608239317,4],[1608240427,2],[1608241717,3],...",3,"[[1608275658,1608275058],[1608274993,160827417...",195,"[1608239330,1608239510,1608239530,1608239558,1...",120,46,132,15,26,0,,2,"[[106.9,157.2,50.2,1.47,6.26],[112.3,159.0,46....",169,40,60,"[[1608241549,90,37,63,1,309],[1608241729,95,35...",106.9,157.2,NaN
1,5fddacf492292e1dfc815b2b,11EBDC,NaN,1608326664,1608363196,63.6,18.1,343.2,"[[1608326666,null,null,43],[1608326670,null,nu...",98,36532,35756,3660,32880,10680,18390,3810,1320,776,"[[1608326681,4],[1608327971,2],[1608328451,1],...",3,"[[1608363190,1608362723],[1608327684,160832743...",132,"[1608328038,1608328514,1608328534,1608328558,1...",120,48,109,12,26,0,,3,"[[120.9,122.7,1.8,1.01,0.21],[119.5,109.3,-10....",145,44,56,"[[1608328314,88,28,72,0,63],[1608329754,103,29...",120.9,122.7,NaN
2,5fdef01665ff7b1dfc424e5c,11EBDC,NaN,1608412559,1608445929,68.0,19.0,370.7,"[[1608412560,null,null,459],[1608412564,null,n...",101,33370,33370,1200,32160,9540,18300,4320,810,0,"[[1608412575,4],[1608413355,2],[1608415335,3],...",0,,156,"[1608412756,1608412772,1608412800,1608412832,1...",120,45,91,14,26,0,,0,"[[125.1,130.0,4.9,1.04,0.67],[120.7,119.1,-1.6...",159,47,53,"[[1608415709,81,29,71,1,194],[1608416250,90,38...",125.1,130.0,NaN
3,5fe04cc10755a912f4ad4b87,11EBDC,NaN,1608500083,1608535153,70.4,18.2,220.3,"[[1608500085,null,null,295],[1608500089,null,n...",94,35070,33820,3330,31740,6450,20790,4500,930,1250,"[[1608500100,4],[1608501000,2],[1608503190,1],...",4,"[[1608535052,1608534987],[1608534962,160853418...",125,"[1608500237,1608500317,1608500353,1608500425,1...",120,42,128,12,26,0,,1,"[[95.9,117.4,21.5,1.22,2.65],[91.6,111.8,20.2,...",134,32,68,"[[1608503441,91,37,63,0,336],[1608504701,91,36...",95.9,117.4,NaN
4,5fe16ea4cb023f12f4ad58e5,11EBDC,NaN,1608586184,1608609429,67.8,18.3,287.7,"[[1608586185,null,null,816],[1608586189,null,n...",58,23245,23135,3330,19920,4530,12570,2820,1080,110,"[[1608586200,4],[1608587250,2],[1608588540,1],...",1,"[[1608591631,1608591521]]",116,"[1608586189,1608586217,1608586241,1608586257,1...",120,52,93,14,26,0,,1,"[[118.1,117.4,-0.8,0.99,-0.23],[117.4,115.2,-2...",136,33,67,"[[1608587355,129,20,80,0,262],[1608587715,118,...",118.1,117.4,NaN

### Sbt451

In [139]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt451/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df51 = df
df51.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,60a5918bce66a4052c8ce0e2,1C7029,NaN,1621447610,1621463378,68.7,17.3,533,"[[1621447612,null,null,989],[1621447616,null,n...",25,15768,14295,5820,9930,2280,5610,2040,2190,1473,"[[1621447627,4],[1621449787,2],[1621450297,4],...",6,"[[1621453740,1621452887],[1621452854,162145259...",173,"[1621447656,1621447752,1621447768,1621447800,1...",180,45,90,8,25,0,,2,"[[33.3,29.6,-3.7,0.89,-1.10],[41.2,29.4,-11.7,...",39,62,38,"[[1621450735,46,65,35,0,549],[1621454911,43,62...",33.3,29.6,NaN
1,60a61e03f6e15f052cf58a36,1C7029,NaN,1621447610,1621499339,61.7,16.2,294.1,"[[1621447612,null,null,989],[1621447616,null,n...",133,51729,49929,8340,43380,8490,25770,9120,2220,1800,"[[1621447627,4],[1621449817,2],[1621450387,3],...",8,"[[1621499225,1621498996],[1621463476,162146337...",266,"[1621447656,1621447752,1621447768,1621447800,1...",180,45,115,8,26,0,,4,"[[27.8,48.6,20.7,1.74,1.56],[41.9,50.0,8.1,1.1...",65,47,53,"[[1621450735,46,64,36,1,547],[1621454911,44,62...",27.8,48.6,NaN
2,60a6310dd039dd052c7c47e6,1C7029,NaN,1621447610,1621504209,62.5,16.3,314.4,"[[1621447612,null,null,989],[1621447616,null,n...",NaN,56599,54683,NaN,NaN,NaN,NaN,NaN,NaN,1916,NaN,9,"[[1621499455,1621499339],[1621499225,162149899...",335,"[1621447656,1621447752,1621447768,1621447800,1...",180,45,115,8,26,0,,NaN,"[[25.8,53.1,27.4,2.06,1.77],[46.8,58.4,11.7,1....",154,59,41,"[[1621448595,48,77,23,1,608],[1621450735,46,71...",25.8,53.1,NaN
3,60a66543a9a349052c5f72c8,1C7029,NaN,1621508218,1621517593,66.5,13.2,275.6,"[[1621508222,null,null,2791],[1621508226,null,...",16,9375,9105,2340,7020,1950,5070,0,1080,270,"[[1621508237,4],[1621509287,2],[1621509857,3],...",1,"[[1621511854,1621511584]]",46,"[1621508222,1621508238,1621508254,1621508286,1...",180,47,88,6,24,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
4,60a6f4b22db068052c83ce8d,1C7029,NaN,1621538205,1621554286,73.6,19.0,659.8,"[[1621538209,null,null,1405],[1621538213,null,...",29,16081,15663,5250,10830,3090,5850,1890,2730,418,"[[1621538224,4],[1621540924,2],[1621541014,3],...",2,"[[1621542907,1621542618],[1621540798,1621540669]]",282,"[1621538225,1621538237,1621538257,1621538285,1...",180,42,87,12,26,0,,1,"[[119.4,25.8,-93.6,0.22,-29.84],[100.1,44.1,-5...",66,61,39,"[[1621541248,114,74,26,0,915],[1621541968,102,...",119.4,25.8,NaN

### Sbt454

In [140]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt454/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df52 = df
df52.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,60a70f900717ec052c246dbf,1F0C53,NaN,1621457262,1621561186,87,19.9,440.9,"[[1621457266,100,null,344],[1621457270,100,nul...",NaN,103924,102593,NaN,NaN,NaN,NaN,NaN,NaN,1331,NaN,3,"[[1621542541,1621542272],[1621485517,162148461...",415,"[1621457354,1621457370,1621457386,1621457410,1...",180,46,113,11,26,0,,NaN,"[[44.9,70.5,25.6,1.57,0.89],[39.3,77.1,37.9,1....",130,64,36,"[[1621457351,22,63,37,0,674],[1621457487,34,64...",44.9,70.5,NaN
1,60a7308073f918052cb403b0,1F0C53,NaN,1621457262,1621569625,87.2,19.8,453.8,"[[1621457266,100,null,344],[1621457270,100,nul...",NaN,112363,110848,NaN,NaN,NaN,NaN,NaN,NaN,1515,NaN,4,"[[1621561370,1621561186],[1621542541,162154227...",511,"[1621457354,1621457370,1621457386,1621457410,1...",180,46,113,9,26,0,,NaN,"[[45.4,64.4,19.0,1.42,0.61],[38.3,62.3,24.0,1....",155,54,46,"[[1621457351,20,63,37,0,671],[1621457487,31,65...",45.4,64.4,NaN
2,60a8ccd6e0eab1052c4e1d06,1F0C53,NaN,1621629822,1621675197,80.2,18.5,412.4,"[[1621629826,102,null,939],[1621629830,102,nul...",138,45375,44408,2760,42600,12660,22470,7470,1110,967,"[[1621629841,4],[1621630921,2],[1621632661,1],...",2,"[[1621665403,1621664643],[1621644091,1621643884]]",420,"[1621629850,1621629878,1621629898,1621629934,1...",180,46,107,4,26,0,,2,"[[97.6,33.2,-64.4,0.34,-5.59],[72.7,32.9,-39.8...",47,50,50,"[[1621633576,16,66,34,1,429],[1621634297,16,57...",97.6,33.2,NaN
3,60a9d54f6c1e47052c75b78c,1F0C53,NaN,1621720353,1621742868,89.1,20.5,513.2,"[[1621720355,null,null,176],[1621720359,null,n...",61,22515,22442,3300,19200,4470,10650,4080,2640,73,"[[1621720370,4],[1621722980,2],[1621723190,1],...",1,"[[1621722713,1621722640]]",219,"[1621720371,1621720391,1621720443,1621720463,1...",180,49,167,13,26,0,,0,"[[72.6,112.1,39.5,1.54,7.96],[85.1,103.6,18.5,...",145,78,22,"[[1621724244,107,62,38,1,266],[1621724603,85,6...",72.6,112.1,NaN
4,60a9f8c8e5b94b052cea1be1,1F0C53,NaN,1621720353,1621751948,88.9,20.3,547.5,"[[1621720355,null,null,176],[1621720359,null,n...",85,31595,31397,4080,27510,7110,15510,4890,2730,198,"[[1621720370,4],[1621723070,2],[1621723340,3],...",2,"[[1621742993,1621742868],[1621722713,1621722640]]",333,"[1621720371,1621720391,1621720443,1621720463,1...",180,49,167,10,26,0,,1,"[[76.9,104.3,27.4,1.36,3.93],[85.4,106.2,20.8,...",161,78,22,"[[1621724244,98,65,35,1,267],[1621724603,78,64...",76.9,104.3,NaN

### Sbt459

In [141]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt459/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df53 = df
df53.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,60f65bcff8d1c90a7009e81a,1C6994,NaN,1626726936,1626758083,68.5,20.2,367.6,"[[1626726937,null,null,32767],[1626726941,null...",85,31147,30946,2280,28860,6810,18630,3420,600,201,"[[1626726952,4],[1626727522,2],[1626727912,3],...",1,"[[1626757917,1626757716]]",140,"[1626726941,1626726981,1626727017,1626727037,1...",180,47,114,7,26,0,,1,"[[184.2,169.9,-14.3,0.92,-2.01],[189.6,178.9,-...",200,50,50,"[[1626727566,173,42,58,0,320],[1626727746,188,...",184.2,169.9,NaN
1,60f7b099c519ec0a70397cc7,1C6994,NaN,1626812482,1626845292,67.0,19.6,266.3,"[[1626812483,null,null,94],[1626812487,null,nu...",93,32810,32810,2670,30150,7590,17940,4620,1650,0,"[[1626812498,4],[1626814118,2],[1626814898,3],...",0,,154,"[1626812543,1626812559,1626812571,1626812587,1...",180,48,105,13,26,0,,1,"[[135.1,154.3,19.2,1.14,2.66],[141.6,158.6,17....",173,40,60,"[[1626817972,142,34,66,1,120],[1626823576,141,...",135.1,154.3,NaN
2,60f8faaeba18b90a70ee5a84,1C6994,NaN,1626902404,1626929780,68.7,20.4,317.6,"[[1626902406,null,null,266],[1626902410,null,n...",59,27376,27376,6210,21150,5400,12990,2760,5190,0,"[[1626902421,4],[1626907581,2],[1626909531,1],...",0,,141,"[1626902434,1626902454,1626902546,1626903106,1...",180,47,127,11,26,0,,0,"[[180.3,229.3,49.0,1.27,11.64],[191.5,223.4,32...",241,49,51,"[[1626909514,191,35,65,0,76],[1626912603,192,4...",180.3,229.3,NaN
3,60fa4efa12d0ab0a70c801a3,1C6994,NaN,1626984533,1627016933,68.5,19.1,264.5,"[[1626984535,null,null,6],[1626984539,null,nul...",92,32400,31912,3090,29310,8040,16080,5190,300,488,"[[1626984550,4],[1626984820,2],[1626986110,1],...",1,"[[1627016911,1627016423]]",110,"[1626989247,1626989263,1626989347,1626989427,1...",180,47,111,5,26,0,,2,"[[43.5,194.5,151.0,4.47,23.94],[54.8,176.2,121...",199,52,48,"[[1626984983,44,43,57,1,19],[1626985163,44,41,...",43.5,194.5,NaN
4,60fba2a28119fe0a705afa1d,1C6994,NaN,1627070780,1627103852,65.7,19.1,260.4,"[[1627070781,null,null,63],[1627070785,null,nu...",108,33072,33072,990,32070,8010,17190,6870,870,0,"[[1627070796,4],[1627071636,2],[1627073586,3],...",0,,129,"[1627070905,1627070917,1627070933,1627072301,1...",180,47,106,5,26,0,,0,"[[220.7,60.0,-160.7,0.27,-19.72],[185.1,68.4,-...",163,47,53,"[[1627074291,182,42,58,0,176],[1627078070,186,...",220.7,60.0,NaN

### Sbt462

In [142]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt462/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df54 = df
df54.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,611c9d0c7fa58c0b3263d77f,1C6C83,NaN,1629230964,1629265055,53.7,14.3,999,"[[1629230966,null,null,248],[1629230970,75,nul...",98,34091,34091,2760,31320,8940,17670,4710,1830,0,"[[1629230981,4],[1629232781,2],[1629233951,3],...",0,,2234,"[1629231002,1629231022,1629231034,1629231050,1...",180,48,87,11,26,250,"[1629231065,1629231084,1629231117,1629231185,1...",0,"[[20.5,15.1,-5.4,0.74,-0.65],[24.0,14.5,-9.5,0...",19,74,26,"[[1629234114,26,72,28,0,151],[1629234294,25,67...",20.5,15.1,NaN
1,611dede35abe790b32a2c633,1C6C83,NaN,1629318121,1629351337,58.9,14.5,999,"[[1629318124,null,null,9997],[1629318128,null,...",89,33216,33216,4440,28770,7230,16500,5040,2850,0,"[[1629318139,4],[1629320959,2],[1629322099,3],...",0,,2177,"[1629318124,1629318140,1629318156,1629318168,1...",180,51,92,8,26,294,"[1629318177,1629318227,1629318323,1629318360,1...",1,"[[26.9,20.2,-6.7,0.75,-0.90],[17.9,14.7,-3.2,0...",19,41,59,"[[1629323251,18,22,78,1,60],[1629324331,18,33,...",26.9,20.2,NaN
2,611f401d5cf7130b320b7f37,1C6C83,NaN,1629405525,1629437934,52.1,14.6,999,"[[1629405526,null,null,15673],[1629405530,null...",87,32409,32409,3960,28440,6600,17190,4650,2700,0,"[[1629405541,4],[1629408211,2],[1629410551,1],...",0,,2125,"[1629405530,1629405542,1629405558,1629405574,1...",180,46,107,7,26,98,"[1629405691,1629405725,1629405748,1629405843,1...",0,"[[19.9,30.4,10.5,1.52,1.35],[17.7,25.7,8.0,1.4...",50,55,45,"[[1629408314,15,30,70,0,78],[1629408494,15,34,...",19.9,30.4,NaN
3,612092f7e60e410b320516ad,1C6C83,NaN,1629492059,1629523928,53.3,14.0,999,"[[1629492061,null,null,14538],[1629492065,null...",88,31869,31869,3330,28530,6750,17100,4680,1650,0,"[[1629492076,4],[1629493696,2],[1629495226,1],...",0,,2065,"[1629492061,1629492077,1629492093,1629492109,1...",180,48,83,12,25,181,"[1629492142,1629492260,1629492274,1629492320,1...",0,"[[23.1,13.4,-9.8,0.58,-1.27],[26.6,17.0,-9.6,0...",21,75,25,"[[1629494434,16,67,33,0,301],[1629494614,16,62...",23.1,13.4,NaN
4,6121e9124545af0b328e047d,1C6C83,NaN,1629578182,1629612228,56.3,15.0,999,"[[1629578185,null,null,13546],[1629578189,null...",89,34046,33793,4170,29880,7080,18150,4650,720,253,"[[1629578200,4],[1629578890,2],[1629580150,1],...",1,"[[1629591274,1629591021]]",2141,"[1629578185,1629578201,1629578217,1629578260,1...",180,42,113,10,26,100,"[1629578214,1629578292,1629578375,1629578454,1...",2,"[[16.8,32.1,15.3,1.91,1.74],[14.5,32.0,17.4,2....",40,47,53,"[[1629579564,16,79,21,0,102],[1629579744,15,74...",16.8,32.1,NaN

### Sbt465

In [143]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt465/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df55 = df
df55.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,61612230cd0f8344d151eaf2,1C6930,NaN,1633730686,1633755646,70.1,16.6,78,"[[1633730690,null,null,1716],[1633730694,null,...",69,24960,24960,2550,22410,4380,14010,4020,1650,0,"[[1633730705,4],[1633732325,2],[1633734125,1],...",0,,32,"[1633730690,1633730706,1633730758,1633730774,1...",180,48,102,11,23,0,,0,NaN,0,0,0,,NaN,NaN,NaN
1,6162888cf9e2f928afb357a5,1C6930,NaN,1633812538,1633847354,70.3,16.0,91.3,"[[1633812539,null,null,19],[1633812543,null,nu...",97,34816,34184,3240,31560,9450,17370,4740,990,632,"[[1633812554,4],[1633813514,2],[1633814624,3],...",2,"[[1633837220,1633836916],[1633812871,1633812543]]",40,"[1633812875,1633812903,1633812959,1633813035,1...",180,49,94,10,22,0,,3,NaN,0,0,0,,NaN,NaN,NaN
2,6163c1967a0c6e28af41d169,1C6930,NaN,1633902694,1633927544,66.9,15.6,96.3,"[[1633902695,null,null,2092],[1633902699,null,...",70,24850,24850,2550,22290,5370,12750,4170,1830,0,"[[1633902710,4],[1633904510,2],[1633906490,1],...",0,,25,"[1633902695,1633902711,1633902739,1633902891,1...",180,48,91,10,26,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
3,61651b3cf066dc28af8e2321,1C6930,NaN,1633986274,1634015994,67.4,15.7,111.9,"[[1633986276,null,null,1483],[1633986280,null,...",86,29720,29381,2490,27240,4230,17460,5550,1320,339,"[[1633986291,4],[1633987581,2],[1633988151,3],...",1,"[[1634007486,1634007147]]",35,"[1633986276,1633986292,1633986364,1633986932,1...",180,49,93,8,21,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
4,61662dc34dcbbc328c717d73,1C6930,NaN,1634072425,1634086263,71.5,16.3,104.4,"[[1634072429,null,null,270],[1634072433,null,n...",35,13838,13838,2160,11670,3150,6630,1890,1710,0,"[[1634072444,4],[1634074124,2],[1634075834,1],...",0,,15,"[1634072461,1634072473,1634072525,1634074029,1...",180,53,98,8,22,0,,0,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt468

In [144]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt468/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df56 = df
df56.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,6160f0c94144d406f80891b5,1F1071,NaN,1633723764,1633743010,53.5,15.1,126,"[[1633723767,null,null,120],[1633723771,null,n...",50,19246,19246,2310,16920,5310,9870,1740,1680,0,"[[1633723782,4],[1633725432,2],[1633726632,1],...",0,,40,"[1633723783,1633724383,1633724579,1633724595,1...",180,40,88,9,24,0,,0,"[[80.0,118.6,38.6,1.48,8.98],[81.2,112.4,31.2,...",125,45,55,"[[1633725835,68,36,64,0,128],[1633726015,74,36...",80,118.6,NaN
1,6162546bbef1f306f8ad2cb9,1F1071,NaN,1633814523,1633834009,54.4,17.0,130.5,"[[1633814525,null,null,130],[1633814529,null,n...",54,19486,19486,2280,17190,3990,9870,3330,1770,0,"[[1633814540,4],[1633816280,2],[1633818440,1],...",0,,33,"[1633814829,1633815281,1633815737,1633816401,1...",180,40,93,8,26,0,,0,"[[153.8,109.2,-44.6,0.71,-10.76],[178.4,118.8,...",197,50,50,"[[1633818394,197,35,65,0,75],[1633820914,160,3...",153.8,109.2,NaN
2,6163a2ac3436f406f8fb2750,1F1071,NaN,1633896450,1633919639,58.9,15.4,166.5,"[[1633896454,null,null,115],[1633896458,null,n...",64,23189,23189,3090,20100,4530,11520,4050,2220,0,"[[1633896469,4],[1633898659,2],[1633900639,1],...",0,,62,"[1633896462,1633896542,1633897450,1633897498,1...",180,40,100,11,26,0,,0,"[[106.6,99.1,-7.5,0.93,-2.29],[110.8,100.6,-10...",118,39,61,"[[1633899227,111,62,38,0,203],[1633906606,113,...",106.6,99.1,NaN
3,6164f30ca1b49206f8c45d74,1F1071,NaN,1633982268,1634005742,54.6,14.8,179.9,"[[1633982269,null,null,70],[1633982273,null,nu...",65,23474,22952,2010,21450,5040,13290,3120,810,522,"[[1633982284,4],[1633983064,2],[1633983214,4],...",2,"[[1633983524,1633983252],[1633982866,1633982616]]",51,"[1633983625,1633983641,1633983653,1633983673,1...",180,39,94,5,26,0,,1,"[[208.5,89.2,-119.4,0.43,-42.64],[203.8,114.4,...",221,36,64,"[[1633994235,221,48,52,0,108],[1633994414,187,...",208.5,89.2,NaN
4,6166459ed0594e06f82a6992,1F1071,NaN,1634071415,1634092420,57.0,15.0,129.1,"[[1634071417,null,null,928],[1634071421,null,n...",56,21005,21005,2670,18330,4380,11040,2910,1380,0,"[[1634071432,4],[1634072782,2],[1634074732,1],...",0,,47,"[1634071417,1634071437,1634071461,1634071821,1...",180,39,90,8,26,0,,0,"[[85.3,69.9,-15.4,0.82,-9.34],[76.9,74.7,-2.2,...",121,41,59,"[[1634084826,121,35,65,0,42],[1634085905,100,3...",85.3,69.9,NaN

### Sbt469

In [145]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt469/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df57 = df
df57.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,617b516e889413251cda6234,1C6FF8,NaN,1635461204,1635471661,71.6,13,206.6,"[[1635461206,null,null,0],[1635461210,null,nul...",20,10457,10457,3330,7110,690,4740,1680,720,0,"[[1635461221,4],[1635461911,2],[1635463171,3],...",0,,27,"[1635461238,1635461254,1635461270,1635462954,1...",180,58,135,11,18,0,,0,"[[19.7,7.3,-12.3,0.37,-12.98],[13.6,13.6,0.0,1...",27,58,42,"[[1635465255,27,49,51,1,274],[1635465435,23,53...",19.7,7.3,NaN
1,617b7a15d59578251c647f3e,1C6FF8,NaN,1635473275,1635482090,66.1,14.1,223.5,"[[1635473278,51,null,2],[1635473282,51,null,0]...",19,8815,8206,2010,6810,1830,4230,750,1680,609,"[[1635473293,4],[1635474943,2],[1635475903,3],...",1,"[[1635474012,1635473403]]",23,"[1635474046,1635474082,1635474174,1635474190,1...",180,49,76,10,26,0,,0,"[[12.5,16.0,3.5,1.28,4.64],[14.1,14.1,0.0,1.00...",19,57,43,"[[1635476622,17,30,70,1,151],[1635476802,15,36...",12.5,16.0,NaN
2,617ca3fcee1c3a251cfb4470,1C6FF8,NaN,1635546846,1635558379,65.2,13.2,202.6,"[[1635546847,null,null,609],[1635546851,null,n...",23,11533,11533,2700,8820,1770,6210,840,1590,0,"[[1635546862,4],[1635548422,2],[1635549352,1],...",0,,36,"[1635546875,1635546895,1635546967,1635547039,1...",180,57,78,10,26,0,,0,"[[9.7,17.7,8.0,1.83,3.40],[10.8,16.1,5.3,1.49,...",25,61,39,"[[1635548557,7,87,13,1,170],[1635548737,9,76,2...",9.7,17.7,NaN
3,617dfbe540abc940600536a1,1C6FF8,NaN,1635632116,1635642766,69.2,13.1,213.3,"[[1635632117,null,null,22],[1635632121,null,nu...",22,10650,10650,2250,8400,2760,5100,540,1410,0,"[[1635635732,4],[1635637112,2],[1635638552,3],...",0,,60,"[1635632161,1635632189,1635632205,1635632225,1...",120,59,128,10,16,0,,0,"[[19.2,15.7,-3.4,0.82,-1.52],[18.7,16.2,-2.5,0...",26,49,51,"[[1635637246,13,72,28,0,145],[1635637426,15,64...",19.2,15.7,NaN
4,617e28e77de7094060b894a7,1C6FF8,NaN,1635645341,1635654294,70.4,12.6,239.8,"[[1635648944,52,null,11],[1635648948,53,null,1...",9,8953,8112,4320,4620,450,3480,690,3000,841,"[[1635648959,4],[1635651929,2],[1635653939,1],...",1,"[[1635649880,1635649039]]",26,"[1635649960,1635650036,1635650052,1635650124,1...",120,52,134,9,17,0,,0,"[[12.2,15.5,3.3,1.27,2.60],[13.8,13.8,0.0,1.00...",19,66,34,"[[1635651951,6,80,20,1,124],[1635652131,7,75,2...",12.2,15.5,NaN

### Sbt477

In [146]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt477/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df58 = df
df58.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,618b95d07f4deb0fb465b594,11EC56,NaN,1636376997,1636537752,NaN,NaN,506,"[[1636377000,null,null,27],[1636377004,null,nu...",NaN,160755,160755,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,3,"[1636377072,1636377136,1636377156]",120,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,[],NaN,NaN,NaN
1,618cc41e4f670a0fb45f905e,11EC56,NaN,1636578439,1636615134,61,21.9,266.6,"[[1636578440,null,null,286],[1636578444,null,n...",105,36695,36465,4800,31890,4440,18540,8910,1680,230,"[[1636578455,4],[1636580105,2],[1636582355,1],...",1,"[[1636601851,1636601621]]",121,"[1636578484,1636578500,1636578572,1636578792,1...",120,45,90,12,26,0,,2,"[[21.7,56.9,35.1,2.62,3.84],[24.9,74.1,49.2,2....",107,26,74,"[[1636580869,20,19,81,0,193],[1636581049,23,18...",21.7,56.9,NaN

### Sbt485

In [147]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt485/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df59 = df
df59.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,61bc13c553efa51368be107e,1C6FEE,NaN,1639684120,1639715733,81.4,16.8,235.9,"[[1639684123,null,null,265],[1639684127,null,n...",89,31613,31613,3240,28380,8280,15330,4770,1650,0,"[[1639684138,4],[1639685758,2],[1639686328,1],...",0,,112,"[1639684151,1639684171,1639684187,1639684207,1...",120,45,109,12,26,0,,2,"[[20.5,26.6,6.0,1.29,0.74],[15.7,22.1,6.4,1.41...",27,67,33,"[[1639685830,11,61,39,1,123],[1639686010,13,61...",20.5,26.6,NaN
1,61bc19a083984f13689a9765,1C6FEE,NaN,1639684120,1639717215,81.3,16.7,246.6,"[[1639684123,null,null,265],[1639684127,null,n...",89,33095,32892,4590,28500,7620,15360,5520,1650,203,"[[1639684138,4],[1639685758,2],[1639686328,1],...",1,"[[1639715936,1639715733]]",142,"[1639684151,1639684171,1639684187,1639684207,1...",120,45,109,11,26,0,,2,"[[20.8,25.9,5.1,1.25,0.63],[15.7,21.3,5.6,1.35...",26,68,32,"[[1639685830,11,61,39,1,123],[1639686010,13,61...",20.8,25.9,NaN
2,61bd76e45a761c1368fef29f,1C6FEE,NaN,1639777212,1639806647,84.6,16.4,225.6,"[[1639777216,null,null,151],[1639777220,null,n...",89,29435,29435,1740,27690,4560,17460,5670,810,0,"[[1639777231,4],[1639778011,2],[1639780081,1],...",0,,91,"[1639777240,1639777256,1639777284,1639777300,1...",120,43,162,11,26,0,,0,"[[5.9,52.8,46.9,8.91,6.12],[11.9,64.0,52.2,5.3...",103,66,34,"[[1639778022,9,77,23,1,121],[1639778202,9,71,2...",5.9,52.8,NaN
3,61bec66cf0d43a136863b233,1C6FEE,NaN,1639860980,1639892519,80.9,15.4,261.6,"[[1639860982,null,null,107],[1639860986,null,n...",91,31539,31353,3180,28350,4530,17250,6570,810,186,"[[1639860997,4],[1639861777,2],[1639862377,3],...",1,"[[1639864541,1639864355]]",257,"[1639860986,1639861006,1639861062,1639861098,1...",120,51,104,8,24,0,,1,"[[44.8,16.5,-28.3,0.37,-3.68],[48.7,21.9,-26.8...",30,54,46,"[[1639862871,171,84,16,1,528],[1639863051,148,...",44.8,16.5,NaN
4,61c015830373691368ee80e0,1C6FEE,NaN,1639943090,1639978299,84.3,15.7,257.5,"[[1639943094,null,null,236],[1639943098,null,n...",96,35209,35013,4080,31110,5730,19320,6060,1530,196,"[[1639943109,4],[1639944609,2],[1639945569,1],...",1,"[[1639972259,1639972063]]",191,"[1639943098,1639943118,1639943134,1639943150,1...",120,70,107,11,25,0,,1,"[[13.6,28.4,14.9,2.10,1.63],[9.2,30.0,20.8,3.2...",65,65,35,"[[1639944620,30,28,72,0,312],[1639944980,25,35...",13.6,28.4,NaN

### Sbt492

In [148]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt492/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df60 = df
df60.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,61f4aa556356b7142c9c2c11,1C6943,NaN,1643401804,1643424271,73.5,13.6,211.5,"[[1643401806,null,null,162],[1643401810,null,n...",55,22467,22322,3390,19080,3240,12870,2970,2130,145,"[[1643401821,4],[1643403921,2],[1643404971,1],...",1,"[[1643416093,1643415948]]",89,"[1643402454,1643402710,1643402854,1643402874,1...",120,43,85,11,21,0,,1,"[[18.8,22.9,4.0,1.21,0.80],[16.7,19.4,2.7,1.16...",25,45,55,"[[1643404054,16,52,48,1,64],[1643404414,14,51,...",18.8,22.9,NaN
1,61f4ce2e8dc296142c1e5df0,1C6943,NaN,1643401804,1643433505,72.7,13.6,218.4,"[[1643401806,null,null,162],[1643401810,null,n...",83,31701,31395,3990,27720,5400,17520,4800,2130,306,"[[1643401821,4],[1643403921,2],[1643404941,1],...",2,"[[1643424432,1643424271],[1643416093,1643415948]]",153,"[1643402454,1643402710,1643402854,1643402874,1...",120,43,85,11,21,0,,2,"[[18.4,29.9,11.4,1.62,1.44],[16.8,24.1,7.3,1.4...",35,48,52,"[[1643404054,16,52,48,1,64],[1643404414,14,51,...",18.4,29.9,NaN
2,61f5d4e3bb6280142cb87b08,1C6943,NaN,1643488129,1643500713,74.6,14.1,200.4,"[[1643488133,null,null,164],[1643488137,null,n...",32,12584,12584,1680,10890,3180,6360,1350,480,0,"[[1643488148,4],[1643488598,2],[1643489798,1],...",0,,50,"[1643489217,1643489233,1643489249,1643489265,1...",120,62,89,11,24,0,,1,"[[17.4,16.5,-0.9,0.95,-0.29],[17.9,16.2,-1.7,0...",27,46,54,"[[1643488758,18,38,62,0,72],[1643488938,17,46,...",17.4,16.5,NaN
3,61f61f8859c147142c1b3484,1C6943,NaN,1643488129,1643519805,73.1,13.9,238.1,"[[1643488133,null,null,164],[1643488137,null,n...",86,31676,31546,3300,28380,6570,17310,4500,480,130,"[[1643488148,4],[1643488598,2],[1643490428,1],...",1,"[[1643500843,1643500713]]",161,"[1643489217,1643489233,1643489249,1643489265,1...",120,51,136,10,24,0,,1,"[[16.3,24.2,8.0,1.49,0.99],[18.9,27.3,8.4,1.44...",36,54,46,"[[1643488758,20,38,62,0,84],[1643488938,20,46,...",16.3,24.2,NaN
4,61f77930d8b5a9142c117a59,1C6943,NaN,1643574831,1643608333,71.7,13.6,215.0,"[[1643574832,null,null,107],[1643574836,null,n...",95,33502,33358,1560,31950,9540,19320,3090,570,144,"[[1643574847,4],[1643575387,2],[1643576317,1],...",1,"[[1643591708,1643591564]]",142,"[1643575296,1643576072,1643576532,1643576548,1...",120,54,136,9,22,0,,1,"[[14.4,50.3,35.9,3.49,4.04],[26.5,56.7,30.2,2....",57,58,42,"[[1643575461,16,39,61,0,123],[1643577261,19,39...",14.4,50.3,NaN

### Sbt494

In [149]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt494/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df61 = df
df61.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,61f4f3b91f9da4142ca72cac,1C7025,NaN,1643414584,1643443053,71.2,13.9,236.3,"[[1643414587,null,null,107],[1643414591,null,n...",88,28469,28373,1260,27210,5670,16380,5160,660,96,"[[1643414602,4],[1643415232,2],[1643415892,3],...",1,"[[1643414770,1643414674]]",101,"[1643414975,1643414999,1643415047,1643415155,1...",120,44,105,8,21,0,,0,NaN,0,0,0,,NaN,NaN,NaN
1,61f647040330cf142c8ecd7e,1C7025,NaN,1643500503,1643529964,71.3,13.7,264.2,"[[1643500506,null,null,29],[1643500510,null,nu...",84,29461,29376,1410,28050,8370,17100,2580,1020,85,"[[1643500521,4],[1643501511,2],[1643502591,3],...",1,"[[1643500842,1643500757]]",126,"[1643500986,1643501038,1643501186,1643501206,1...",120,48,115,8,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
2,61f7474e1b18df142cd08e44,1C7025,NaN,1643585051,1643595532,70.6,14.8,269.9,"[[1643585053,81,null,30],[1643585057,81,null,4...",24,10481,10481,1860,8610,2730,5070,810,540,0,"[[1643585068,4],[1643585578,2],[1643586688,3],...",0,,43,"[1643585521,1643585537,1643585577,1643585653,1...",120,49,94,5,23,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
3,61f78f23346b20142c1437d1,1C7025,NaN,1643585051,1643613916,73.2,14.2,260.6,"[[1643585053,81,null,30],[1643585057,81,null,4...",82,28865,28772,2550,26310,6840,15210,4260,540,93,"[[1643585068,4],[1643585578,2],[1643586928,1],...",1,"[[1643595625,1643595532]]",120,"[1643585521,1643585537,1643585577,1643585653,1...",120,49,136,5,23,0,,1,NaN,0,0,0,,NaN,NaN,NaN
4,61f8a5cab01695142c5f90db,1C7025,NaN,1643668816,1643685266,73.1,14.4,195.3,"[[1643668817,null,null,4],[1643668821,null,nul...",34,16450,16450,3300,13140,3480,8880,780,2220,0,"[[1643668832,4],[1643671022,2],[1643671832,3],...",0,,55,"[1643668833,1643668853,1643668877,1643669161,1...",120,45,101,8,21,0,,0,NaN,0,0,0,,NaN,NaN,NaN

### Sbt495

In [150]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt495/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df62 = df
df62.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,620756430838c72134c6b8a6,1C6C39,NaN,1644619709,1644647970,64.2,15.5,224.2,"[[1644619712,null,null,80],[1644619716,null,nu...",83,28261,28261,1800,26460,4170,17370,4920,1260,0,"[[1644619727,4],[1644620957,2],[1644622847,1],...",0,,80,"[1644619736,1644619784,1644619836,1644619932,1...",120,44,82,11,22,0,,0,"[[29.7,34.9,5.3,1.18,0.83],[38.8,39.5,0.7,1.02...",59,28,72,"[[1644624480,15,48,52,1,179],[1644624660,26,48...",29.7,34.9,NaN
1,6208b0f14523f021340db2d5,1C6C39,NaN,1644704011,1644736734,59.2,15.3,169.2,"[[1644704013,null,null,1244],[1644704017,null,...",96,32723,32723,2940,29790,7170,16920,5700,2370,0,"[[1644704028,4],[1644706368,2],[1644707418,1],...",0,,89,"[1644704037,1644704169,1644704425,1644704437,1...",120,41,118,11,26,0,,0,"[[90.2,52.3,-37.9,0.58,-5.75],[75.7,53.8,-21.9...",64,37,63,"[[1644712186,76,32,68,0,116],[1644718846,77,34...",90.2,52.3,NaN
2,620a050efbcb362134addf31,1C6C39,NaN,1644794990,1644823760,68.6,15.6,200.1,"[[1644794991,null,null,1174],[1644794995,null,...",79,28770,28770,1800,26970,8010,16710,2250,840,0,"[[1644795006,4],[1644795816,2],[1644796416,3],...",0,,93,"[1644795075,1644795699,1644795739,1644795883,1...",120,42,85,9,26,0,,0,"[[60.1,24.3,-35.7,0.41,-5.50],[49.5,29.1,-20.3...",35,27,73,"[[1644799003,36,41,59,1,103],[1644801703,45,39...",60.1,24.3,NaN
3,620b3bbf26ee6921341f59e7,1C6C39,NaN,1644875429,1644903298,63.5,15.9,281.8,"[[1644875430,null,null,582],[1644875434,null,n...",75,27869,27869,1770,26100,7380,16560,2160,900,0,"[[1644875445,4],[1644876315,2],[1644878145,3],...",0,,90,"[1644875434,1644875522,1644875698,1644875786,1...",120,48,122,12,26,0,,1,"[[49.9,36.2,-13.7,0.72,-2.89],[46.3,39.0,-7.3,...",56,37,63,"[[1644885599,39,66,34,1,127],[1644885779,42,58...",49.9,36.2,NaN
4,620c9006d0f3eb213427becb,1C6C39,NaN,1644960765,1644990404,72.9,17.8,267.4,"[[1644960766,null,null,3798],[1644960770,null,...",94,29639,29639,1260,28380,5460,16740,6180,660,0,"[[1644960781,4],[1644961411,2],[1644962131,3],...",0,,97,"[1644960818,1644960854,1644960950,1644961170,1...",120,42,99,13,23,0,,0,"[[71.6,62.2,-9.4,0.87,-1.50],[76.5,60.1,-16.4,...",110,54,46,"[[1644967243,72,27,73,0,95],[1644967423,82,32,...",71.6,62.2,NaN

### Sbt504

In [151]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt504/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df63 = df
df63.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,623479ac16f97a118c6db82c,11EBDC,NaN,1647518991,1647606180,NaN,NaN,372.2,"[[1647518991,null,null,2813],[1647518995,null,...",NaN,87189,87189,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,0,,120,NaN,NaN,NaN,NaN,0,,NaN,NaN,0,0,0,,NaN,NaN,NaN
1,62356cf48d9412118ccf3b06,11EBDC,NaN,1647637231,1647668389,75,17.3,407.8,"[[1647637232,null,null,5268],[1647637236,null,...",84,31158,31158,4050,27120,7380,15210,4530,1170,0,"[[1647637247,4],[1647638387,2],[1647638897,1],...",0,,570,"[1647637232,1647637256,1647637300,1647637360,1...",120,43,103,11,26,0,,0,"[[22.9,113.7,90.8,4.96,14.30],[28.4,106.0,77.7...",154,54,46,"[[1647638402,22,25,75,0,222],[1647638582,35,34...",22.9,113.7,NaN
2,6236cd8c4b26c02294cf02e4,11EBDC,NaN,1647721638,1647758646,70.9,17.0,337.9,"[[1647721639,null,null,164],[1647721643,null,n...",97,37008,35903,3300,33690,11910,19650,2130,1110,1105,"[[1647721654,4],[1647722734,2],[1647724354,3],...",1,"[[1647758614,1647757509]]",466,"[1647721667,1647721699,1647721731,1647721755,1...",120,40,128,9,25,0,,0,"[[63.5,41.1,-22.4,0.65,-5.09],[56.0,47.5,-8.5,...",79,41,59,"[[1647736668,79,55,45,0,478],[1647739549,66,49...",63.5,41.1,NaN
3,62381a9cce558522945b7d07,11EBDC,NaN,1647807711,1647843920,70.9,16.9,378.9,"[[1647807713,null,null,157],[1647807717,null,n...",85,36209,33490,6240,29970,5940,19590,4440,2730,2719,"[[1647807728,4],[1647810428,2],[1647812648,3],...",3,"[[1647843852,1647842939],[1647841123,164784049...",459,"[1647807725,1647807765,1647807817,1647807865,1...",120,39,130,9,26,8,"[1647839293,1647839362,1647839435,1647839585,1...",2,"[[38.7,107.5,68.8,2.78,13.37],[46.4,92.2,45.8,...",101,43,57,"[[1647820041,30,51,49,0,389],[1647822561,36,45...",38.7,107.5,NaN
4,62394c3f15155b22943bf204,11EBDC,NaN,1647893086,1647922176,70.4,17.0,495.6,"[[1647893088,null,null,82],[1647893092,null,nu...",82,29090,29090,2040,27060,6150,17220,3690,870,0,"[[1647893103,4],[1647893943,2],[1647894723,3],...",0,,588,"[1647893108,1647893212,1647893300,1647893328,1...",120,44,105,6,26,0,,0,"[[84.2,29.2,-55.0,0.35,-8.89],[79.4,33.6,-45.8...",82,45,55,"[[1647894257,82,34,66,0,420],[1647896056,76,38...",84.2,29.2,NaN

### Sbt510

In [152]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt510/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df64 = df
df64.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,624cd2c352fe7222948da7d5,1F0C53,NaN,1649187323,1649201801,67.4,19.8,456.7,"[[1649187325,null,null,129],[1649187329,null,n...",40,14478,14478,1500,12990,3090,7770,2130,840,0,"[[1649187340,4],[1649188150,2],[1649189050,3],...",0,,135,"[1649187333,1649187365,1649187409,1649187453,1...",180,43,97,10,26,0,,0,"[[210.5,162.5,-48.0,0.77,-16.37],[201.7,176.9,...",203,45,55,"[[1649190113,201,31,69,0,356],[1649191733,202,...",210.5,162.5,NaN
1,624d11c265e915229458d73c,1F0C53,NaN,1649187323,1649217932,67.8,20.0,495.4,"[[1649187325,null,null,129],[1649187329,null,n...",84,30609,30497,2490,28110,9120,15960,3030,810,112,"[[1649187340,4],[1649188120,2],[1649188930,3],...",1,"[[1649201913,1649201801]]",344,"[1649187333,1649187365,1649187409,1649187453,1...",180,43,97,10,26,0,,1,"[[187.5,192.3,4.8,1.03,0.76],[205.9,207.5,1.6,...",218,37,63,"[[1649190113,210,27,73,0,337],[1649191733,202,...",187.5,192.3,NaN
2,624e2523ba9ae0229415bf3a,1F0C53,NaN,1649273541,1649288409,67.1,21.0,418.0,"[[1649273543,null,null,2437],[1649273547,null,...",46,14868,14868,1140,13710,2100,8220,3390,630,0,"[[1649273558,4],[1649274158,2],[1649275658,1],...",0,,141,"[1649273559,1649273591,1649273627,1649273659,1...",180,49,92,13,26,0,,0,"[[155.4,121.5,-33.9,0.78,-10.26],[149.2,122.2,...",157,57,43,"[[1649275252,152,46,54,0,370],[1649275431,155,...",155.4,121.5,NaN
3,624e30db25916522946956cd,1F0C53,NaN,1649273541,1649291407,66.7,20.9,421.9,"[[1649273543,null,null,2437],[1649273547,null,...",50,17866,17741,2310,15540,2250,9300,3990,630,125,"[[1649273558,4],[1649274158,2],[1649275688,1],...",1,"[[1649288534,1649288409]]",163,"[1649273559,1649273591,1649273627,1649273659,1...",180,49,94,13,26,0,,1,"[[155.4,121.5,-33.9,0.78,-10.26],[149.2,122.2,...",157,57,43,"[[1649275252,152,46,54,0,370],[1649275431,155,...",155.4,121.5,NaN
4,624e66dbb8cde322947ec362,1F0C53,NaN,1649273541,1649305220,66.8,20.8,392.8,"[[1649273543,null,null,2437],[1649273547,null,...",91,31679,31445,3600,28080,4290,16680,7110,630,234,"[[1649273558,4],[1649274158,2],[1649275688,1],...",2,"[[1649291516,1649291407],[1649288534,1649288409]]",244,"[1649273559,1649273591,1649273627,1649273659,1...",180,49,94,10,26,0,,2,"[[149.2,140.8,-8.4,0.94,-1.44],[148.6,145.8,-2...",157,45,55,"[[1649275252,157,49,51,0,368],[1649275431,155,...",149.2,140.8,NaN

### Sbt513

In [153]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt513/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df65 = df
df65.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,626a2f3bdd75582bdcacee84,1C7029,NaN,1651097256,1651126035,60.6,23.7,432.2,"[[1651097260,null,null,121],[1651097264,null,n...",76,28779,28478,2640,26130,6150,16830,3150,720,301,"[[1651097275,4],[1651097965,2],[1651098625,3],...",1,"[[1651118784,1651118483]]",160,"[1651097276,1651097308,1651097676,1651097696,1...",180,41,98,15,26,3,"[1651098430,1651098622,1651100803]",2,"[[37.7,89.2,51.5,2.37,6.84],[23.8,69.2,45.5,2....",132,37,63,"[[1651098066,21,40,60,0,161],[1651098246,23,41...",37.7,89.2,NaN
1,626b8266b032cd2bdc217b8f,1C7029,NaN,1651178768,1651212822,58.4,22.1,456.1,"[[1651178769,null,null,477],[1651178773,null,n...",89,34054,33433,4170,29880,7860,17880,4140,2250,621,"[[1651178784,4],[1651181004,2],[1651182594,3],...",1,"[[1651204675,1651204054]]",188,"[1651178777,1651180057,1651180117,1651180185,1...",180,41,111,13,26,4,"[1651191899,1651195276,1651195364,1651206664]",1,"[[85.9,66.9,-19.0,0.78,-2.26],[57.3,68.7,11.4,...",101,39,61,"[[1651181735,134,34,66,0,308],[1651182275,106,...",85.9,66.9,NaN
2,626d9b6c49351a2bdc98828b,1C7029,NaN,1651268777,1651350336,58.8,21.5,180.3,"[[1651268780,null,null,411],[1651268784,null,n...",NaN,81559,81559,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,279,"[1651268792,1651268928,1651269096,1651269244,1...",180,46,92,12,26,3,"[1651272355,1651274707,1651274887]",NaN,"[[27.9,81.9,54.0,2.94,10.38],[40.0,80.7,40.7,2...",110,33,67,"[[1651279488,45,30,70,0,-73],[1651279668,40,37...",27.9,81.9,NaN
3,6273e6b36b0b152bdc48aa2c,1C7029,NaN,1651698731,1651762776,58.2,22.5,267.1,"[[1651698734,null,null,466],[1651698738,null,n...",NaN,64045,64045,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,,211,"[1651698746,1651701194,1651701210,1651701242,1...",180,44,114,17,26,3,"[1651702767,1651702809,1651706022]",NaN,"[[54.9,55.0,0.1,1.00,0.02],[43.9,46.4,2.6,1.06...",98,47,53,"[[1651701521,27,39,61,0,291],[1651701701,25,44...",54.9,55.0,NaN
4,6274bf71fc330310e0dd74b7,1C7029,NaN,1651782411,1651817354,58.5,23.2,593.4,"[[1651782412,null,null,123],[1651782416,null,n...",99,34943,34739,2910,32040,7980,18720,5340,840,204,"[[1651782427,4],[1651783237,2],[1651784857,1],...",1,"[[1651807885,1651807681]]",304,"[1651784448,1651784464,1651784480,1651784524,1...",180,42,91,17,26,2,"[1651793798,1651795737]",2,"[[124.8,20.6,-104.2,0.16,-11.42],[97.2,37.9,-5...",60,69,31,"[[1651783401,93,32,68,0,134],[1651783762,103,2...",124.8,20.6,NaN

### Sbt515

In [154]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt515/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df66 = df
df66.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,62775a364f06b210e0333da3,1C70B0,NaN,1651953395,1651989007,75.5,16.4,334.9,"[[1651953399,null,null,32767],[1651953403,null...",99,35612,34707,2400,33210,9840,19860,3510,960,905,"[[1651953414,4],[1651954344,2],[1651954974,1],...",2,"[[1651955970,1651955627],[1651953992,1651953430]]",183,"[1651953999,1651954039,1651954083,1651954163,1...",180,44,97,11,26,0,,1,"[[66.9,52.1,-14.8,0.78,-1.73],[62.8,48.7,-14.1...",74,51,49,"[[1651957141,12,46,54,0,28],[1651957320,18,46,...",66.9,52.1,NaN
1,6277b562562bae10e0177ee8,1C70B0,NaN,1652001951,1652012304,69.3,8.8,1.3,"[[1652001955,50,null,0],[1652001959,53,null,0]...",9,10353,9308,4860,5490,2280,3120,90,1110,1045,"[[1652001970,4],[1652003050,2],[1652004760,3],...",2,"[[1652007748,1652007464],[1652006658,1652005897]]",0,,180,47,113,5,21,0,,2,NaN,0,0,0,,NaN,NaN,NaN
2,627898722d42bf10e0b9ba82,1C70B0,NaN,1652034881,1652070450,71.4,15.2,126.7,"[[1652034882,null,null,0],[1652034886,63,null,...",96,35569,35315,3600,31980,9270,18540,4170,1680,254,"[[1652034897,4],[1652036547,2],[1652037507,3],...",1,"[[1652048864,1652048610]]",38,"[1652038214,1652044518,1652048506,1652048530,1...",180,42,139,5,25,0,,1,"[[27.3,157.0,129.7,5.75,28.82],[44.1,171.0,126...",187,39,61,"[[1652049854,56,43,57,0,101],[1652050035,50,47...",27.3,157.0,NaN
3,62789d473810db10e0f285e9,1C70B0,NaN,1652034881,1652071716,71.4,15.2,122.9,"[[1652034882,null,null,0],[1652034886,63,null,...",101,36835,36425,3960,32880,8760,18810,5310,1680,410,"[[1652034897,4],[1652036547,2],[1652037477,3],...",2,"[[1652070606,1652070450],[1652048864,1652048610]]",38,"[1652038214,1652044518,1652048506,1652048530,1...",180,42,139,5,25,0,,2,"[[27.3,157.0,129.7,5.75,28.82],[44.1,171.0,126...",187,39,61,"[[1652049854,56,43,57,0,101],[1652050035,50,47...",27.3,157.0,NaN
4,627919a94f713510e0dffe39,1C70B0,NaN,1652091730,1652103575,68.7,13.6,20.5,"[[1652091734,null,null,0],[1652091738,null,nul...",27,11845,11845,3240,8610,1890,4500,2220,1140,0,"[[1652091749,4],[1652092859,2],[1652093909,1],...",0,,6,"[1652098174,1652098186,1652098206,1652101693,1...",180,46,106,7,24,0,,0,"[[26.1,46.7,20.6,1.79,10.03],[33.2,40.4,7.2,1....",66,46,54,"[[1652093621,36,48,52,0,11],[1652093800,32,49,...",26.1,46.7,NaN

### Sbt516

In [155]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt516/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df67 = df
df67.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,628713cdfd179c710a07d2e0,1C6C83,NaN,1652991746,1653019546,62.4,17.8,999,"[[1652991750,null,null,32767],[1652991754,null...",87,27800,27800,2010,25800,7170,13080,5550,1290,0,"[[1652991765,4],[1652993025,2],[1652994555,1],...",0,,561,"[1652991758,1652992062,1652992198,1652992366,1...",180,55,119,8,24,284,"[1652991837,1652991925,1652991987,1652992495,1...",0,"[[20.3,19.6,-0.8,0.96,-0.11],[19.7,20.8,1.1,1....",31,44,56,"[[1652993096,17,62,38,0,35],[1652993276,18,61,...",20.3,19.6,NaN
1,628866cbac5c1f710ad011cc,1C6C83,NaN,1653080044,1653106341,65.0,19.3,999,"[[1653080046,null,null,889],[1653080050,null,n...",60,26297,26054,4440,21840,6120,13830,1890,2910,243,"[[1653080061,4],[1653082941,2],[1653084201,1],...",1,"[[1653088212,1653087969]]",716,"[1653080066,1653080446,1653080486,1653080914,1...",180,47,130,14,26,145,"[1653080066,1653080813,1653081712,1653081735,1...",1,"[[14.8,20.9,6.1,1.41,0.99],[15.0,21.9,6.9,1.46...",27,55,45,"[[1653083374,15,33,67,0,109],[1653083555,14,42...",14.8,20.9,NaN
2,6289c3de181574710a0414bb,1C6C83,NaN,1653165772,1653195692,63.1,17.6,999,"[[1653165775,null,null,1259],[1653165779,null,...",79,29920,29920,4050,25860,6960,14580,4320,1290,0,"[[1653165790,4],[1653167050,2],[1653169300,1],...",0,,670,"[1653165775,1653165795,1653165807,1653165827,1...",180,52,90,7,25,284,"[1653165809,1653165864,1653165886,1653165928,1...",1,"[[15.5,20.2,4.7,1.31,0.81],[16.0,18.1,2.1,1.13...",21,48,52,"[[1653167122,13,29,71,0,21],[1653167302,13,33,...",15.5,20.2,NaN
3,628b0808f1d66d710ab231c4,1C6C83,NaN,1653252410,1653278693,60.0,18.5,999,"[[1653252411,null,null,2067],[1653252415,null,...",61,26283,26045,5070,21210,5520,12510,3180,1500,238,"[[1653252426,4],[1653253896,2],[1653255546,3],...",1,"[[1653258786,1653258548]]",1077,"[1653252415,1653252431,1653252475,1653252487,1...",180,48,124,8,24,162,"[1653252509,1653252570,1653252616,1653252708,1...",2,"[[26.6,25.7,-0.9,0.96,-0.17],[27.3,29.0,1.7,1....",34,50,50,"[[1653254120,34,55,45,1,24],[1653254300,31,54,...",26.6,25.7,NaN
4,628c68e5ba906b710a9d1fcc,1C6C83,NaN,1653337579,1653369021,66.2,17.3,999,"[[1653337582,null,null,16425],[1653337586,null...",82,31442,31442,4830,26610,7470,14430,4710,2280,0,"[[1653337597,4],[1653339847,2],[1653340447,3],...",0,,681,"[1653337582,1653337598,1653337618,1653337634,1...",180,49,130,7,26,169,"[1653339141,1653339676,1653339701,1653339900,1...",1,"[[28.2,17.5,-10.6,0.62,-1.50],[27.1,22.2,-4.9,...",29,53,47,"[[1653341629,15,67,33,1,106],[1653341989,15,67...",28.2,17.5,NaN

### Sbt520

In [156]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt520/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df68 = df
df68.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,6298093957f92624a469d902,1C6C39,NaN,1654108659,1654130970,77.8,24.4,341,"[[1654108660,null,null,56],[1654108664,null,nu...",54,22311,21654,3690,18630,4830,11250,2550,1080,657,"[[1654108675,4],[1654109725,2],[1654111285,3],...",1,"[[1654112250,1654111593]]",74,"[1654109284,1654110092,1654110184,1654110492,1...",180,55,91,7,26,0,,1,"[[23.1,16.2,-6.9,0.70,-1.57],[19.3,17.6,-1.8,0...",20,61,39,"[[1654113601,92,74,26,1,144],[1654113781,76,69...",23.1,16.2,NaN
1,6298445f9f199624a45b717b,1C6C39,NaN,1654108659,1654146073,76.0,24.1,278.1,"[[1654108660,null,null,56],[1654108664,null,nu...",102,37414,36612,3420,33990,9150,20310,4530,1080,802,"[[1654108675,4],[1654109725,2],[1654111375,3],...",2,"[[1654131115,1654130970],[1654112250,1654111593]]",112,"[1654109284,1654110092,1654110184,1654110492,1...",180,41,91,7,26,0,,2,"[[24.6,27.4,2.8,1.11,0.31],[18.9,15.2,-3.7,0.8...",20,67,33,"[[1654113601,91,74,26,1,159],[1654113781,74,69...",24.6,27.4,NaN
2,629954490d23c124a4f4148b,1C6C39,NaN,1654189902,1654215733,78.8,23.8,286,"[[1654189905,null,null,249],[1654189909,null,n...",55,25831,24865,6900,18930,2790,11460,4680,1170,966,"[[1654189920,4],[1654191060,2],[1654191750,3],...",3,"[[1654198924,1654198654],[1654196899,165419668...",169,"[1654190353,1654190365,1654190673,1654190701,1...",180,50,97,9,26,2,"[1654192037,1654192345]",3,"[[36.3,12.1,-24.2,0.33,-3.72],[43.2,16.2,-27.0...",21,68,32,"[[1654191973,75,71,29,1,328],[1654192333,66,71...",36.3,12.1,NaN
3,629995ff547c8c24a4612e20,1C6C39,NaN,1654189902,1654232516,77.1,24.0,313.9,"[[1654189905,null,null,249],[1654189909,null,n...",99,42614,41515,7500,35100,8250,21750,5100,900,1099,"[[1654189920,4],[1654190790,2],[1654191690,4],...",4,"[[1654215866,1654215733],[1654198924,165419865...",223,"[1654190353,1654190365,1654190673,1654190701,1...",180,50,97,9,26,2,"[1654192037,1654192345]",5,"[[61.6,2.5,-59.1,0.04,-5.27],[119.9,26.5,-93.4...",44,67,33,"[[1654191973,113,70,30,1,328],[1654192333,115,...",61.6,2.5,NaN
4,629b13e6d84cb424a4aad70c,1C6C39,NaN,1654293540,1654329278,77.9,23.6,231.7,"[[1654293542,null,null,612],[1654293546,null,n...",108,35738,35738,1950,33780,7320,20220,6240,1170,0,"[[1654293557,4],[1654294697,2],[1654296077,1],...",0,,78,"[1654294266,1654294382,1654294630,1654294706,1...",180,49,91,10,26,0,,0,"[[73.2,14.6,-58.6,0.20,-7.71],[64.1,18.5,-45.6...",17,72,28,"[[1654294890,106,50,50,0,152],[1654295070,88,5...",73.2,14.6,NaN

### Sbt524

In [157]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt524/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df69 = df
df69.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,6316df4d7398fe1484c76118,1EFD48,NaN,1662410091,1662443281,62.9,13.9,231.2,"[[1662410095,67,null,334],[1662410099,68,null,...",88,33190,32726,4560,28620,6300,17040,5280,2430,464,"[[1662410110,4],[1662412510,2],[1662413710,1],...",1,"[[1662429100,1662428636]]",225,"[1662410135,1662410399,1662410667,1662410931,1...",180,44,122,5,21,0,,1,"[[71.1,128.5,57.4,1.81,71.76],[107.0,107.0,0.0...",128,41,59,"[[1662422060,70,43,57,0,318],[1662424580,128,4...",71.1,128.5,NaN
1,63182664b72a501484f4d883,1EFD48,NaN,1662496115,1662527040,64.7,15.0,168.0,"[[1662496118,61,null,170],[1662496122,59,null,...",93,30925,30925,1560,29370,8160,16860,4350,840,0,"[[1662496133,4],[1662496943,2],[1662498323,1],...",0,,178,"[1662496214,1662496266,1662496482,1662496746,1...",180,47,98,6,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
2,631996bccc1de014848ef29f,1EFD48,NaN,1662580835,1662621348,61.8,13.2,206.6,"[[1662580838,72,6.5,32],[1662580842,71,6.5,26]...",121,40513,40513,2010,38490,9600,23040,5850,870,0,"[[1662580853,4],[1662581693,2],[1662582263,3],...",0,,233,"[1662580894,1662581158,1662581426,1662581690,1...",180,45,90,4,26,13,"[1662614045,1662614339,1662614459,1662614512,1...",0,NaN,0,0,0,[],NaN,NaN,NaN
3,631ac9d05739bd1484bbf299,1EFD48,NaN,1662671464,1662699954,61.8,13.5,172.1,"[[1662671465,null,null,95],[1662671469,null,nu...",81,28490,28490,1770,26730,8070,15510,3150,690,0,"[[1662671480,4],[1662672140,2],[1662673190,1],...",0,,148,"[1662671705,1662671973,1662672237,1662672505,1...",180,44,109,8,22,1,[1662691186],1,NaN,0,0,0,,NaN,NaN,NaN
4,631c2984324bdd1484b5f7d0,1EFD48,NaN,1662753843,1662789987,62.3,14.7,194.9,"[[1662753845,56,null,141],[1662753849,54,15,23...",109,36144,36144,960,35190,9960,21060,4170,750,0,"[[1662753860,4],[1662754580,2],[1662756110,1],...",0,,221,"[1662753937,1662754081,1662754349,1662754617,1...",180,47,97,7,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt526

In [158]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt526/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df70 = df
df70.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,6316c3772913c51484150927,1F1071,NaN,1662407774,1662436142,61.4,15.4,374.4,"[[1662407776,null,null,400],[1662407780,null,n...",81,28368,28099,2070,26280,6930,15480,3870,690,269,"[[1662407791,4],[1662408451,2],[1662409441,1],...",1,"[[1662431498,1662431229]]",134,"[1662407788,1662407820,1662407848,1662407884,1...",180,47,80,12,26,0,,1,"[[24.7,33.7,9.0,1.37,1.22],[28.0,34.6,6.6,1.23...",35,54,46,"[[1662408584,20,36,64,1,198],[1662408764,23,37...",24.7,33.7,NaN
1,63180d7f790bf814845c07fd,1F1071,NaN,1662494650,1662520652,66.5,16.3,468.8,"[[1662494653,null,null,1044],[1662494657,null,...",68,26002,25353,3150,22860,4860,14550,3450,780,649,"[[1662494668,4],[1662495418,2],[1662496558,1],...",2,"[[1662508727,1662508616],[1662507686,1662507148]]",265,"[1662494657,1662495017,1662495285,1662495397,1...",180,54,86,13,26,0,,1,"[[17.3,43.2,25.9,2.49,3.72],[18.4,41.2,22.8,2....",50,52,48,"[[1662495461,14,40,60,0,136],[1662495641,14,40...",17.3,43.2,NaN
2,63195dddfc044e14842fb814,1F1071,NaN,1662579760,1662606749,63.9,15.3,213.6,"[[1662579764,null,null,1620],[1662579768,null,...",68,26989,26550,3000,23970,6810,15000,2160,930,439,"[[1662579779,4],[1662580679,2],[1662581669,1],...",1,"[[1662590517,1662590078]]",104,"[1662579772,1662579784,1662579800,1662579824,1...",180,51,77,12,26,0,,1,"[[29.3,34.9,5.6,1.19,0.79],[32.7,38.2,5.5,1.17...",45,52,48,"[[1662580750,19,31,69,0,85],[1662580931,19,30,...",29.3,34.9,NaN
3,631aafa4bf99f61484e303a6,1F1071,NaN,1662665427,1662693248,66.8,15.8,243.4,"[[1662665428,null,null,956],[1662665432,null,n...",79,27821,27590,2370,25440,7200,14160,4080,600,231,"[[1662665443,4],[1662666013,2],[1662666883,3],...",1,"[[1662685095,1662684864]]",123,"[1662665440,1662665464,1662665488,1662665596,1...",180,52,88,12,26,0,,2,"[[33.1,38.7,5.6,1.17,0.75],[30.0,34.6,4.7,1.16...",69,48,52,"[[1662666057,18,58,42,0,121],[1662666237,21,53...",33.1,38.7,NaN
4,631c0740b8ee5b1484768185,1F1071,NaN,1662752855,1662781213,65.6,15.3,302.4,"[[1662752856,null,null,1784],[1662752860,null,...",88,28358,28358,780,27570,6330,16560,4680,570,0,"[[1662752871,4],[1662753411,2],[1662755031,1],...",0,,126,"[1662752856,1662752872,1662752896,1662752912,1...",180,50,86,13,26,0,,0,"[[34.7,29.1,-5.7,0.84,-0.74],[28.6,27.1,-1.6,0...",37,44,56,"[[1662753485,18,36,64,0,221],[1662753665,20,45...",34.7,29.1,NaN

### Sbt545

In [159]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt545/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df71 = df
df71.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63994b74aea00b24c8186b8b,1C6FEE,NaN,1670960607,1670990634,63,16.8,212.5,"[[1670960608,null,null,756],[1670960612,null,n...",91,30027,30027,1680,28350,9240,14580,4530,930,0,"[[1670960623,4],[1670961523,2],[1670962153,3],...",0,,80,"[1670960620,1670960636,1670960660,1670960676,1...",120,49,86,13,26,0,,1,"[[29.6,21.0,-8.6,0.71,-1.09],[26.0,17.8,-8.2,0...",25,57,43,"[[1670961597,49,36,64,0,300],[1670961778,44,32...",29.6,21,NaN
1,639a6ffd8a3a5824c87e5a2c,1C6FEE,NaN,1671051414,1671065543,65.6,16.7,297.7,"[[1671051415,null,null,978],[1671051419,null,n...",35,14129,13996,2760,11370,3180,5940,2250,1350,133,"[[1671051430,4],[1671052750,2],[1671053560,3],...",1,"[[1671055607,1671055474]]",48,"[1671051427,1671051443,1671051459,1671051475,1...",120,53,86,13,21,0,,1,"[[24.9,46.1,21.2,1.85,6.69],[28.6,43.7,15.1,1....",59,39,61,"[[1671053845,37,27,73,1,265],[1671054205,33,31...",24.9,46.1,NaN
2,639aa0a4ca2fd424c80f392d,1C6FEE,NaN,1671069046,1671078005,68.8,16.0,175.4,"[[1671069047,71,5.9,18],[1671069051,70,5.9,21]...",22,8959,8959,840,8130,2850,5280,0,420,0,"[[1671069062,4],[1671069452,2],[1671069932,3],...",0,,20,"[1671069635,1671069651,1671069679,1671069831,1...",120,55,83,5,21,0,,0,"[[17.7,58.4,40.8,3.30,21.45],[25.9,49.5,23.6,1...",71,38,62,"[[1671069497,35,35,65,0,125],[1671069857,30,35...",17.7,58.4,NaN
3,639bfc98aba32624c85b32b2,1C6FEE,NaN,1671137493,1671167055,63.2,15.7,196.8,"[[1671137494,null,null,405],[1671137498,null,n...",87,29562,28830,2700,26850,5670,15450,5730,1080,732,"[[1671137509,4],[1671138559,2],[1671140329,1],...",1,"[[1671144228,1671143496]]",70,"[1671137538,1671137554,1671137570,1671137606,1...",120,51,91,4,23,0,,1,"[[16.5,39.9,23.4,2.42,3.18],[20.4,53.7,33.4,2....",75,40,60,"[[1671140283,15,70,30,0,109],[1671144678,17,60...",16.5,39.9,NaN
4,639d2a54544efa24c839616c,1C6FEE,NaN,1671224581,1671244302,71.4,17.3,208.1,"[[1671224585,null,null,244],[1671224589,null,n...",56,19721,19721,2220,17490,5010,9150,3330,1710,0,"[[1671224600,4],[1671226280,2],[1671227120,3],...",0,,47,"[1671224589,1671224605,1671224665,1671224789,1...",120,52,87,7,24,0,,0,"[[15.6,14.9,-0.7,0.96,-0.15],[15.6,15.0,-0.6,0...",17,50,50,"[[1671226831,15,33,67,0,100],[1671227011,15,40...",15.6,14.9,NaN

### Sbt548

In [160]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt548/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df72 = df
df72.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,639967bbb026965c7c96740e,1C6943,NaN,1670971416,1670997902,65.8,17.6,304.6,"[[1670971417,null,null,18839],[1670971421,null...",76,26486,26486,1080,25410,7830,15300,2280,1050,0,"[[1670971432,4],[1670972452,2],[1670974012,3],...",0,,85,"[1670971421,1670971441,1670972249,1670972265,1...",120,41,87,9,26,0,,0,"[[13.3,37.6,24.2,2.82,23.07],[30.6,30.6,0.0,1....",46,37,63,"[[1670973306,12,22,77,0,135],[1670976725,46,42...",13.3,37.6,NaN
1,639abe371cfa275c7c890e28,1C6943,NaN,1671020909,1671085578,63.8,17.9,237.8,"[[1671020912,null,null,0],[1671020913,null,nul...",91,64669,64669,29670,35010,6420,18360,10230,29370,0,"[[1671020927,4],[1671050267,2],[1671050927,3],...",0,,65,"[1671061457,1671061473,1671061717,1671061769,1...",120,42,92,14,25,0,,0,"[[39.3,34.4,-4.9,0.88,-10.88],[36.8,36.8,0.0,1...",39,52,48,"[[1671079428,39,72,28,1,123],[1671081049,34,32...",39.3,34.4,NaN
2,639c25d47172135c7c91cffb,1C6943,NaN,1671157830,1671177630,62.1,16.9,343.3,"[[1671157833,null,null,128],[1671157837,null,n...",51,19800,19800,2130,17670,5340,10680,1650,900,0,"[[1671157848,4],[1671158718,2],[1671160518,1],...",0,,54,"[1671160385,1671160569,1671160865,1671161537,1...",120,38,79,10,23,0,,0,"[[47.1,23.8,-23.3,0.51,-155.62],[35.5,35.5,0.0...",47,50,50,"[[1671166021,47,37,64,1,92],[1671166560,24,64,...",47.1,23.8,NaN
3,639d8eda0f5ec05c7cf561c0,1C6943,NaN,1671235747,1671269857,64.4,17.3,305.5,"[[1671235750,null,null,39],[1671235754,null,nu...",95,34110,34110,2340,31770,10110,18480,3180,1890,0,"[[1671235765,4],[1671237625,2],[1671238765,3],...",0,,109,"[1671235790,1671235806,1671235822,1671235842,1...",120,47,101,11,26,1,[1671245535],1,NaN,0,0,0,[],NaN,NaN,NaN
4,639d9fa710652d5c7c97e2d2,1C6943,NaN,1671235747,1671274191,64.4,17.2,276.3,"[[1671235750,null,null,39],[1671235754,null,nu...",98,38444,37951,3990,34440,10680,20850,2910,1890,493,"[[1671235765,4],[1671237625,2],[1671238765,3],...",3,"[[1671273507,1671273361],[1671273332,167127322...",109,"[1671235790,1671235806,1671235822,1671235842,1...",120,44,101,9,26,1,[1671245535],2,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt552

In [161]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt552/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df73 = df
df73.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63a3ca1acefd674f4a3d5328,1C6FF8,NaN,1671662636,1671678441,71.5,13.6,207,"[[1671662638,74,null,96],[1671662642,73,null,2...",41,15805,15627,1830,13980,3660,8400,1920,660,178,"[[1671662653,4],[1671663283,2],[1671664663,3],...",1,"[[1671674005,1671673827]]",67,"[1671662650,1671662786,1671663058,1671663994,1...",120,38,108,8,18,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
1,63a503e005bb2d35ee2ae9cd,1C6FF8,NaN,1671749108,1671758760,66.6,14.1,250.5,"[[1671749109,null,null,342],[1671749113,null,n...",27,9652,9652,420,9240,3240,5460,540,330,0,"[[1671749124,4],[1671749424,2],[1671750684,3],...",0,,40,"[1671749277,1671749301,1671749365,1671749513,1...",120,48,91,12,16,0,,0,NaN,0,0,0,,NaN,NaN,NaN
2,63a5367a1fcbb935eed3ae1c,1C6FF8,NaN,1671749108,1671771761,68.3,13.9,214.1,"[[1671749109,null,null,342],[1671749113,null,n...",56,22653,21875,2520,20130,6990,11910,1230,300,778,"[[1671749124,4],[1671749394,2],[1671750684,3],...",2,"[[1671769221,1671768597],[1671758914,1671758760]]",102,"[1671749277,1671749301,1671749365,1671749513,1...",120,43,99,9,18,0,,2,NaN,0,0,0,,NaN,NaN,NaN
3,63a66a83cf617735eec03828,1C6FF8,NaN,1671834918,1671850595,75.6,14.1,274.7,"[[1671834920,67,null,25],[1671834924,67,null,2...",47,15677,15677,1050,14610,3600,8400,2610,840,0,"[[1671834935,4],[1671835745,2],[1671836585,3],...",0,,67,"[1671834972,1671834988,1671835004,1671835052,1...",120,41,99,12,24,0,,0,"[[31.3,16.4,-14.8,0.53,-9.27],[26.4,19.1,-7.3,...",33,55,45,"[[1671844572,33,48,52,0,112],[1671845652,26,47...",31.3,16.4,NaN
4,63a672a7dee68235ee15384d,1C6FF8,NaN,1671834918,1671852677,76.5,13.8,270.8,"[[1671834920,67,null,25],[1671834924,67,null,2...",46,17759,17351,2430,15330,4560,8610,2160,810,408,"[[1671834935,4],[1671835715,2],[1671836585,3],...",2,"[[1671852294,1671851980],[1671850689,1671850595]]",79,"[1671834972,1671834988,1671835004,1671835052,1...",120,41,99,5,24,0,,1,"[[31.3,16.4,-14.8,0.53,-9.27],[26.4,19.1,-7.3,...",33,55,45,"[[1671844572,33,48,52,0,112],[1671845652,26,47...",31.3,16.4,NaN

### Sbt554

In [162]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt554/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df74 = df
df74.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63a3d234ec64250d1ca5977c,1C6994,NaN,1671656335,1671680528,75.6,19.6,501.8,"[[1671656335,null,null,2],[1671656339,null,nul...",76,24193,24068,1050,23130,5910,12780,4440,1020,125,"[[1671656350,4],[1671657340,2],[1671658720,1],...",1,"[[1671656530,1671656405]]",78,"[1671656539,1671656563,1671656627,1671656651,1...",120,42,94,16,24,0,,0,"[[73.9,33.8,-40.2,0.46,-6.53],[60.2,29.8,-30.5...",46,55,45,"[[1671658060,42,39,61,0,266],[1671658420,37,44...",73.9,33.8,NaN
1,63a51b56b5484b0d1c93af89,1C6994,NaN,1671744871,1671764797,74.1,18.2,562.3,"[[1671744875,null,null,11177],[1671744879,null...",50,19926,19926,2070,17850,4830,11610,1410,1440,0,"[[1671744890,4],[1671746300,2],[1671746780,3],...",0,,87,"[1671744883,1671744899,1671744911,1671744927,1...",120,54,150,15,24,0,,0,"[[32.7,47.2,14.5,1.44,2.95],[28.7,28.8,0.1,1.0...",44,55,45,"[[1671746402,76,71,29,1,273],[1671746582,63,60...",32.7,47.2,NaN
2,63a68a36f880100d1c68a32c,1C6994,NaN,1671831181,1671858733,83.1,18.8,604.3,"[[1671831182,null,null,9],[1671831186,null,nul...",79,27552,27552,1710,25830,8130,14700,3000,930,0,"[[1671831197,4],[1671832097,2],[1671833387,1],...",0,,99,"[1671831210,1671831226,1671831242,1671831258,1...",120,52,102,14,26,0,,0,"[[33.7,98.4,64.8,2.92,10.11],[61.1,101.5,40.4,...",235,63,37,"[[1671832711,102,66,34,1,313],[1671833431,82,6...",33.7,98.4,NaN
3,63a7cb3b1fe2b30d1ce8e1e8,1C6994,NaN,1671914246,1671940870,97.5,20.2,588.0,"[[1671914248,null,null,4228],[1671914252,null,...",76,26624,26315,3150,23460,6060,12540,4860,330,309,"[[1671914263,4],[1671914563,2],[1671916093,1],...",1,"[[1671927905,1671927596]]",152,"[1671914248,1671914280,1671914352,1671917924,1...",120,49,123,16,26,0,,1,"[[62.5,14.2,-48.3,0.23,-7.31],[66.1,27.8,-38.2...",42,30,70,"[[1671915776,52,32,68,0,267],[1671915956,69,32...",62.5,14.2,NaN
4,63a91f1b9c760c0d1cee82cc,1C6994,NaN,1672004678,1672027887,78.2,17.1,695.8,"[[1672004679,null,null,240],[1672004683,null,n...",64,23209,23094,1980,21240,6390,12210,2640,1320,115,"[[1672004694,4],[1672005984,2],[1672007274,3],...",1,"[[1672024250,1672024135]]",369,"[1672004687,1672004707,1672004751,1672004895,1...",120,52,94,15,24,0,,1,"[[21.6,44.8,23.2,2.08,4.09],[24.7,36.0,11.3,1....",45,51,49,"[[1672006388,37,21,79,0,210],[1672006568,33,37...",21.6,44.8,NaN

### Sbt560

In [163]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt560/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df75 = df
df75.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63f9789c4d4aa41788c00183,1F1071,NaN,1677276709,1677293686,51.4,15.5,316.4,"[[1677276711,null,null,2832],[1677276715,null,...",43,16977,16894,2520,14460,2610,8940,2910,1320,83,"[[1677276726,4],[1677278016,2],[1677278496,4],...",1,"[[1677278667,1677278584]]",74,"[1677276711,1677276727,1677276743,1677276871,1...",120,43,80,11,23,0,,2,"[[25.3,32.0,6.7,1.27,1.62],[26.4,34.0,7.6,1.29...",46,46,54,"[[1677278239,31,42,58,0,232],[1677278546,31,37...",25.3,32,NaN
1,63f9a2184ca29d178854770d,1F1071,NaN,1677276709,1677304287,50.9,15.2,300.0,"[[1677276711,null,null,2832],[1677276715,null,...",71,27578,27400,4590,22980,5160,12690,5130,930,178,"[[1677276726,4],[1677277626,2],[1677277686,4],...",2,"[[1677293781,1677293686],[1677278667,1677278584]]",115,"[1677276711,1677276727,1677276743,1677276871,1...",120,42,100,10,23,0,,3,"[[27.5,32.7,5.2,1.19,0.77],[26.6,30.3,3.7,1.14...",38,50,50,"[[1677278239,31,43,57,0,190],[1677278546,31,37...",27.5,32.7,NaN
2,63fad5989b70de1788c05ed3,1F1071,NaN,1677362163,1677383024,56.2,15.4,172.7,"[[1677362164,63,null,127],[1677362168,63,null,...",54,20861,20861,3360,17490,3210,10380,3900,1200,0,"[[1677362179,4],[1677363349,2],[1677365569,1],...",0,,57,"[1677362172,1677362952,1677363176,1677363196,1...",120,48,70,12,23,0,,1,"[[33.2,33.9,0.7,1.02,0.15],[37.6,37.6,0.0,1.00...",44,47,53,"[[1677363514,34,55,45,0,125],[1677363694,31,46...",33.2,33.9,NaN
3,63fb1a05e545a7178822a7d9,1F1071,NaN,1677362163,1677400502,54.6,14.9,160.6,"[[1677362164,63,null,127],[1677362168,63,null,...",94,38339,37080,7080,31260,9030,16320,5910,1200,1259,"[[1677362179,4],[1677363349,2],[1677365569,1],...",3,"[[1677400423,1677399971],[1677398387,167739770...",92,"[1677362172,1677362952,1677363176,1677363196,1...",120,45,70,4,26,0,,5,"[[33.4,30.3,-3.1,0.91,-0.31],[37.7,31.7,-5.9,0...",36,44,56,"[[1677363514,34,55,45,0,125],[1677363694,31,46...",33.4,30.3,NaN
4,63fd9096a515a2184828f7fe,1F1071,NaN,1677527089,1677561964,54.6,14.6,218.5,"[[1677527092,null,null,0],[1677527096,null,nul...",79,34875,31020,8100,26760,6450,14880,5430,2340,3855,"[[1677527107,4],[1677529417,3],[1677529717,4],...",8,"[[1677535297,1677535176],[1677532707,167753239...",107,"[1677532752,1677532944,1677533084,1677533196,1...",120,45,107,10,25,0,,2,"[[35.6,24.0,-11.6,0.67,-1.58],[34.2,28.0,-6.2,...",34,40,60,"[[1677533696,20,21,79,0,127],[1677534597,26,26...",35.6,24,NaN

### Sbt563

In [164]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt563/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df76 = df
df76.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63ec59897749d56afaac4d70,169FF4,NaN,1676408091,1676433751,65.4,13.3,98.5,"[[1676408093,null,null,976],[1676408097,null,n...",73,25660,24920,1800,23850,7020,13770,3060,1230,740,"[[1676408108,4],[1676409308,2],[1676410778,1],...",1,"[[1676408867,1676408127]]",19,"[1676408117,1676409513,1676409529,1676409553,1...",120,51,93,10,22,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
1,63ec8270043aeb6afa52cd40,169FF4,NaN,1676408091,1676444242,65.4,13.2,115.9,"[[1676408093,null,null,976],[1676408097,null,n...",101,36151,35173,2220,33930,9000,21270,3660,1290,978,"[[1676408108,4],[1676409368,2],[1676410778,1],...",2,"[[1676433989,1676433751],[1676408867,1676408127]]",44,"[1676408117,1676409513,1676409529,1676409553,1...",120,50,93,10,25,0,,1,NaN,0,0,0,,NaN,NaN,NaN
2,63edc68ed41e016afa16094c,169FF4,NaN,1676493398,1676527213,63.3,13.2,65.8,"[[1676493402,null,null,65],[1676493406,null,nu...",95,33815,33490,2460,31350,9090,18540,3720,1230,325,"[[1676493417,4],[1676494617,2],[1676495757,3],...",1,"[[1676516875,1676516550]]",25,"[1676493430,1676493454,1676493470,1676493486,1...",120,47,88,7,19,0,,1,NaN,0,0,0,,NaN,NaN,NaN
3,63eef515576d4b1432cf2c00,169FF4,NaN,1676585502,1676604605,68.5,13.4,76.4,"[[1676585504,null,null,403],[1676585508,null,n...",51,19103,19103,2280,16830,4590,9930,2310,2010,0,"[[1676585519,4],[1676587499,2],[1676587979,3],...",0,,16,"[1676585532,1676585920,1676585936,1676586168,1...",120,43,95,10,20,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
4,63ef26eb83cb0d1432327990,169FF4,NaN,1676585502,1676617428,68.0,13.3,87.3,"[[1676585504,null,null,403],[1676585508,null,n...",90,31926,31713,2640,29280,9180,16230,3870,1620,213,"[[1676585519,4],[1676587109,2],[1676587769,3],...",1,"[[1676604818,1676604605]]",27,"[1676585532,1676585920,1676585936,1676586168,1...",120,43,95,10,20,0,,1,NaN,0,0,0,[],NaN,NaN,NaN

### Sbt564

In [165]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt564/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df77 = df
df77.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63edac7c084b4d6afa047b2a,16A14C,NaN,1676503018,1676520513,51.4,16.3,96.6,"[[1676503019,null,null,30],[1676503023,null,nu...",51,17495,17495,1950,15540,5250,7290,3000,450,0,"[[1676503034,4],[1676503454,2],[1676504984,3],...",0,,14,"[1676503023,1676504519,1676504543,1676504559,1...",120,44,80,8,24,0,,1,"[[51.4,28.4,-23.0,0.55,-460.00],[39.9,39.9,0.0...",51,55,45,"[[1676503468,51,45,55,0,38],[1676503648,28,64,...",51.4,28.4,NaN
1,63edcfb7bfff936afab6b105,16A14C,NaN,1676503018,1676529538,51.5,15.9,98.9,"[[1676503019,null,null,30],[1676503023,null,nu...",72,26520,26406,4260,22260,6660,10470,5130,570,114,"[[1676503034,4],[1676503574,2],[1676505014,3],...",1,"[[1676520627,1676520513]]",37,"[1676503023,1676504519,1676504543,1676504559,1...",120,44,80,5,24,0,,2,"[[30.6,18.9,-11.7,0.62,-2.06],[29.0,20.0,-9.0,...",29,50,50,"[[1676503648,29,65,35,0,31],[1676520717,26,62,...",30.6,18.9,NaN
2,63eed2c47345861432bcd404,16A14C,NaN,1676588436,1676595885,49.2,16.3,90.2,"[[1676588440,null,null,71],[1676588444,null,nu...",19,7449,7449,1530,5910,690,3510,1710,360,0,"[[1676588455,4],[1676588785,2],[1676590495,1],...",0,,8,"[1676588580,1676588852,1676589288,1676589348,1...",120,43,70,6,22,0,,0,"[[38.4,25.8,-12.6,0.67,-13.26],[32.1,32.1,0.0,...",38,36,64,"[[1676589786,38,41,59,0,65],[1676593206,26,32,...",38.4,25.8,NaN
3,63eefc080484be14323e7a4b,16A14C,NaN,1676588436,1676606458,50.5,17.2,84.0,"[[1676588440,null,null,71],[1676588444,null,nu...",53,18022,17934,1290,16740,2970,10320,3450,360,88,"[[1676588455,4],[1676588785,2],[1676590495,1],...",1,"[[1676595973,1676595885]]",10,"[1676588580,1676588852,1676589288,1676589348,1...",120,43,111,6,25,0,,1,"[[37.8,33.1,-4.7,0.88,-1.08],[32.3,33.5,1.2,1....",43,51,49,"[[1676589786,33,33,67,0,60],[1676593206,32,39,...",37.8,33.1,NaN
4,63ef224c7194001432ffbf37,16A14C,NaN,1676588436,1676616196,51.6,17.0,108.1,"[[1676588440,null,null,71],[1676588444,null,nu...",76,27760,27548,3900,23850,4170,13620,6060,360,212,"[[1676588455,4],[1676588785,2],[1676590495,1],...",2,"[[1676606582,1676606458],[1676595973,1676595885]]",67,"[1676588580,1676588852,1676589288,1676589348,1...",120,43,111,5,25,0,,3,"[[37.8,33.1,-4.7,0.88,-1.08],[32.3,33.5,1.2,1....",43,51,49,"[[1676589786,33,33,67,0,60],[1676593206,32,39,...",37.8,33.1,NaN

### Sbt569

In [166]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt569/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df78 = df
df78.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63f84477f5e8481432120d20,16A473,NaN,1677198662,1677214790,59,15.3,124.9,"[[1677198664,null,null,50],[1677198668,null,nu...",34,16128,14550,4140,11970,3060,6690,2220,900,1578,"[[1677198679,4],[1677199549,2],[1677200869,1],...",2,"[[1677214746,1677213708],[1677212606,1677212066]]",30,"[1677198688,1677198704,1677198800,1677201788,1...",120,49,99,6,26,0,,1,"[[46.1,22.9,-23.2,0.50,-7.61],[41.0,26.8,-14.1...",48,51,49,"[[1677200372,40,40,60,0,57],[1677203792,43,43,...",46.1,22.9,NaN
1,63f94bb223c327143283dd97,16A473,NaN,1677273374,1677282148,59.2,14.4,136.8,"[[1677273376,null,null,5566],[1677273380,null,...",24,8774,8774,960,7800,1590,4830,1380,930,0,"[[1677273391,4],[1677274291,2],[1677275371,3],...",0,,10,"[1677273376,1677273404,1677276735,1677277827,1...",120,51,77,12,21,0,,0,"[[29.2,29.9,0.7,1.02,1.89],[29.5,29.5,0.0,1.00...",30,38,62,"[[1677280336,29,29,71,0,41],[1677280695,29,36,...",29.2,29.9,NaN
2,63f9b349768328143200a589,16A473,NaN,1677273374,1677308717,59.2,14.9,144.5,"[[1677273376,null,null,5566],[1677273380,null,...",100,35343,35213,2460,32880,8610,19770,4500,930,130,"[[1677273391,4],[1677274291,2],[1677275581,3],...",1,"[[1677282278,1677282148]]",52,"[1677273376,1677273404,1677276735,1677277827,1...",120,51,118,12,26,0,,2,"[[29.6,23.9,-5.7,0.81,-0.74],[28.9,22.8,-6.1,0...",31,55,45,"[[1677280336,30,30,70,0,39],[1677280695,31,35,...",29.6,23.9,NaN
3,63fac1429922901432dbc979,16A473,NaN,1677358101,1677377840,60.7,15.3,147.5,"[[1677358103,null,null,182],[1677358107,null,n...",51,19739,19739,3360,16380,3450,9390,3540,1860,0,"[[1677358118,4],[1677359948,2],[1677361238,1],...",0,,32,"[1677358142,1677359574,1677359642,1677360382,1...",120,49,105,13,22,0,,1,"[[21.8,31.2,9.3,1.43,2.15],[23.6,29.6,6.0,1.26...",39,44,56,"[[1677361282,16,39,61,0,51],[1677362182,18,39,...",21.8,31.2,NaN

### Sbt571

In [167]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt571/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df79 = df
df79.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63ff8dad60d7781432d1faa0,16A34C,NaN,1677679880,1677692313,67.5,15,72.7,"[[1677679881,null,null,83],[1677679885,null,nu...",25,12433,11700,4170,8250,3390,3000,1860,2190,733,"[[1677679896,4],[1677682056,3],[1677683436,4],...",5,"[[1677692202,1677692138],[1677691979,167769176...",35,"[1677679909,1677679929,1677679945,1677680009,1...",120,43,99,8,23,0,,1,"[[26.8,26.3,-0.5,0.98,-0.26],[26.7,26.5,-0.2,0...",29,49,51,"[[1677684232,26,37,63,0,255],[1677684412,26,43...",26.8,26.3,NaN
1,63ff946ac1ed4b14328cc398,16A34C,NaN,1677679880,1677694025,67.7,14.9,79.1,"[[1677679881,null,null,83],[1677679885,null,nu...",19,14145,13336,6480,7650,1140,4290,2220,2190,809,"[[1677679896,4],[1677682056,3],[1677683196,4],...",6,"[[1677692389,1677692313],[1677692202,167769213...",48,"[1677679909,1677679929,1677679945,1677680009,1...",120,43,99,8,23,0,,2,"[[26.8,26.3,-0.5,0.98,-0.26],[26.7,26.5,-0.2,0...",29,49,51,"[[1677684232,26,37,63,0,255],[1677684412,26,43...",26.8,26.3,NaN
2,64003ba5b58d45143263801f,16A34C,NaN,1677705913,1677736811,63.2,13.5,114.2,"[[1677705917,71,null,145],[1677705921,71,null,...",65,30898,29336,7770,23130,2670,15360,5100,1380,1562,"[[1677705932,4],[1677707282,2],[1677708152,4],...",5,"[[1677736551,1677736096],[1677733971,167773375...",103,"[1677706001,1677706169,1677706217,1677706289,1...",120,43,100,8,22,0,,3,"[[27.4,23.4,-4.0,0.85,-0.69],[27.3,24.0,-3.3,0...",28,65,35,"[[1677712921,22,43,57,0,108],[1677713101,22,45...",27.4,23.4,NaN
3,6400448396efc114326d1b5a,16A34C,NaN,1677705913,1677739114,63.6,13.5,113.7,"[[1677705917,71,null,145],[1677705921,71,null,...",71,33201,31550,8280,24930,2670,16440,5820,1260,1651,"[[1677705932,4],[1677707162,2],[1677708152,4],...",6,"[[1677736900,1677736811],[1677736551,167773609...",114,"[1677706001,1677706169,1677706217,1677706289,1...",120,43,100,6,25,0,,4,"[[27.0,22.8,-4.2,0.85,-0.58],[27.2,23.5,-3.7,0...",34,60,40,"[[1677712921,22,43,57,0,108],[1677713101,22,46...",27.0,22.8,NaN
4,640157a272e0311432152f72,16A34C,NaN,1677793444,1677809492,76.8,15.4,108.5,"[[1677793445,null,null,11],[1677793449,null,nu...",39,16048,15747,2580,13470,4050,7620,1800,1680,301,"[[1677793460,4],[1677795110,2],[1677796700,1],...",2,"[[1677809282,1677809219],[1677808893,1677808655]]",49,"[1677793549,1677793625,1677793865,1677794013,1...",120,57,98,11,25,0,,1,"[[16.5,17.3,0.8,1.05,0.22],[16.4,16.9,0.5,1.03...",23,68,32,"[[1677795875,14,49,51,1,150],[1677796055,15,47...",16.5,17.3,NaN

### Sbt583

In [168]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt583/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df80 = df
df80.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63f835f9e84df01338b4581d,1C7029,NaN,1677186786,1677211109,68.9,23.3,479.7,"[[1677186787,null,null,12434],[1677186791,null...",70,24323,24323,1410,22920,5160,14610,3150,720,0,"[[1677186802,4],[1677187492,2],[1677189202,3],...",0,,131,"[1677186787,1677186799,1677186815,1677186831,1...",120,46,98,19,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
1,63f9a72d1b270e17885bbcea,1C7029,NaN,1677274470,1677305611,69.7,22.5,511.5,"[[1677274473,null,null,32767],[1677274477,null...",94,31141,31141,480,30660,7680,19260,3720,480,0,"[[1677274488,4],[1677274938,2],[1677276738,1],...",0,,264,"[1677274477,1677274493,1677274509,1677274525,1...",120,48,98,10,26,0,,0,NaN,0,0,0,[],NaN,NaN,NaN
2,63fafa10fd69ef1788504a16,1C7029,NaN,1677363936,1677392379,69.4,21.7,472.7,"[[1677363940,null,null,40],[1677363944,null,nu...",80,28443,28443,1500,26940,8250,16260,2430,870,0,"[[1677363955,4],[1677364795,2],[1677365755,3],...",0,,213,"[1677363948,1677363964,1677363980,1677363996,1...",120,46,95,14,26,0,,0,NaN,0,0,0,,NaN,NaN,NaN
3,63fc2a55e95d900fa8a3ae07,1C7029,NaN,1677444561,1677470146,68.5,22.0,455.3,"[[1677444562,null,null,8733],[1677444566,null,...",65,25585,25354,3060,22530,4560,14970,3000,1230,231,"[[1677444577,4],[1677445777,2],[1677446887,3],...",1,"[[1677458899,1677458668]]",173,"[1677444586,1677444602,1677444618,1677444710,1...",120,49,102,17,26,0,,1,NaN,0,0,0,[],NaN,NaN,NaN
4,63fd7c034a79c11848117581,1C7029,NaN,1677534399,1677556609,69.2,21.5,583.2,"[[1677534400,null,null,32767],[1677534404,null...",56,22210,21817,3090,19110,5580,11040,2490,900,393,"[[1677534415,4],[1677535285,2],[1677536065,3],...",2,"[[1677553844,1677553670],[1677543401,1677543182]]",183,"[1677534400,1677534416,1677534584,1677534996,1...",120,47,102,15,26,0,,2,NaN,0,0,0,,NaN,NaN,NaN

### Sbt586

In [169]:
# Define the directory where the log files are located
log_dir = "C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/Emfit/Sbt586/"

# Define the desired column names
desired_columns = ['id', 'device', 'user_id', 'from', 'to', 'avg_hr', 'avg_rr', 'avg_act',
        'calc_data', 'sleep_score', 'duration', 'duration_in_bed',
        'duration_awake', 'duration_in_sleep', 'duration_in_rem',
        'duration_in_light', 'duration_in_deep', 'duration_sleep_onset',
        'bedexit_duration', 'sleep_data', 'bedexit_count', 'bedexit_data',
        'tossnturn_count', 'tossnturn_data', 'from_gmt_offset', 'min_hr',
        'max_hr', 'min_rr', 'max_rr', 'fm_count', 'fm_data', 'awakenings',
        'hrv_data', 'hrv_score', 'hrv_lf', 'hrv_hf', 'hrv_rmssd_data',
        'hrv_rmssd_evening', 'hrv_rmssd_morning', 'temp_v1_uid']

# Create an empty dataframe with the desired column names
df = pd.DataFrame(columns=desired_columns)

# Loop over all the log files in the directory
for filename in os.listdir(log_dir):
    if filename.endswith(".log"):
        file_path = os.path.join(log_dir, filename)
        # print(f"Processing file {file_path}")
        
        # Read the log file into a temporary dataframe
        data = pd.read_json(file_path, lines=True)
        temp_df = pd.DataFrame(data)
        
        # Check if the temporary dataframe has all the desired columns
        if set(desired_columns).issubset(set(temp_df.columns)):
            # If it does, append it to the main dataframe
            df = pd.concat([df, temp_df[desired_columns]], ignore_index=True)

        else:
            # If it doesn't, create a new dataframe with only the columns that exist in the temporary dataframe
            # and append it to the main dataframe
            # print(f"File {file_path} has missing columns")
            missing_columns = set(desired_columns) - set(temp_df.columns)
            new_columns = [col for col in desired_columns if col not in missing_columns]
            df = pd.concat([df, temp_df[new_columns]], ignore_index=True)

# Display the resulting dataframe
df81 = df
df81.head(5)

,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,sleep_score,duration,duration_in_bed,duration_awake,duration_in_sleep,duration_in_rem,duration_in_light,duration_in_deep,duration_sleep_onset,bedexit_duration,sleep_data,bedexit_count,bedexit_data,tossnturn_count,tossnturn_data,from_gmt_offset,min_hr,max_hr,min_rr,max_rr,fm_count,fm_data,awakenings,hrv_data,hrv_score,hrv_lf,hrv_hf,hrv_rmssd_data,hrv_rmssd_evening,hrv_rmssd_morning,temp_v1_uid
0,63fe92952f91ec18484a1c33,11EC56,NaN,1677620134,1677627980,61.2,16.1,608.1,"[[1677620138,null,null,405],[1677620142,null,n...",18,7846,7846,1920,5910,1140,3390,1380,840,0,"[[1677620153,4],[1677620963,2],[1677623063,1],...",0,,102,"[1677620146,1677620162,1677620178,1677620194,1...",120,54,114,10,26,0,,0,"[[23.6,38.5,14.9,1.63,9.61],[30.4,31.7,1.4,1.0...",46,25,75,"[[1677621124,21,29,71,0,680],[1677621665,22,28...",23.6,38.5,NaN
1,63fef84eef176518489aba2c,11EC56,NaN,1677620134,1677654035,60.2,15.8,468.6,"[[1677620138,null,null,405],[1677620142,null,n...",89,33901,33557,4200,29700,7980,17430,4290,840,344,"[[1677620153,4],[1677620963,2],[1677623033,1],...",2,"[[1677653086,1677652879],[1677628117,1677627980]]",274,"[1677620146,1677620162,1677620178,1677620194,1...",120,49,126,10,26,0,,1,"[[35.0,21.7,-13.3,0.62,-1.55],[29.0,21.6,-7.4,...",25,32,68,"[[1677621124,22,29,71,0,680],[1677621665,22,28...",35.0,21.7,NaN
2,64002e9c82af5e1848c39a00,11EC56,NaN,1677707752,1677733460,61.7,16.6,451.9,"[[1677707755,null,null,9560],[1677707759,null,...",68,25708,25642,3420,22290,7080,12150,3060,1830,66,"[[1677707770,4],[1677709570,2],[1677711400,3],...",1,"[[1677733448,1677733382]]",192,"[1677707779,1677707795,1677707827,1677707847,1...",120,49,125,12,26,0,,0,"[[70.7,31.1,-39.6,0.44,-6.49],[69.1,39.1,-30.0...",44,33,67,"[[1677709822,54,27,73,0,188],[1677710002,60,27...",70.7,31.1,NaN
3,640142b5c0869a1848a5de45,11EC56,NaN,1677794122,1677804160,59.5,15.3,453.4,"[[1677794126,null,null,6057],[1677794130,null,...",27,10038,10038,1320,8700,2850,4590,1260,1050,0,"[[1677794141,4],[1677795161,2],[1677796631,1],...",0,,71,"[1677794138,1677794154,1677794178,1677794198,1...",120,55,72,13,26,0,,0,"[[9.4,68.0,58.6,7.27,25.43],[26.4,47.9,21.5,1....",77,36,64,"[[1677795293,25,51,49,0,107],[1677795473,24,46...",9.4,68.0,NaN
4,640185861eab4c1848f78672,11EC56,NaN,1677794122,1677821258,58.3,15.6,439.2,"[[1677794126,null,null,6057],[1677794130,null,...",71,27136,27019,2940,24180,8250,13290,2640,1020,117,"[[1677794141,4],[1677795131,2],[1677796601,1],...",1,"[[1677804277,1677804160]]",184,"[1677794138,1677794154,1677794178,1677794198,1...",120,49,117,13,26,0,,3,"[[43.6,28.7,-14.8,0.66,-2.11],[26.6,22.1,-4.5,...",31,31,69,"[[1677795293,26,48,52,0,104],[1677795473,25,44...",43.6,28.7,NaN

### Concate dem alle sammen til en df

In [170]:
# Use log_dir to find patientID that will be the last 3 numbers in the file name
df1['patientID'] = log_dir.str[-3:]
df2['patientID'] = log_dir.str[-3:]
df3['patientID'] = log_dir.str[-3:]
df4['patientID'] = log_dir.str[-3:]
df5['patientID'] = log_dir.str[-3:]
df6['patientID'] = log_dir.str[-3:]
df7['patientID'] = log_dir.str[-3:]
df8['patientID'] = log_dir.str[-3:]
df9['patientID'] = log_dir.str[-3:]
df10['patientID'] = log_dir.str[-3:]
df11['patientID'] = log_dir.str[-3:]
df12['patientID'] = log_dir.str[-3:]
df13['patientID'] = log_dir.str[-3:]
df14['patientID'] = log_dir.str[-3:]
df15['patientID'] = log_dir.str[-3:]
df16['patientID'] = log_dir.str[-3:]
df17['patientID'] = log_dir.str[-3:]
df18['patientID'] = log_dir.str[-3:]
df19['patientID'] = log_dir.str[-3:]
df20['patientID'] = log_dir.str[-3:]
df21['patientID'] = log_dir.str[-3:]
df22['patientID'] = log_dir.str[-3:]
df23['patientID'] = log_dir.str[-3:]
df24['patientID'] = log_dir.str[-3:]
df25['patientID'] = log_dir.str[-3:]
df26['patientID'] = log_dir.str[-3:]
df27['patientID'] = log_dir.str[-3:]
df28['patientID'] = log_dir.str[-3:]
df29['patientID'] = log_dir.str[-3:]
df30['patientID'] = log_dir.str[-3:]
df31['patientID'] = log_dir.str[-3:]
df32['patientID'] = log_dir.str[-3:]
df33['patientID'] = log_dir.str[-3:]
df34['patientID'] = log_dir.str[-3:]
df35['patientID'] = log_dir.str[-3:]
df36['patientID'] = log_dir.str[-3:]
df37['patientID'] = log_dir.str[-3:]
df38['patientID'] = log_dir.str[-3:]
df39['patientID'] = log_dir.str[-3:]
df40['patientID'] = log_dir.str[-3:]
df41['patientID'] = log_dir.str[-3:]
df42['patientID'] = log_dir.str[-3:]
df43['patientID'] = log_dir.str[-3:]
df44['patientID'] = log_dir.str[-3:]
df45['patientID'] = log_dir.str[-3:]
df46['patientID'] = log_dir.str[-3:]
df47['patientID'] = log_dir.str[-3:]
df48['patientID'] = log_dir.str[-3:]
df49['patientID'] = log_dir.str[-3:]
df50['patientID'] = log_dir.str[-3:]
df51['patientID'] = log_dir.str[-3:]
df52['patientID'] = log_dir.str[-3:]
df53['patientID'] = log_dir.str[-3:]
df54['patientID'] = log_dir.str[-3:]
df55['patientID'] = log_dir.str[-3:]
df56['patientID'] = log_dir.str[-3:]
df57['patientID'] = log_dir.str[-3:]
df58['patientID'] = log_dir.str[-3:]
df59['patientID'] = log_dir.str[-3:]
df60['patientID'] = log_dir.str[-3:]
df61['patientID'] = log_dir.str[-3:]
df62['patientID'] = log_dir.str[-3:]
df63['patientID'] = log_dir.str[-3:]
df64['patientID'] = log_dir.str[-3:]
df65['patientID'] = log_dir.str[-3:]
df66['patientID'] = log_dir.str[-3:]
df67['patientID'] = log_dir.str[-3:]
df68['patientID'] = log_dir.str[-3:]
df69['patientID'] = log_dir.str[-3:]
df70['patientID'] = log_dir.str[-3:]
df71['patientID'] = log_dir.str[-3:]
df72['patientID'] = log_dir.str[-3:]
df73['patientID'] = log_dir.str[-3:]
df74['patientID'] = log_dir.str[-3:]
df75['patientID'] = log_dir.str[-3:]
df76['patientID'] = log_dir.str[-3:]
df77['patientID'] = log_dir.str[-3:]
df78['patientID'] = log_dir.str[-3:]
df79['patientID'] = log_dir.str[-3:]
df80['patientID'] = log_dir.str[-3:]
df81['patientID'] = log_dir.str[-3:]

# Concate dem alle sammen fra df1 til df81
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, df43, df44, df45, df46, df47, df48, df49, df50, df51, df52, df53, df54, df55, df56, df57, df58, df59, df60, df61, df62, df63, df64, df65, df66, df67, df68, df69, df70, df71, df72, df73, df74, df75, df76, df77, df78, df79, df80, df81], ignore_index=True)

df



# # Make a csv file of the dataframe
# df.to_csv('Data.csv')