## Data

In [5]:
# Import 
import pandas as pd
import numpy as np

####### pip install openpyxl

# convert xlsx to csv
df_FP1 = pd.read_excel('FP1_HF_DataValues.xlsx')
df_FP2 = pd.read_excel('FP2_HF_DataValues.xlsx')

df_FP1

,SubjectId,TimeMeasrd,DataSrcId,DataTypeId,DataTypeLabel,Value,Unit
0,49,2017-01-05 11:43:30,2,2,"Blodtryk, Systolisk",153.0,mmHg
1,49,2017-01-05 11:43:30,2,3,"Blodtryk, Diastolisk",84.0,mmHg
2,49,2017-01-05 11:43:30,2,4,Puls,66.0,BPM
3,49,2017-01-05 23:59:59,3,5,Skridt,8262.0,skridt
4,49,2017-01-06 11:24:25,2,1,Vægt,63.2,kg
...,...,...,...,...,...,...,...
135847,393,2018-12-29 23:59:59,3,5,Skridt,1979.0,skridt
135848,393,2018-12-30 20:20:01,3,5,Skridt,6669.0,skridt
135849,393,2019-04-23 11:40:00,1,2,"Blodtryk, Systolisk",134.0,mmHg
135850,393,2019-04-23 11:40:00,1,3,"Blodtryk, Diastolisk",76.0,mmHg
135851,393,2019-04-23 11:40:00,1,4,Puls,57.0,BPM

In [6]:

## Print all DataTypeLabel in df_FP2
# df_FP2['DataTypeLabel'].unique() # 'Blodtryk, Systolisk', 'Blodtryk, Diastolisk', 'Puls', 'Vægt', 'Skridt'

df_FP2

,SubjectId,TimeMeasrd,DataSrcId,DataTypeId,DataTypeLabel,Value,Unit
0,431,2020-10-07 16:45:46,7,2,"Blodtryk, Systolisk",160.000000,mmHg
1,431,2020-10-07 16:45:46,7,3,"Blodtryk, Diastolisk",69.000000,mmHg
2,431,2020-10-07 16:45:46,7,4,Puls,65.000000,BPM
3,431,2020-10-07 16:48:19,7,1,Vægt,78.250000,kg
4,431,2020-10-07 16:48:46,7,1,Vægt,75.900002,kg
...,...,...,...,...,...,...,...
27297,554,2023-02-28 05:27:23,7,1,Vægt,78.750000,kg
27298,554,2023-03-01 04:36:28,7,1,Vægt,78.250000,kg
27299,554,2023-03-01 04:38:02,7,2,"Blodtryk, Systolisk",128.000000,mmHg
27300,554,2023-03-01 04:38:02,7,3,"Blodtryk, Diastolisk",73.000000,mmHg
27301,554,2023-03-01 04:38:02,7,4,Puls,65.000000,BPM